[2018-10-23 00:57] TobeChan commented on #2613
@negativekelvin OK, I am sorry,my network was block  at that time

[2018-10-23 00:57] #2613 closed

[2018-10-23 01:38] #2608 closed

[2018-10-23 02:00] Abol-Wang commented on #1339
@loboris I recently encountered the same problem with M5stack, do you have a suitable solution?

[2018-10-23 02:09] blueMoodBHD commented on #2191
@Elektrik1 We find a bug in sniff mode, it will disconnect after enter sniff mode. we will fix it, soon.

For now, if it is a Android device, turn off and turn on the Bluetooth will fix it. And if it is a iphone device, restart your phone will fix it.

[2018-10-23 02:17] negativekelvin commented on #2614
How are you doing flow control?

[2018-10-23 02:43] outermanle commented on #2614
No hardware flow control.
With flow control between  packets transfer.

No software flow control during one transfer but set rx-buffer to max packet len for buffering.
max packet length 1024 bytes, get errors even set to 256bytes, need to do flow control?

[2018-10-23 03:15] Abol-Wang opened #2616 "How to use SDCard in SPI mode & spi_master at the same time on the M5Stack(esp32 core)?"
It looks like spi_master and sd card in spi mode (sdpi_host) cannot be used at the same time.

I've tested combining the "iot_lcd.cpp" from <esp-iot-solution> and sd card example and I cannot get both working.

My LCD GPIO:
RST-GPIO23 DC-GPIO27 MOSI-GPIO23 SCK-GPIO18 CS-GPIO14

My SD SPI GPIO:
CS-GPIO4 MOSI-GPIO23 SDDO-GPIO19 CLK-GPIO18

/****************************************Test configuration:

[2018-10-23 03:17] Abol-Wang commented on #2616
Do you have a suitable solution?
This question really bothers me to use esp32 on the M5Stack.

[2018-10-23 03:28] negativekelvin commented on #2614
If esp8266 is dropping bytes at high baud it sounds like you need to lower rx fifo full threshold

[2018-10-23 03:47] blueMoodBHD commented on #2595
Hi @mringwal,
What version of ESP-IDF do you use?
And if it is convenient, can you provide your code?

[2018-10-23 03:57] igrr commented on #2616
Closing as duplicate of https://github.com/espressif/esp-idf/issues/1597. Please follow the link to this issue and click "Subscribe" to receive further update.

[2018-10-23 03:57] #2616 closed

[2018-10-23 05:33] liuzfesp commented on #2582
HI @dereks , yes, you need to forward the copy of the event to user task because the event is allocated on the stack

[code]

[2018-10-23 05:53] liuzfesp commented on #2544
Hi @negativekelvin, this issue has been fixed in 660770ea97d82883700569a7f25f93513f8a436f

[2018-10-23 06:05] mahavirj commented on #2171
@wegunterjr @chegewara AWS IoT examples on `master` branch have been optimized for better dynamic memory allocations. Please refer https://github.com/espressif/esp-idf/commit/5585f699d11c76f3c4d51888ebc6e258bad13e48#diff-f81ac7f81ab0dde348df60f02dd3c071. Please help to close this issue once verified.

[2018-10-23 06:10] mahavirj commented on #1497
@tdesmet Storing to custom NVS partition is recommended way. NVS partition generator utility can help in this regard, please refer https://docs.espressif.com/projects/esp-idf/en/latest/api-reference/storage/nvs_partition_gen.html?highlight=nvs#nvs-partition-generator-utility (Recently this also comes with additional security layer of encryption support).

[2018-10-23 06:10] chegewara commented on #2171
@mahavirj For me there is no issue, ive been working with arduino ide and my app is working. In worst case scenario i can move to esp-idf and/or use wrover board. Only issue i have is using option to allocate mbedTLS in SPIRAM, but this is different issue and i have to test it more.

[2018-10-23 06:14] liuzfesp commented on #2531
Hi @almini  @markfink,  could you help to try IDF commit d57132b2129838a0d7193fbebc363391ba3e1b6d?

In your demo code, **the WiFi only have one chance to connects the AP**, it's not robust because the first time connecting may fail.  The most common way is to call `esp_wifi_connect()` instead of `esp_wifi_stop()` when getting event SYSTEM_EVENT_STA_DISCONNECTED.

[2018-10-23 06:29] liuzfesp commented on #2430
Hi @andrewvoznytsa , sorry for late response, could you help to try this IDF commit: d57132b2129838a0d7193fbebc363391ba3e1b6d, we have done a lot of WiFi optimizations to improve the throughput/stability.

[2018-10-23 07:15] ThisNameIsNotAllowed opened #2617 "[TW#26953] Avoid Magic number in bluetooth `gatt_server_service_table` example"
https://github.com/espressif/esp-idf/blob/129d32772e5e5eafe88be5b9eb34687e84a6f8b8/examples/bluetooth/gatt_server_service_table/main/gatts_table_creat_demo.c#L119

Should be replaced by `.service_uuid_len = sizeof(service_uuid),` to avoid magic numbers

[2018-10-23 07:53] mringwal commented on #2595
HI @blueMoodBHD - I'm using the current version of the ESP-IDF master branch (129d32772)

To reproduce:

checkout out BTstack (https://github.com/bluekitchen/btstack/) and change to 'develop' branch.

In btstack/port/esp32, run ./integrate_btstack.py

(This will copy BTstack into esp-idf/components/btstack as well as create example projects at btstack/port/esp32/example. More Info at https://githu

[2018-10-23 08:02] outermanle commented on #2614
@negativekelvin

It works well after adjust the rx fifo full threshold.
Thank you so much!

And I also want to get the error rate of baudrate from 78400 to 921600 about esp32(40MHz xtal) and esp8266(26Mhz xtal), do you have this specification or formula about clock division?

[2018-10-23 08:07] agmuntianu opened #2618 "[TW#26950] SYSTEM_EVENT_AP_STADISCONNECTED event is not triggered while running a OTA to a ESP32 running softAP"
## Environment
- Development Kit:      		[none]
- Core (if using chip or module): [ESP-WROOM-32D]
- IDF version:   			22da5f6de ( v3.1-rc2 tag)
- Development Env: 		[Make|Eclipse]
- Operating System:		[Ubuntu]
- Power Supply:         [external 3.3V]

## Problem Description
If using the ESP32 softAP to upload a new firmware using a POST / OTA, I get a lot of failed flashing attempts if I don't wait

[2018-10-23 08:15] dongdong004 commented on #2427
`E (13331) event: invalid static ip` This is because of that dhcp is stopped when establishing mesh network, it's not a issue

[2018-10-23 08:28] jakkra opened #2619 "Simultaneous WiFi AP + BT Classic slave causes stations to disconnect (IDFGH-424)"
## Environment

- Development Kit:      [none]
- Core (if using chip or module): [ESP32]
- IDF version f11ac037c4958fc68e67a50134a0ce9a1634008c
- Development Env:		[Make]
- Operating System:		[Windows]
- Power Supply:         [USB]

## Problem Description
Accesspoint loses connection to its stations if a device connects to it over SPP while it has stations connected to it.

Afterwards the station

[2018-10-23 08:31] dongdong004 commented on #2427
`mesh_main: <MESH_EVENT_PARENT_DISCONNECTED>reason:204`
The reason code 204 mainly caused by incorrect password. Please check the password you set and try again. It's better to use a newer version.

[2018-10-23 08:42] negativekelvin commented on #2614
Both will usually use source clock of 80mhz but esp32 has fractional divider and esp8266 has integer divider

[2018-10-23 09:01] jonathanmuller commented on #2012
Attached a working example.
Feel free to clean it and merge it via pull request or ask for details.
[scan_csi_frames.zip](https://github.com/espressif/esp-idf/files/2505340/scan_csi_frames.zip)

[2018-10-23 09:11] markfink commented on #2531
Hi @liuzfesp... I realized that my wifi problem was in fact caused by a silly mistake. I spelled the AP name in lowercase letters instead of uppercase - my bad. I still need to investigate what aws-wifi does differently and what they do to make it more resilient... once I find some time to do so I will open a separate ticket for that.

[2018-10-23 09:31] Weijian-Espressif commented on #2617
@ThisNameIsNotAllowed Thanks, I will modify it.

[2018-10-23 09:45] almini commented on #2531
Hello  @liuzfesp,
thanks for the tip. After a few tries it successfully connects to my iPhone AP.
v3.1 is able to always connect on the first try and it therefore needs much less time to connect.

[2018-10-23 09:54] agmuntianu commented on #2618
Another thing I noticed : If I have the access point started and the computer connected, but I program the ESP32 using ethernet , I still get that `SYSTEM_EVENT_AP_STACONNECTED ` event.

[2018-10-23 10:00] david-cermak commented on #2580
Hi @outermanle,

with some luck (+delaying some threads on purpose) I was able to recreate the issue you describe. I am posting a preliminary fix here, so you can check if it solves your crashes as well.
These fixes should be eventually applied to IDF, but it may take some time (reviews, internal pipeline...)  Thank you for taking the time to report the issue!

[0001-mdns-crash-on-net-change-fix-s

[2018-10-23 10:21] IIM-Slide commented on #2447
Thank you for the answer. Will follow up on this if the stack overflows again.

[2018-10-23 10:28] negativekelvin commented on #2618
Problem is long running flash erase cycle with no breaks cause ap issues

[2018-10-23 10:43] logozouxun commented on #2587
liu,以下是日志和bin文件.elf文件.
[ssession.log](https://github.com/espressif/esp-idf/files/2505739/ssession.log)

文件用7z压缩的，解压缩时，请使用7Z工具解压,build.zip文件名改成build.7z进行解压。
[build.zip](https://github.com/espressif/esp-idf/files/2505765/build.zip)

[2018-10-23 11:22] agmuntianu commented on #2618
so basically the `esp_ota_begin` takes too long ?

[2018-10-23 11:28] blueMoodBHD commented on #2595
Hi @mringwal，
I have reproduced the problem with your code.
And the reason of the assert is that ATT_NB filed in Control Structure is null.

[2018-10-23 11:32] outermanle commented on #2580
hi @david-cermak ,

Thanks a lot!
I will test it soon and give feedback later.

[2018-10-23 11:49] mringwal commented on #2595
Thanks for the update. I'm glad it reproduces for you.
 Is there anything I (resp. BTstack) needs to do differently?
Good luck with  further analysis!

[2018-10-23 12:04] welinkio opened #2620 "[TW#26961] OTA failed when using ETH."
Download will fail after receive some data.
test code on commit 129d32772e5e5eafe88be5b9eb34687e84a6f8b8

[2018-10-23 12:20] david-cermak commented on #2593
Hi @masual ,

It looks like this issue is related to #2507. You can check applying this change https://github.com/espressif/esp-idf/issues/2507#issuecomment-428704419 to the `components/mdns/mdns.c` file if it resolves your issue. If so, we have already prepared a fix internally.

[2018-10-23 13:44] whizkid79 commented on #461
Anything new on this topic?

[2018-10-23 14:50] #2072 closed

[2018-10-23 14:53] Milan991 opened #2621 "Internal Temperature Sensor Calibration and Calculation (test_tsens.c). (IDFGH-429)"
Is there a way to calibrate Internal Temperature sensor?

Also, I'm interested how to convert value read from this code to degree Celsius.

Thank you all in advance.

[2018-10-23 17:48] andrewvoznytsa commented on #2430
Hi,

thanks for update - below is typical log from my side. I'd note that
download speed was greatly improved. But there are still idle periods. On
first sight (did 4 test runs) idle periods are much shorter (usually ~1
second) but I noted a few times 10, 30, 36 and 60 seconds idles. For me it
means that issue is not resolved (60 second delay on resource constrained
streaming audio player is not a

[2018-10-23 20:37] ThisNameIsNotAllowed opened #2622 "[TW#26964] Avoid magic numbers in `bluetooth/gatt_server` example"
https://github.com/espressif/esp-idf/blob/129d32772e5e5eafe88be5b9eb34687e84a6f8b8/examples/bluetooth/gatt_server/main/gatts_demo.c#L110

as well as

https://github.com/espressif/esp-idf/blob/129d32772e5e5eafe88be5b9eb34687e84a6f8b8/examples/bluetooth/gatt_server/main/gatts_demo.c#L126

Could be replaced by `.service_uuid_len = sizeof(adv_service_uuid128),` to avoid magic numbers.

[2018-10-23 21:24] ropg opened #2623 "FreeRTOS vulnerabilities discoverted by zLabs, 18 Oct 2018"
ESP-IDF appears to include/run on a version of FreeRTOS that could very well be vulnerable to newly discovered remotely exploitable code-execution vulnerabilities. (See [here](http://blog.zimperium.com/freertos-tcpip-stack-vulnerabilities-put-wide-range-devices-risk-compromise-smart-homes-critical-infrastructure-systems/) for details)

I'm curious whether ESP-IDF is vulnerable, and if so when we c

[2018-10-23 21:26] devsaurus opened #2624 "[TW#26962] esp_http_client crashes with is_async for non-ssl url"
## Environment

- Development Kit:      []
- Core (if using chip or module): [ESP32-Wrover]
- IDF version (``git rev-parse --short HEAD`` to get the commit id.): 7313e39fd
- Development Env:		[Make]
- Operating System:		[openSuse]
- Power Supply:         [USB|Battery]

## Problem Description

I want to access a `http://server/path` url with `esp_http_client` in asynchronous mode but the core crash

[2018-10-23 22:36] negativekelvin commented on #2623
I think most of these are related to the free tcp/ip stack and esp-idf uses lwip

[2018-10-23 22:46] HudsonCory commented on #303
This all seems to be deprecated in new version of visual code. as a result it is ignored. does anyone have an updated tasks.json for reference?

[2018-10-23 23:06] projectgus commented on #2623
That's correct. According to the researchers:

ESP-IDF doesn't use these parts of FreeRTOS, only the core. But we'll keep an eye on the details of these vulnerabilities as they're published, just to be sure.

[2018-10-23 23:06] #2623 closed

[2018-10-24 00:01] huming2207 commented on #303
Guess we should try the official CMake now. They are rolling out the official support for CMake build system since v3.1 and it works fine in CLion.

For VSCode using CMake, probably here is a solution: https://medium.com/audelabs/c-development-using-visual-studio-code-cmake-and-lldb-d0f13d38c563

[2018-10-24 00:55] igrr commented on #2400
Thanks for the comment! We will keep the issue open until the patch makes its way into master. There is an additional defect identified during review which might lead to a deadlock, so the patch needs to be modified somewhat.

[2018-10-24 01:41] Alvin1Zhang commented on #2395
@VallariTrivedi Could you help share if any updates for this issue? Thanks.

[2018-10-24 01:42] Alvin1Zhang commented on #2431
@DavideTomasella Could you help share if any updates for this issue? Thanks.

[2018-10-24 01:52] suda-morris commented on #2620
Hi, @welinkio Can you show me more info about this issue?like your sdkconfig,partition table, log output?

[2018-10-24 03:09] Abol-Wang commented on #1597
@OtherCrashOverride I have modified esp-idf according to your suggestion, but cannot properly configure LCD and SPI SD. Could you please give me your configuration method?

[2018-10-24 03:47] dhrishi commented on #2622
That's right. Will fix it.

[2018-10-24 05:54] VallariTrivedi commented on #2395
@jitin17  I added esp_http_client_cleanup() to the calling API. This solves "Allocation Failed" error.

[2018-10-24 05:54] VallariTrivedi commented on #2395
I no longer get "Allocation Failed" error.
Thankyou for your support.

[2018-10-24 06:08] #2395 closed

[2018-10-24 06:28] Alvin1Zhang commented on #2590
@ChampOnBon Could you help share if any updates for this issue? Thanks.

[2018-10-24 06:33] Alvin1Zhang commented on #2562
@gyaneshsingh Could you help share if any updates for this issue? Thanks.

[2018-10-24 06:34] Alvin1Zhang commented on #2550
@Freepom Could you help share if any updates for this issue? Thanks.

[2018-10-24 06:48] koobest commented on #2452
hi, @dirkx, thanks for your code, we will update the c file and it will be merged soon.

[2018-10-24 06:48] koobest commented on #2452
hi, @dirkx, thanks for your code, we will update the c file and it will be merged soon.

[2018-10-24 06:50] #2531 closed

[2018-10-24 06:51] Alvin1Zhang commented on #2530
@sjoteppagol Could you help share if any updates for this issue? Thanks.

[2018-10-24 06:55] Alvin1Zhang commented on #2522
@ctag-fh-kiel Could you help share if any updates for this issue? Thanks.

[2018-10-24 06:55] Alvin1Zhang commented on #2519
@MrAlexandrKolesnikov Could you help share if any updates for this issue? Thanks.

[2018-10-24 06:56] Alvin1Zhang commented on #2516
@kmakhil90 Could you help share if any updates for this issue? Thanks.

[2018-10-24 06:57] Alvin1Zhang commented on #2507
@AadiMehta Could you help share if any updates for this issue? Thanks.

[2018-10-24 06:59] Alvin1Zhang commented on #2487
@davctv Could you help share if any updates for this issue? Thanks.

[2018-10-24 06:59] kmakhil90 commented on #2516
I could solve this problem by using a different openssl command to generate certificate. The command mentioned in readme not worked.

[2018-10-24 07:16] jitin17 commented on #2624
@devsaurus Thanks for bringing this to our notice. As of now, only asynchronous HTTPS connections are supported. Though it shouldn't have crashed for `http` URL, which will be resolved soon. And support for async HTTP wasn't added because it involved some changes in existing APIs, but it will be added soon.

[2018-10-24 07:33] davctv commented on #2487
Hello @Alvin1Zhang,

I confirm that with latest master (129d327) the issue is solved. RMT Driver can be installed in another  task and it can be uninstalled from another task.

On release v3.1 you have to install/uninstall driver from the same task.

I think the issue can be closed.

Regards

[2018-10-24 07:33] #2487 closed

[2018-10-24 07:46] jitin17 commented on #2597
@xarrange

So, do you mean 80K of heap?

And, with the latest configuration that you have sent, what is the memory footprint and the negotiated cipher suite?

If you are okay with not using  `Elliptic Curve Ciphers` then can you calculate the memory footprint by disabling  it under `make menuconfig` -> `Component config` -> `mbedTLS` -> `Elliptic Curve Ciphers` ?
Also, can you disable `Support TLS

[2018-10-24 07:51] Alvin1Zhang commented on #2487
@davctv Thanks for the support.

[2018-10-24 08:56] Xasin commented on #2400
Haven't encountered a deadlock problem yet, but it's still good to iron that one out before.
Thanks for the quick patch!

Anyhow, time to open a new issue for you guys to work on :smiling_imp:

[2018-10-24 09:01] MightyPork commented on #919
do we have any example of how to use this API? I didn't find anything in examples or elsewhere online (in fact I implemented it myself, before stumbling upon this file in idf). thanks

[2018-10-24 09:11] Lolektahor commented on #2542
Why did you close it? there was no answer yet...

[2018-10-24 09:14] Alvin1Zhang commented on #2542
Sorry, mishandled this issue.

[2018-10-24 11:07] devsaurus commented on #2624
Thanks a lot for looking into this.

[2018-10-24 11:35] outermanle commented on #2618
I think it should be done some optimization to ota procedure, maybe just add some delays, as @negativekelvin said " Problem is long running flash erase cycle with no breaks cause ap issues".

I also encounter this issue ocassionally, during ota procedure, uart maybe drop data and other things maybe stuck or trigger watchdog sometimes in the ota process etc...

Do less thing during ota procedure.

[2018-10-24 11:37] XinDeng11 commented on #2547
@tmedicci we have do a fix of this serval days before, if you still remember the commit-id of you IDF, I can verify the root cause of your problem

[2018-10-24 12:04] agmuntianu commented on #2618
@outermanle I actually tried some "workarounds":
1. I erased the ota partition in batches of 32k/64k and added a small delay between. This worked fine,  but the erase procedure ended up taking a lot of time (~10 seconds, instead of the ~2 seconds when doing the erase in one go).
2. I increased the beacon interval for softAP to 1.5 seconds, which basically hides to any station connected to the esp3

[2018-10-24 12:04] #2618 closed

[2018-10-24 12:10] iw2lsi opened #2625 "ESP32 OTA failure"
Hi all,

  I'm in trouble trying to run the ESP32 OTA examples (both native and simple)... my ESP32_DevKitC v4
 can succesfully connect to the WIFI and to the web-server using SSL, but then it fails in retrieving the image and/or while flashing it...

Below is the logfile produced by "make monitor"

[code]

On the server side,

[code]

   anyone is having the same problem ?

I'm using windows 10 w

[2018-10-24 12:58] iw2lsi commented on #2625
Hi all,

   one more info... if I try to download the firmware image directly either using curl or a browser, the downloaded image seems to be smaller comparing to the original one (1k instead of 150k).

This will probably explain why the native_ota_example fails to flash the image... but I really cannot figure out what's the problem with the openssl server... and disabling windows firewall did no

[2018-10-24 13:24] Xasin opened #2626 "[TW#26982] Bluetooth LE: Core 0 panic'ed on bt_controller_disable w. client connected OR esp_ble_set_encryption called"
## Environment
- Development Kit:    none
- Core (if using chip or module): ESP32-PICO-D4 rev. 1
- IDF version: 35f9cb070
- Development Env:		Eclipse
- Operating System:		Debian 9
- Power Supply:                external 3.3V

## Problem Description
I have found the exact same error message (see log below) to be caused under two similar circumstances:
1. The ESP BT Controller is disabled via `esp_b

[2018-10-24 13:33] jitin17 commented on #2625
@iw2lsi There seems to some problem in openssl server, so can you try setting up the server with this python script.
[code]
Copy this to a `.py` file in the directory containing the image and run the python script.
Then try OTA example again.

And also change the log output level to `debug` under `make menuconfig` -> `Component config` -> `Log output` ->  `Default log verbosity`

[2018-10-24 13:35] XinDeng11 commented on #2375
@francescofcf hi, can you offer your reproduce step, because I can always receive AP_STADISCONNECTED event after connected event, maybe there is unknow gap between us

[2018-10-24 13:41] iw2lsi commented on #2625
Hi jitin17,

   yes... you are right... I've just made a small test using a raspberry pi-zero-w as SSL server and... it works!

        thanks for your help,

              Giampaolo

[2018-10-24 13:57] ray-syrstad commented on #2594
I am attempting to add in a new library with code.  libplctag.  My hopes are to have the ESP32 communicate with a PLC wirelessly, just to let the PLC know that the device is active
 and is there.  The libplctag code changes a value in a PLC register and then destroys that value to set the PLC to an original state.  I am having issues with integrating this libplctag code into the existing esp-idf.

[2018-10-24 14:16] bearsh opened #2627 "[TW#26983] document that UART wakeup is only possible on 'native' pins"
## Environment

- Development Kit:      none
- Kit version (for WroverKit/PicoKit/DevKitC): -
- Core (if using chip or module): ESP32
- IDF version: v3.2-dev-1385-g129d32772
- Development Env: Eclipse|other
- Operating System: Ubuntu
- Power Supply: USB

## Problem Description

I want to use the UART wakeup feature on UART1 but with non native uart pins (I use pin 21 and 33 routed through GPIO mat

[2018-10-24 14:30] alxkbr opened #2628 "[TW#26984] I2S in the ADC mode return incorrect values"
Hi all,

I got different raw values after reading data directly from ADC and from I2S in the ADC mode.
Real constant voltage measured with a multimeter - 1690mV.

Below is my source code

[code]

Output

[code]

ESP-IDF commit 129d32772e5e5eafe88be5b9eb34687e84a6f8b8 HEAD -> master

[esp-adc-dma-i2s.zip](https://github.com/espressif/esp-idf/files/2510903/esp-adc-dma-i2s.zip)

[2018-10-24 16:20] jaygarcia commented on #2128
@ginkgm I've modified my local instance of `spi_master.c` per the below diff. 80Mhz SPI RAM seems to work perfectly on the ESP32-WROVER.

/cc @OtherCrashOverride -- have you tried similar?

[code]

[2018-10-24 16:30] ctag-fh-kiel commented on #2522
I am currently lacking the hardware, but will provide more details on this
issue asap. It also happens when using a native Mac environment... Thanks
for keeping the issue open for the moment.

Alvin1Zhang <notifications@github.com> schrieb am Mi., 24. Okt. 2018, 08:55:

[2018-10-24 19:14] francescofcf commented on #2375
only simple_wifi example, connect and diaconnect repeataly and loose the disconnect event.
Read first post and output on uart terminal.

[2018-10-24 21:34] sebirdman commented on #2295
I'm seeing a similar error when I make an HTTPS request. It doesn't seem to happen as often as @comcomservices

My IDF is at 22da5f6de
[code]

[2018-10-24 23:10] macaba commented on #1614
Note for anyone else who came across this issue; to resolve it for my hardware, I had to modify `bt_app_a2d_data_cb` to:
[code]

The important part was to add the offset of ` 0x8000`. Hope this helps.

[2018-10-24 23:11] macaba commented on #1819
For anyone else who comes across this, please see my comment:
https://github.com/espressif/esp-idf/issues/1614#issuecomment-432858740

[2018-10-25 01:29] negativekelvin commented on #2128
Note that the now default 64mbit psram does not use an extra spi peripheral so both hspi and vspi are free
https://github.com/espressif/esp-idf/blob/7c29a39d6f9f2dfbefc49d34d34e9267afc7200d/components/esp32/spiram_psram.c#L624

[2018-10-25 01:33] mschwartz commented on #2128
Thanks @ginkgm

What is the downside of using 80MHz for SPI RAM?  What specifically do we lose?

I assume you have that SPI_CHECK() there for good reason?

[2018-10-25 02:11] #2625 closed

[2018-10-25 03:04] comcomservices commented on #2295
@sebirdman

Looks very similar...  I wish I could tell you that we found a solution to it but unfortunately it would still randomly happen...  we spent months and months chasing all sorts of crashes and just when we thought we had a stable system we would run into something new...  having fallen behind deadlines we finally made the tough decision to throw away much of our work and switch platforms

[2018-10-25 04:59] negativekelvin commented on #2627
@koobest v3.2-dev-1385-g129d32772 is master from last week.  Have you verified uart wake on any pin?

[2018-10-25 05:04] bearsh commented on #2627
yes I know, therefor I am on master, see mentioned IDF version...

I tried this API and it also works using the console example but not with my code where I use UART1 on routed GPIOs. So I fear this feature only works on _native_ pins.

[2018-10-25 05:16] ginkgm commented on #2128
They are different things.

1. About the restriction of VSPI

    According to what i know, the restriction is: ``The SPI RAM of a type (all of them are 4MB) requires continuous clock when work under 80MHz. And the SPI peripheral happen to be able to provide that.``
The feature supporting to use HSPI to provide the clock is on the way, waiting for internal review.

    Other case (use SPIRAM under

[2018-10-25 05:29] mahavirj commented on #2171
@chegewara Thanks for confirmation. We had recently added option for selecting memory allocation strategy for mbedtls, please refer https://github.com/espressif/esp-idf/blob/master/components/mbedtls/Kconfig#L3. If you run into any issue, please feel free to raise new issue.

[2018-10-25 05:29] #2171 closed

[2018-10-25 05:31] mahavirj commented on #1497
If you still run into any trouble with certificate storage, please feel free to raise new issue. Closing this one.

[2018-10-25 05:31] #1497 closed

[2018-10-25 05:59] jitin17 commented on #2576
@PerMalmberg Thanks for bringing this to our notice. An internal MR to resolve this has been raised.

[2018-10-25 06:38] Alvin1Zhang commented on #2421
@Dawge Could you help share if any updates for this issue? Thanks.

[2018-10-25 06:42] koobest commented on #2627
Hi, I have confirmed with our hardware teem that this feature only works on native pins.

[2018-10-25 06:43] Alvin1Zhang commented on #2419
@edjeed Could you help share if any updates for this issue? Thanks.

[2018-10-25 06:51] bearsh commented on #2627
@koobest thanks for the confirmation!

[2018-10-25 06:54] Alvin1Zhang commented on #2389
@MessCodes Could you help share if any updates for this issue? Thanks.

[2018-10-25 06:55] Alvin1Zhang commented on #2393
@ChrisHughes Could you help share if any updates for this issue? Thanks.

[2018-10-25 06:55] Alvin1Zhang commented on #2387
@SuzukiYushin Could you help share if any updates for this issue? Thanks.

[2018-10-25 06:56] pankajverma190 opened #2630 "[TW#27008] ULP in esp32 not print any thing"
Code below

/* ULP Example

   This example code is in the Public Domain (or CC0 licensed, at your option.)

   Unless required by applicable law or agreed to in writing, this
   software is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR
   CONDITIONS OF ANY KIND, either express or implied.
*/

#include <stdio.h>
#include "esp_sleep.h"
#include "nvs.h"
#include "nvs_flash.h"
#include "soc/

[2018-10-25 06:56] Alvin1Zhang commented on #2380
@nulldsming Could you help share if any updates for this issue? Thanks.

[2018-10-25 07:00] Alvin1Zhang commented on #2339
@jaskle Could you help share if there are any updates for this issue? Thanks.

[2018-10-25 07:05] Alvin1Zhang commented on #2280
@Rajkumar181 Could you help share if any updates for this issue? Thanks.

[2018-10-25 07:06] Alvin1Zhang commented on #2277
@Trubochkin Could you help share if any updates for this issue? Thanks.

[2018-10-25 07:13] TianHao-Espressif commented on #2370
related to https://github.com/espressif/esp-idf/issues/2489

It's resolved.

[2018-10-25 08:18] Alvin1Zhang commented on #2154
@Reiner1210 Could you help share if any updates for this issue? Thanks.

[2018-10-25 08:19] FayeY commented on #1339
Hi @loboris , I'm going to close this issue due to lack of response, please feel free to reopen if this is still an issue and you can supply more details.
Hi @Abol-Wang , is your question #2616 which the same as #1597? If it is, please follow the #1597 for further update. If it is not, what you mentioned is a new, different problem from #1597, please feel free to let us know. Thanks.

[2018-10-25 08:19] #1339 closed

[2018-10-25 08:33] karawin commented on #2540
Closing. Can be tested in code

[2018-10-25 08:33] #2540 closed

[2018-10-25 08:34] jitin17 commented on #2406
@zhaochengwei I found this root CA certificate for aliyun oss:
[code]
So, can you copy it to `examples/system/ota/server_certs/ca_cert.pem` file and check whether `simple_ota_example` works or not.

[2018-10-25 08:38] dobairoland commented on #2325
@nicola-lunghi Do you agree with this solution?

[2018-10-25 08:54] AadiMehta commented on #2507
@Alvin1Zhang I have tried @david-cermak example in my environment and I confirm it works.

[2018-10-25 09:07] jamesgz commented on #2602
Thanks a lot! That fixed my problem. I ended up using pyserial instead to monitor my device.

[2018-10-25 09:17] dobairoland commented on #2602
Good to hear that!

[2018-10-25 09:17] #2602 closed

[2018-10-25 09:35] XinDeng11 commented on #2382
@farizadp The router's assoc response is against the spec, according to spec, it should include WSC IE when start WPS, however, this router only add WSC IE in probe response and beacon, but not include it in assoc response. And there is another thing make me confuse is that this router start 4 way handshake rather than RP even 32 has sent eapol start. I still need some time to check this router be

[2018-10-25 09:44] farizadp commented on #2382
@XinDeng11 : thanks for reply. Still strange that the other device is able to handle it. Do you have a link where I can read the spec (honestly, I don't have knowledge regarding WPS) so that my understanding can be aligned with you?

[2018-10-25 09:48] mahavirj commented on #1959
@onkarnaik511 Do you still observe this issue? Could you please try with latest ESP-IDF codebase once?

[2018-10-25 09:50] mahavirj commented on #2630
@pankajverma190 What happens if you add small delay before `esp_deep_sleep_start()`?  It could be possible that deep sleep entry prevented console log prints from uart driver.

[2018-10-25 10:40] nicola-lunghi commented on #2325
Yes! sorry about the delay

Thanks
Nick

[2018-10-25 10:46] johannesmaibaum commented on #1175
Hi @koobest ,

Is this true? Or is read/write swapped in the comments?

[2018-10-25 10:52] Milan991 commented on #2370
I just tested it with lattest ESP-IDF commit. I keep getting:

W (34833) EM: STA DISCONNECTED
I (34833) EM: SYSTEM_EVENT_STA_START NOW
W (37253) EM: STA DISCONNECTED
I (37253) EM: SYSTEM_EVENT_STA_START NOW
.
.
.
W (39693) EM: STA DISCONNECTED
I (39693) EM: SYSTEM_EVENT_STA_START NOW

In loop, it just can't connect to the WiFi. And with older version of ESP-IDF same source code connect successfull

[2018-10-25 10:54] chegewara commented on #2387
@Alvin1Zhang I think this issue can be closed, since its problem with arduino and 3rd party library (Kolban's ble library). We can raise new issue in Kolban's repo or esp32-arduino.

[2018-10-25 11:08] Alvin1Zhang commented on #2387
Thanks.

[2018-10-25 11:08] #2387 closed

[2018-10-25 11:13] XinDeng11 commented on #2382
[Wi-Fi_Simple_Configuration_Technical_Specification_v2.0.6.pdf](https://github.com/espressif/esp-idf/files/2514569/Wi-Fi_Simple_Configuration_Technical_Specification_v2.0.6.pdf)
this is the latest one

[2018-10-25 12:37] anders-above opened #2631 "esp_http_client redirect to new host not supported (IDFGH-434)"
## Environment

- Development Kit:      [none]
- Core (if using chip or module): [ESP32-WROOM-32]
- IDF version (``git rev-parse --short HEAD`` to get the commit id.): 22da5f6de
- Development Env:		[Make]
- Operating System:		[Ubuntu]
- Power Supply:         [USB]

## Problem Description

esp_http_client_perform() fails if the server returns a HTTP/301 Redirect with Location set to a different hos

[2018-10-25 13:20] alex00971 opened #2632 "[TW#27005] WiFi Sta will not connect when including adc files"
Hi

With V3.1 22da5f6  I have problem with WiFi when including ADC files,
WiFi will connect only from half meter distance when ADC files is included.(not even calling ADC functions)
I think I had this issue with V3.0.4  405b198  also ,
Now I switched to V3.0.5 6313ea0  , this version doesn't have ADC1/WiFi issue, but I think V3.0.x had issue with working Wifi/UART together.

This issue may relate

[2018-10-25 14:52] welinkio commented on #2620
I am using LAN8720 PHY chip, attached is sdkconfig and partition info，see ota_fail_log.txt.

[ota_fail_log.txt](https://github.com/espressif/esp-idf/files/2515478/ota_fail_log.txt)

[sdkconfig.zip](https://github.com/espressif/esp-idf/files/2515128/sdkconfig.zip)

[2018-10-25 15:08] welinkio commented on #2620
[native_example_ota_fail.txt](https://github.com/espressif/esp-idf/files/2515560/native_example_ota_fail.txt)

using native ota function log. @suda-morris

[2018-10-25 15:34] bricewge commented on #2447
I don't have the same environment anymore and I can't manage to reproduce this bug...
Note that the default LWIP task stack size is 3072 since https://github.com/espressif/esp-idf/commit/61835faed1d62d060b9d81b6de115d9abfb1b91b.

[2018-10-25 15:56] chinmaybhat94 opened #2633 "make flash error: 1) Failed to find Xtensa toolchain, may need to alter PATH or set one in the configuration menu 2) recipe for target 'src/efuse.o' failed"
----------------------------- Delete below -----------------------------

If your issue is a general question, starts similar to "How do I..", or is related to 3rd party development kits/libs, please discuss this on our community forum at esp32.com instead.

INSTRUCTIONS
============

Before submitting a new issue, please follow the checklist and try to find the answer.

- [ ] I have read the docu

[2018-10-25 15:59] #2633 closed

[2018-10-25 16:08] Pdipedro25 commented on #1045
Did you implement esp_wifi_goto_home_channel@idf 3.1? We had the same issue...

[2018-10-25 16:52] pad52 opened #2634 "Unable to set I2S APLL Clock for 48khz 32bit 2ch (IDFGH-432)"
## Environment

- Core (if using chip or module): ESP-WROOM32
- IDF version 7c29a39d6
- Development Env:		Eclipse
- Operating System:		MacOS
- Power Supply:         external 3.3V

## Problem Description

In I2S Slave TX mode
    `i2s_mode_t mode = I2S_MODE_SLAVE | I2S_MODE_TX;
    i2s_comm_format_t comm_fmt = I2S_COMM_FORMAT_I2S | I2S_COMM_FORMAT_I2S_MSB;`

If I set a frequency of 48Khz and APLL,

[2018-10-25 18:00] pad52 commented on #580
Hello @blueMoodBHD
Is it possible to enable 48Khz also for A2DP Sink?
or at least use the resampling library provided by bluedrod?

Thanks.

[2018-10-26 07:47] bearsh opened #2635 "calling tcpip_adapter_init() while light sleep is active increase current consumption (IDFGH-435)"
## Environment

- Development Kit: none
- Core (if using chip or module): ESP32
- IDF version: v3.2-dev-1385-g129d32772
- Operating System: Ubuntu
- Power Supply: USB

## Problem Description

Once `tcpip_adapter_init()` has been called and light sleep mode is active, the current consumption increases massively.

### Expected Behavior

No significant change in current consumption

### Actual Behavi

[2018-10-26 07:48] Alvin1Zhang commented on #2573
@magnomp Could you help share if any updates for this issue? Thanks.

[2018-10-26 08:48] logozouxun commented on #2587
liuzfesp,怎么样了，发现问题了吗？

[2018-10-26 08:50] sijokwork opened #2636 "[TW#27018] IP is not Assigned after successful PAP authentication succeeded with lwip PPPoS"
## Environment

- Development Kit:      [ESP32-Custom PCB]
- Core (if using chip or module): [ESP-WROOM32|ESP32]
- IDF version :  ESP-IDF  v3.1.( 22da5f6)
- Development Env:		[Make|Eclipse]
- Operating System:		[Ubuntu]
- Power Supply:         [Custom PCB power Supply ]

## Problem Description
IP is not Assigned after successful PAP authentication succeeded with lwip PPPoS

I am using a GSM module

[2018-10-26 09:57] blueMoodBHD commented on #2595
Hi @mringwal ,
I have find the reason of this issue, but it will tasks some time to fix it.
For now, When you send `HCI_sniff_mode` command, setting `Sniff_Attempt` no more than 0xFF will works OK.

[2018-10-26 10:12] blueMoodBHD commented on #2588
Hi @jakkra
We do not support Enhanced Retransmission Mode, now.
And the error may caused by some bit error which CRC-CCITT and CRC-16 cannot detected.

[2018-10-26 10:20] v1993 commented on #2343
@igrr Are they merged to master now?

[2018-10-26 10:21] #2341 closed

[2018-10-26 10:35] farizadp commented on #2382
@XinDeng11 : ok.. I need some moment to understand those. But the obvious thing, why the DELL laptop does succeed WPS with this router?
If the router is not according to spec, then other device won't be able to WPS with this router, right? (was just blunt conclusion from me :) )

[2018-10-26 11:31] #2573 closed

[2018-10-26 11:32] XinDeng11 commented on #2382
@farizadp because other device move the RSN IE and WPA IE before EAP-WSC success, and the spec just ask to add WPS IE in assoc request. What I want to say is the router don't follow the spec to check WPS IE when do connect. And I has done compatible to this router, it can success connect now. However, I don't this the router's check method is right and I still need discuss and test before merge th

[2018-10-26 11:50] v1993 commented on #2343
Well, I guess no… Just updated, still occur.

[2018-10-26 12:11] pankajverma190 commented on #2630
Thanks mahavi,

Now it is printing

but i want to know how ulp code it working. I don't understand.

when i am touch pin 4 then it is deep sleep mode but it is randomly.

Result::::

ets Jun  8 2016 00:22:57

rst:0x5 (DEEPSLEEP_RESET),boot:0x13 (SPI_FAST_FLASH_BOOT)
configsip: 0, SPIWP:0xee
clk_drv:0x00,q_drv:0x00,d_drv:0x00,cs0_drv:0x00,hd_drv:0x00,wp_drv:0x00
mode:DIO, clock div:2
load:0x3fff001

[2018-10-26 13:49] mringwal commented on #2595
Hi @blueMoodBHD Thanks for the update and the suggestion to use sniff_attempt < 0x100. I can confirm that it doesn't crash using 0xff. That's good for now, if it could be fixed fully, that would be excellent, too.

[2018-10-26 13:50] sijokwork commented on #2636
we have got resoltion from the ISP itself ,they have white listing their nal SGN servers
issues resolved now

[2018-10-26 13:50] #2636 closed

[2018-10-26 13:55] mringwal commented on #2588
Minor update on ERTM here. ERTM can optionally use a frame checksum. With ERTM FCS enabled in BTstack, the combined Link Layer & L2CAP CRC-16 seems to be sufficient to detect all bit errors (resp. @jakkra wasn't able to get another false packet).

[2018-10-26 15:09] masual commented on #2593
@david-cermak Thank you very much, that patch indeed fixed my problem. I read the issue #2507 but I did not think it was related to my problem. Anyway I applyed the suggested change and now is working as expected. Please let me know when the patch is applied to master branch.

[2018-10-26 15:47] gerekon commented on #2343
@loceur You example works well for me. I used:

1. IDF's github master
2. Your sdkconfig
3. gcc version 5.2.0 (crosstool-NG crosstool-ng-1.22.0-80-g6c4433a)
4. Open On-Chip Debugger 0.10.0-dev (2018-09-20-12:54)

[2018-10-26 16:04] v1993 commented on #2343
@gerekon Still get this bug on real project, master openocd/esp-idf

[2018-10-26 16:06] gerekon commented on #2343
@v1993 Ok. I am tryin to build and run your above project

[2018-10-26 16:35] gerekon commented on #2343
@v1993 Builf process gives a bunch of errors. I flashed the binary from your project. I have no SD card right now at my hands so app fails to mount it and reboots. Could you rebuild you app to use in-memory buffer for vorbis files (I saw such option in menuconfig)?

[2018-10-26 16:37] v1993 commented on #2343
Did you clonned repos to components/?

пт, 26 окт. 2018 г., 19:35 Alexey Gerenkov <notifications@github.com>:

[2018-10-26 16:46] gerekon commented on #2343
@v1993 yes, I cloned [esp32-sound-vorbis](https://github.com/v1993/esp32-sound-vorbis) and [esp32-sound](https://github.com/v1993/esp32-sound).

[code]

[2018-10-26 16:49] gerekon commented on #2343
`components/esp32-sound-vorbis/ogg` and `components/esp32-sound-vorbis/tremor` are empty. Is it ok?

[2018-10-26 16:56] v1993 commented on #2343
You need recursive cloning (`git clone -- recursive`) to download
submodules (ogg and tremor).

пт, 26 окт. 2018 г., 19:50 Alexey Gerenkov <notifications@github.com>:

[2018-10-26 17:08] gerekon commented on #2343
Ok. Build failed with other errors. See attached log.
[build.log](https://github.com/espressif/esp-idf/files/2520119/build.log)

[2018-10-26 17:12] v1993 commented on #2343
You need dev branch from esp32-sound repo.

[2018-10-26 17:40] gerekon commented on #2343
@v1993, I set 3 breakpoints as in your debug log

1. app_main
2. SoundVorbis::SoundProviderVorbis::task_code
3. Sound::SoundMixer::soundCallback

Debugger hits only the first two. Code do not get to Sound::SoundMixer::soundCallback.
When I check backtrace on the second breakpoint via `bt` command I get the following message
[code]
I will look at this error message, but it may turn to be normal sin

[2018-10-26 22:06] gigirizzi opened #2637 "Reboot with server BLE and WIFI (IDFGH-438)"
hi, i try to utilize  BLE and Wifi server, but ig i start BLE server  i have a loop of reset withi this error.

rst:0x3 (SW_RESET),boot:0x13 (SPI_FAST_FLASH_BOOT)
configsip: 0, SPIWP:0xee
clk_drv:0x00,q_drv:0x00,d_drv:0x00,cs0_drv:0x00,hd_drv:0x00,wp_drv:0x00
Help :(

[2018-10-27 02:07] daveismith commented on #1379
@JcBernack / @projectgus - it seems like there's support for OpenSSL in the upstream project now. Is that sufficient, or does there need to be support for mbedtls?

[2018-10-27 02:58] igrr commented on #2635
Calling tcpip_adapter_init initialized LwIP stack. The stack registers some timers, which execute even if there is no network traffic. So it seems like the expected behavior.

[2018-10-27 03:07] negativekelvin commented on #2637
That is not an error, you have to post the log that came before that.

[2018-10-27 03:18] negativekelvin commented on #1379
@daveismith no because esp-idf openssl shim does not support required functions

[2018-10-27 05:31] jitin17 commented on #2597
@xarrange Now, I think the ball is in your court; you'll have to decide which cipher suite to support. You  may also choose to support some elliptic curve ciphers under `make menuconfig` -> `Component config` -> `mbedTLS` -> `Elliptic Curve Ciphers`.
Keep us posted if you need any other assistance.

[2018-10-27 06:28] jitin17 commented on #2516
@kmakhil90 Were you trying to generate certificates using openssl on Windows?
Anyways, it would be nice if can specify the command that worked for you and the host machine OS, so that we can modify the README accordingly. Thanks.

[2018-10-27 07:02] jitin17 commented on #2631
@anders-above Thanks for bringing this to our notice. We'll address it soon.

[2018-10-27 08:13] H-LK commented on #1379
I would also like to have this function soon.

[2018-10-27 08:38] Alvin1Zhang commented on #2603
@AGPisland Could you help share if any updates for this issue? Thanks.

[2018-10-27 11:14] AadiMehta opened #2638 "[TW#27054] esp_http_client issue - Wrong content length set"
## Environment

- Development Kit:      [ESP32-DevKitC]
- Kit version (DevKitC): [v3]
- Core (if using chip or module): [ESP32-Wrover|ESP-WROOM32|ESP32]
- IDF version : 11b444b

## Problem Description
esp_http_client_open() API should set "Content-Length" header to the passed size. But the content-length header is either not set or it is set to 0.

I am trying to send a file from esp32 as attachme

[2018-10-27 11:57] OtherCrashOverride commented on #2128
@jaygarcia,
When an official patch for this is available, I will investigate integrating into the builds since both WROVER and WROVER-B need to be supported.

[2018-10-27 12:01] OtherCrashOverride commented on #1597
@Abol-Wang

The LCD initialization is here:
https://github.com/OtherCrashOverride/go-play/blob/c573693f91864e116c6ccd6a18becbb020506f3b/odroid-go-common/components/odroid/odroid_display.c#L683-L711

The SD card initialization is here:
https://github.com/OtherCrashOverride/go-play/blob/c573693f91864e116c6ccd6a18becbb020506f3b/odroid-go-common/components/odroid/odroid_sdcard.c#L39-L66

[2018-10-27 15:52] #2597 closed

[2018-10-27 15:53] PerMalmberg commented on #1445
@igrr Hows the linker fix coming along?

[2018-10-27 18:10] chegewara opened #2639 "[TW#27053] mbedtls allocated in spiram issue"
I am trying to work with new menuconfig->mbedTLS option to allocate from spiram, but i am having problems.
I have free in spiram:
[code]
but mbedTLS cant create new connection even if certificate is verified:
[code]

This is heap summary internal and spiram memory usage with spiram config `Make RAM allocatable using heap_caps_malloc`:
[code]
This is heap summary internal and spiram memory usage wi

[2018-10-27 23:56] angryDuck2 commented on #2489
I am getting this error when I switch the files suggested
[code]

[2018-10-28 04:35] negativekelvin commented on #2638
You are right, the value is not used at all.  It should do
`client->post_len=write_len;`
https://github.com/espressif/esp-idf/blob/3977d4b56555289f828a4d5f5d756b7b69783d53/components/esp_http_client/esp_http_client.c#L1085-L1095

[2018-10-28 05:51] igrr commented on #1445
Fixed in https://github.com/espressif/esp-idf/commit/9240bbb708453251ddacc4d1c5a7e9a83c999da1, sorry that I forgot to tag this issue.

[2018-10-28 06:53] chegewara commented on #2149
@projectgus
I dont know if something has been done with this, but it seems to be fixed (at least i think so after few app crashes i had).

[2018-10-28 08:49] AadiMehta commented on #2507
Hi @david-cermak , there might be an another issue or it might be a feature request.

So esp32 has successfully resolved a .local hostname, but when calling a REST API using this hostname(after this resolution), esp32 fails to send it to the hostname. This work completely correct when used from windows machine or any other linux machine.

I understand that windows/linux machines use combination of

[2018-10-28 10:36] negativekelvin commented on #2507
You could try LWIP_DNS_SUPPORT_MDNS_QUERIES

[2018-10-28 10:59] AadiMehta commented on #2507
@negativekelvin Thank you so much! It works for me!

[2018-10-28 16:00] mahavirj commented on #2639
@chegewara Is it possible for you to provide minimal application with `sdkconfig` that reliably reproduces this issue?

[2018-10-28 16:29] chegewara commented on #2639
@mahavirj With sdkconfig there is no issue, i can provide copy of mine. There is problem with code, i am working on commercial app and app is connecting to amazon servers. I have to think how to do it.

sdkconfig (just one not working version):
https://gist.github.com/chegewara/a98ed02e54b8b5ecf204fea79b46645d

[2018-10-28 21:12] chegewara commented on #2639
@mahavirj I think it may have something to do with this issue
https://github.com/espressif/esp-idf/issues/2228#issuecomment-408112657
when i am using option like @igrr is suggesting i cant make big allocations with calloc in spiram i have to use instead `heap_caps_calloc` instead with `MALLOC_CAP_SPIRAM`. If i use calloc (malloc probably too) then allocation is in internal memory.

[2018-10-28 23:17] xenotrax commented on #921
I try to compile your example project with Arduino .. but I got stuck with following errors..

sketch/open62541.c.o:(.literal.ServerNetworkLayerTCP_listen+0x34): undefined reference to `getnameinfo'
sketch/open62541.c.o:(.literal.ServerNetworkLayerTCP_start+0x30): undefined reference to `gethostname'

There is something wrong but I can't figure out what.
I use arduino-1.8.7-linux64.tar.xz , espres

[2018-10-29 00:42] projectgus commented on #2149
@chegewara Did you move to the (optional/preview) gcc 8 toolchain? This bug is fixed in the gcc 8 toolchain's binutils.

[2018-10-29 00:44] chegewara commented on #2149
@projectgus I dont think so, i mean i am working on master commit but i didnt update toolchain for quite a long time. This is my gcc version:
`gcc version 5.2.0 (crosstool-NG crosstool-ng-1.22.0-80-g6c4433a5)`

[2018-10-29 01:48] negativekelvin commented on #2639
Did you try disabling hw encryption

[2018-10-29 02:32] AGPisland commented on #2603
Hi @Alvin1Zhang  unfortunately, i wasn't able to make the idf.py work properly; i think i may have misconfigured the build environment. Becouse of the upcoming due date on my project, I have decided to work with micropython, and if that doesn't work, i'll go back to idf.py

[2018-10-29 03:46] koobest commented on #1926
Hi, @bschwind, Please see the issue, https://github.com/espressif/esp-idf/issues/1175

[2018-10-29 04:31] bschwind commented on #1926
Hi @koobest

Sorry, it probably wasn't clear but I solved my issue and was just providing information for others searching for this error. Indeed it was a full memory error and increasing the number of blocks resolved it.

Thanks!

[2018-10-29 04:34] sjoteppagol commented on #2530
I could not able to re-produce this issue.
Thanks

[2018-10-29 04:34] huming2207 commented on #303
Sorry I need to correct my previous reply

Just try this: https://marketplace.visualstudio.com/items?itemName=vector-of-bool.cmake-tools

Works mostly perfect for ESP-IDF v3.1+ for now, although it is a bit slower than CLion.

[2018-10-29 06:01] mahavirj commented on #2639
#2228 (comment)
when i am using option like @igrr is suggesting i cant make big allocations with calloc in spiram i have to use instead heap_caps_calloc instead with MALLOC_CAP_SPIRAM. If i use calloc (malloc probably too) then allocation is in internal memory.

That will also depend on config option `SPIRAM_MALLOC_ALWAYSINTERNAL` which has default value of 16384, essentially means all allocations

[2018-10-29 06:04] mahavirj commented on #2630
@pankajverma190 This looks old code base. Please try with latest code base once, documentation can be found at, https://github.com/espressif/esp-idf/blob/master/examples/system/ulp/README.md

[2018-10-29 06:04] kmakhil90 commented on #2516
Hi,
I tried the command:
openssl req -newkey rsa:2048 -nodes -keyout key.pem -x509 -days 365 -out certificate.pem
from following link: https://www.ibm.com/support/knowledgecenter/en/SSWHYP_4.0.0/com.ibm.apimgmt.cmc.doc/task_apionprem_gernerate_self_signed_openSSL.html

[2018-10-29 06:17] chegewara commented on #2639
I meant really big allocations, like 100-200kB.

I will try to see whats going on here. Thanks.

[2018-10-29 09:50] koobest commented on #2299
Hi, @fangms in mcpwm.c, you can modify the following two lines:
`
#define MCPWM_CLK_PRESCL 2       //MCPWM clock prescale
#define TIMER_CLK_PRESCALE 14      //MCPWM timer prescales
`
in this configuration, it can output 198Khz of pwm.

[2018-10-29 10:57] koobest commented on #2221
Hi, @AmbimatElectronics @Alvin1Zhang
Please allocate enough memory for your task. e.g:
`
 xTaskCreate(rx_task, "uart_rx_task", 1024*2, NULL, configMAX_PRIORITIES,    NULL);
`

[2018-10-29 11:11] farizadp commented on #2382
@XinDeng11 : Would it be an idea to first contact the manufacturer to confirm? Perhaps they have an explanation how to handle it if it's not according to spec

[2018-10-29 12:03] skitsanos opened #2643 "WIFI_PROTOCOL_LR in APSTA mode? (IDFGH-439)"
Is there any way to use WIFI_PROTOCOL_LR in APSTA mode?

I've tried to do the following:

[code]

and it fails on each line... Am i missing anything?

[2018-10-29 12:18] koobest commented on #945
Hi, @OtherCrashOverride, @frnjjq
the following link provides the i2s-lcd driver
https://github.com/espressif/esp-iot-solution/tree/master/components/i2s_devices/

[2018-10-29 14:40] pad52 commented on #2634
For who is interested in setting up manually the APLL Clock (setting up manually odir, sdm0, sdm1, sdm2) I made this not really nice C program but maybe could be useful for someone and could be a starting point to make a better APLL setup procedure:
`#include <stdio.h>
#include <stdlib.h>
#include <math.h>

#define APLL_MIN_FREQ (250000000)
#define APLL_MAX_FREQ (500000000)

int bits_per_sample =

[2018-10-29 14:44] ammaree commented on #1650
Hi @gerekon

I have been travelling for the last 4 weeks and returned to find 310 crash dump files generated by 38 different devices during the period.
I also saw that a new version of toolkit has been released dated 20181001. I have installed it but before I start doing the crash dump analysis I have a couple of questions.
Q1 Can I use the new toolkit to analyse crash dumps created with the IDF a

[2018-10-29 19:10] chegewara commented on #2639
Disabling hw encryption leads to many errors like this one, but thanks for suggestion:
[code]

[2018-10-29 20:45] baycom commented on #2153
Same problem here: My project uses BLE and WIFI at the same time and is compiled with latest esp-idf. After a couple of minutes I get the same message resulting in a complete loss of WIFI connectivity. When BLE is not being used, the problem does not occur.

[2018-10-29 23:44] tmedicci commented on #2547
Hello @XinDeng11 , my IDF commit is:
[code]
Hope this can be helpful. Thank you!

[2018-10-30 00:03] projectgus commented on #2639
@chegewara

Thanks for reporting this, it's a bug in the current master branch. Will fix.

[2018-10-30 01:32] xielizyh commented on #2489
@TianHao-Espressif , According your sugesstion, I used the the newest commit on Oct 26, 2018, but the WDT problem is reappear after a few hours. I started that ble is active scan continuously and wifi connected.

[2018-10-30 02:42] #945 closed

[2018-10-30 02:43] #1926 closed

[2018-10-30 02:45] #1439 closed

[2018-10-30 02:45] Weijian-Espressif commented on #2515
@chegewara please update to the latest v3.1 and try, thanks.

[2018-10-30 02:46] #1056 closed

[2018-10-30 02:47] #2154 closed

[2018-10-30 02:47] #2424 closed

[2018-10-30 03:57] Isl2017 commented on #819
Hi, All

Thanks for all your brainstorms.

We have created a temporary BLE Mesh branch on Github now.

It is now allowed to clone the BLE Mesh project:
* Branch: [feature/esp-ble-mesh-v0.5](https://github.com/espressif/esp-idf/tree/feature/esp-ble-mesh-v0.5)
* BLE Mesh APIs & Core code: [components/bt/ble_mesh](https://github.com/espressif/esp-idf/tree/feature/esp-ble-mesh-v0.5/components/bt/ble_m

[2018-10-30 05:53] gitjohnmoon1234 commented on #362
Can i make ESP32 Master-slave integration in the gatt client mode

[2018-10-30 06:05] pctj101 commented on #819
Sweet!

[2018-10-30 06:16] gitjohnmoon1234 commented on #362
@Yulong-espressif    i want use the ble_spp_client  into "Master-slave integration " mode .In this mode ,the esp32 can be both connect with server and client ,can be both scan and advertise ,but i don't know how to achieve it .Could you tell me how to do it ?

[2018-10-30 06:42] Weijian-Espressif commented on #2541
@chegewara Sorry, according to your test steps, we did not have reproduce the issue. here is the test log.
[BTSTK_GATT_50007_30143322_000.html.zip](https://github.com/espressif/esp-idf/files/2528323/BTSTK_GATT_50007_30143322_000.html.zip)

[2018-10-30 06:45] chegewara commented on #2541
@Weijian-Espressif Thanks, i will close it for now and back to it when i have time to do more tests.

[2018-10-30 06:45] #2541 closed

[2018-10-30 07:03] Weijian-Espressif commented on #2609
@dereks,  I will modify the code, thanks.

[2018-10-30 08:10] johannesmaibaum opened #2644 "[TW#27078] RMT IR reception while using ETH PHY (Waveshare LAN8720) results in RMT error: `mem_full` flag set, `wait` state"
- [x] I have read the documentation [ESP-IDF Programming Guide](https://docs.espressif.com/projects/esp-idf/en/latest/) and the issue is not addressed there.
- [x] I have updated my IDF branch (master or) to the latest version and checked that the issue is present there.
- [x] I have searched the issue tracker for a similar issue and not found a similar issue.

## Environment

- Development Kit:

[2018-10-30 08:11] suda-morris commented on #2620
hi @welinkio What if you check on the
`Component config->Ethernet->Enable copy between Layer2 and Layer3` ?

[2018-10-30 08:20] chegewara commented on #819
@Isl2017 Thanks you for very good tutorials. As always nice job.

[2018-10-30 08:29] Isl2017 commented on #819
@pctj101 @chegewara Thanks for your approvals. We are going into it 🙂

[2018-10-30 08:33] XinDeng11 commented on #2382
@farizadp Yeah, It had better to send a mail to the manufacturer. However, we have done a compatible to that sceanrio, you call try with the latest version in the master branch

[2018-10-30 08:35] chegewara commented on #819
@Isl2017 I was harsh, but that does not mean i dont appreciate hard and good work you all are doing.
Ive seen all ble tutorials and they are very helpful. When i can i paste link to it. Its always nicely write, easy to understand and all info needed to understand API usage.

[2018-10-30 09:03] farizadp commented on #2382
@XinDeng11 : Thanks, do you have a commit id for it?

[2018-10-30 09:10] negativekelvin commented on #2644
Do you have a pull-up resistor on the ir input?

[2018-10-30 11:42] Weijian-Espressif commented on #2626
@Xasin ,Sorry,  I will fix this crash.

[2018-10-30 11:51] Weijian-Espressif commented on #2512
@jkhax0r We are doing fix "ASSERT_PARAM(64 0), in rwble.c at line 222", and other error may related to this error.

[2018-10-30 12:02] negativekelvin commented on #2644
Yes.  The Ethernet pins are right next to gpio33.

[2018-10-30 23:53] tijnkooijmans commented on #2153
I also have this issue still with 3.1 release (7cd75f30f275e91a68b69856d70fcae37354b665), but it only happens when I'm doing a BLE scan while the Wifi reconnects. It then never recovers and keeps spamming this error. What is the exact IDF commit that should have fixed this?

[2018-10-30 23:58] #2544 closed

[2018-10-31 01:46] buckybots commented on #2598
Yes, same exact issue, name conflict with http-server.h.  Was using your quick and dirty http-server, and now that a http-server is part of esp-idf  this component is no longer needed.  Easy fix, just removed my http-server component.

[2018-10-31 01:46] #2598 closed

[2018-10-31 02:48] TianHao-Espressif commented on #2153
@baycom , could you describe your operations of BLE and WIFI? Besides, do you enable SW_COEXIST_ENABLE in menuconfig?

@tijnkooijmans , 7cd75f seems a little old, the coexist latest update is in October. Please try the latest release/v3.1 branch. Thanks.

[2018-10-31 03:14] outermanle commented on #2580
hi @david-cermak , so far so good. Thanks again.

[2018-10-31 03:14] #2580 closed

[2018-10-31 03:25] outermanle opened #2646 "[TW#27105] stop httpd will stuck all the time when recevie wifi disconnect event."
## Environment

- Development Kit:      [ESP32-DevKitC]
- Kit version (for WroverKit/PicoKit/DevKitC): [v4]
- Core (if using chip or module): [ESP-WROOM-32D]
- IDF version (3276a1316):
- Development Env:		[Make]
- Operating System:		[Ubuntu]
- Power Supply:         [USB]

## Problem Description
stop httpd will stuck when wifi disconnect.

code refer to examples/protocols/http_server/simple/main/ma

[2018-10-31 04:10] akshar001 commented on #2375
As i have understood throughout reading the problem over and over again , i don't think this event can happen at exact time as we wanted because this is how all the wifi works, for continuous checking that the station is available or not there should be some ping a like (AP pings every station connected to it to check it is still there) method in wifi standards , there is one but it is slow , it w

[2018-10-31 05:49] HuyKhac opened #2647 "ESP32 Wifi Station mode failed to reconnect after first time"
## Environment
- Development Kit:      [ESP32-Devkit]
- Kit version (for WroverKit/PicoKit/DevKitC): [v1]
- Core (if using chip or module): [ESP-WROOM-32]
- IDF version (``git rev-parse --short HEAD`` to get the commit id.): bd90f534fb1cdf7d4406767f9067398d51a12305
- Development Env:		[Make]
- Operating System:		[Windows]
- Power Supply:         [USB]

## Problem Description
Hi all,

Recently, I u

[2018-10-31 05:50] HuyKhac commented on #2647
Here is the sdkconfig file of the example
[sdkconfig.txt](https://github.com/espressif/esp-idf/files/2532843/sdkconfig.txt)

[2018-10-31 06:38] Alvin1Zhang commented on #2600
@bootrino Could you help share if any updates for this issue? Thanks.

[2018-10-31 06:57] Weijian-Espressif commented on #2503
@chegewara Do you modify `BT DEBUG LOG LEVEL` in menuconfig ?

[2018-10-31 07:15] chegewara commented on #2503
@Weijian-Espressif Yes, i have changed few BT DEBUG LOG LEVEL values to higher:
https://gist.github.com/chegewara/bb3ae58044ac8b1bff24740a35e90695#file-sdkconfig-L172-L338

[2018-10-31 07:46] Weijian-Espressif commented on #2503
@chegewara  If you print too much debugging information, it will cause `btuT` exception. I have not found a good solution yet.

[2018-10-31 07:53] tijnkooijmans commented on #2153
Thanks for your reply, I will try with a later version to see if it still happens.

[2018-10-31 07:57] akbarhash opened #2648 "[TW#27124] Please add pppos in tcpip lwip adapter."
## Environment

- Development Kit:      [ESP32-DOIT-BOARD]
- Core (if using chip or module): [ESP-WROOM32]
- IDF version ESP-IDF v3.2-dev-1425-gbd90f534f-dirty=
- Development Env:		[Make]
- Operating System:		[Ubuntu]
- Power Supply:         [USB&Battery]

## Problem Description
Ping, DNS, SNTP not working on PPPOS.

### Expected Behavior
Should work.

### Actual Behavior
Not working due to the lw

[2018-10-31 07:58] chegewara commented on #2503
@Weijian-Espressif Dont worry about that, leave it for now. Im not complaining, just wanted to inform that some issue exists. Since i am only one, and it is only during extensive debugging it is not very important.
You could increase btuT stack size, but this would be waste of resources in this case. Thanks for support.

[2018-10-31 08:38] HuyKhac commented on #2647
I doubt if ESP32 forgets authentication after reset so that it will fails authentication when AP device still requires previous authentication based on MAC address of ESP32

[2018-10-31 09:03] blueMoodBHD commented on #2615
Hi @terjeio ,
Thanks for your reminder, I will fix it, soon.

[2018-10-31 09:40] suda-morris commented on #2620
@welinkio Thanks again, the bug has been fixed and will be merged into the master branch soon.

[2018-10-31 12:17] ESP32DE commented on #1930
ups @costaud seems there are some things go wrong :)
[code]

[code]

best wishes
rudi :-)

[2018-10-31 12:32] anurag-kar commented on #2646
@outermanle Thanks for pointing out this issue. We'll try to resolve this as soon as possible

[2018-10-31 12:38] chegewara opened #2649 "ble privacy or advertising issue"
I want to explain that i dont think it is related to ble mesh even if i found it when i just start to play with ble mesh client example, thats why issue title not mention about ble mesh.

I didnt study ble mesh code yet, but i am assuming that advertising is setup to use private address, since at least one of my esp wrover boards is advertising with random address. This is what i know:
- public ma

[2018-10-31 14:33] chegewara commented on #2649
My bad, ive got board with random mac address bonded with my android smartphone and nRF connect reported old mac address.

[2018-10-31 14:33] #2649 closed

[2018-10-31 19:57] jkhax0r commented on #2262
@Weijian-Espressif Any updates on this?

[2018-11-01 01:12] HuyKhac commented on #2647
Here is what I found:
- For successful connecting, my AP device performs 2 steps: authentication and association. While in failed connecting, my AP device only performs authentication. Maybe it still uses last association data but ESP32 does not handle that properly.  My work-around is to add a rule to AP device (hostapd.conf) to periodically poll all station devices and dis-associate which statio

[2018-11-01 01:57] outermanle commented on #2646
Thanks for your quick response.

During wifi status change, the ctrl sock(ctrl_fd) no response and server maybe  not receive the shutdown msg.

[2018-11-01 05:51] anurag-kar commented on #2646
@outermanle That's one possibility.

But the status value printed is 32768, while status is an enum with only 4 possible values (0 to 3) and has a well defined value while the server is running. I suspect it has to do with the server handle, which could have gone invalid, though again that seems highly unlikely as handle is set to NULL when server stops.

[2018-11-01 06:49] outermanle commented on #2646
I also doubt the status value with 32768, uint16_t -1 ?

[2018-11-01 06:56] anurag-kar commented on #2646
@outermanle enums in this case are int32_t

[2018-11-01 06:58] outermanle commented on #2646
I got the previous log, before add the status printed. It may be helpful. @anurag-kar

[code]

[2018-11-01 07:08] anurag-kar commented on #2646
@outermanle Thanks.

Is this for `examples/protocols/http_server/simple`?

[2018-11-01 07:17] outermanle commented on #2646
yes, I refer to this example and implement myself logic get/post handler.

[2018-11-01 07:35] anurag-kar commented on #2646
I see. If there is more log, that'll be helpful.

Are you sure that `httpd_stop()` is not called twice with the same handle (could happen if `SYSTEM_EVENT_STA_DISCONNECTED` is triggered twice)? Calling `httpd_stop()` on an invalid handle will cause undefined behavior.

To avoid such situation the handle is assigned NULL, right after httpd_stop() is called, like it's done in the `event_handler` in

[2018-11-01 07:39] XinDeng11 commented on #2382
@farizadp you can check b8784a18 for verify

[2018-11-01 07:53] outermanle commented on #2646
yes, I have done this protection to prevent call twice.

wifi disconnected event
[code]

wifi connected event
[code]

[2018-11-01 08:31] Mr-Techtron opened #2652 "Native Ota example not working"
Before submitting a new issue, please follow the checklist and try to find the answer.

- [ ✔] I have read the documentation [ESP-IDF Programming Guide](https://docs.espressif.com/projects/esp-idf/en/latest/) and the issue is not addressed there.
- [ ✔] I have updated my IDF branch (master or release) to the latest version and checked that the issue is present there.
- [ ✔] I have searched the iss

[2018-11-01 08:33] Mr-Techtron commented on #2652
D (7252) HTTP_CLIENT: Write header[3]: GET /hello-world.bin HTTP/1.1
User-Agent: ESP32 HTTP Client/1.1
Host: 192.168.10.20
Content-Length: 0

D (7264) HTTP_CLIENT: on_message_begin
D (7265) HTTP_CLIENT: HEADER=Content-type:text/plain
D (7265) HTTP_CLIENT: http_on_headers_complete, status=200, offset=45, nread=45
D (7272) HTTP_CLIENT: http_on_body 467
D (7275) HTTP_CLIENT: content_length = -1
I (72

[2018-11-01 08:48] johannesmaibaum commented on #2644
I added 10k to 3.3V from the IR input. Behaviour (and error message) is still the same as before, i.e. IR input doesn't work.

[2018-11-01 08:50] Weijian-Espressif commented on #2262
@jkhax0r Sorry, this is caused by a hardware problem, we are thinking about a solution, it will take some time.

[2018-11-01 09:00] chegewara commented on #2652
Are you sure that you image length is 680 bytes?
`I (7353) native_ota_example: Total Write binary data length : 680`

[2018-11-01 09:52] jitin17 commented on #2652
Can you refer this issue #2625? It appears to be similar to yours.

[2018-11-01 10:06] me-no-dev commented on #2637
Maybe your application got too big and you did not select proper partition scheme? Try one that supports large apps :)

[2018-11-01 10:08] KrrishnaShah opened #2653 "ESP32 WIFI_MODE_APSTA failed after sometime while computer is still connected to the SOFT_AP (IDF-262)"
I'm using my esp32 as Station+Soft AP.
The continuous ping from my computer failed after sometime (random intervals), while my computer is still connected to the esp32 soft_AP. When I disconnect my computer from esp32 soft AP and reconnect it again, it works fine for some time.

[2018-11-01 10:19] KrrishnaShah commented on #2653
/******************************* network.c ********************************/
	#include <stdio.h>
	#include <string.h>

	#include "freertos/FreeRTOS.h"
	#include "freertos/task.h"
	#include "freertos/event_groups.h"
	#include "freertos/queue.h"

	#include "esp_system.h"
	#include "esp_err.h"
	#include "esp_event_loop.h"
	#include "esp_event.h"
	#include "esp_attr.h"
	#include "esp_log.h"
	#include

[2018-11-01 10:50] Mr-Techtron commented on #2652
Thank you Jitin, it seems that there was some problem with openssl but with python http server it works flawlessly

[2018-11-01 10:50] #2652 closed

[2018-11-01 13:07] anurag-kar commented on #2646
@outermanle I'll try to reproduce this situation. Hopefully get some insight out of that

[2018-11-01 13:32] #503 closed

[2018-11-01 13:32] #2584 closed

[2018-11-01 13:32] #2350 closed

[2018-11-01 13:32] #2382 closed

[2018-11-01 13:32] #2572 closed

[2018-11-01 13:32] #2607 closed

[2018-11-01 13:32] #2615 closed

[2018-11-01 13:46] ammaree commented on #1650
@gerekon @igrr any comments please gents, I would like to start analysing

[2018-11-01 15:59] marienifura commented on #2146
@snej I'm not sure whether my current issue is what you described but this is the closest I have seen. I have enabled flash encryption along with NVS encryption. I can write data to my nvs partition and read it using: esp_partition_write()  and esp_partition_read(), respectively. This works. The issue becomes apparent when I call:

esp_partition_read()
esp_partition_write()
esp_partition_read()

T

[2018-11-01 16:46] snej commented on #2146
@marienifura: I found the Cache_Flush() calls in the `components/spi_flash` directory of the IDF sources.

[2018-11-01 19:03] baycom commented on #2153
Tried a lot of things - it seems there is some kind of deadlock with esp_restart() failing to restart the system or hanging calls to netconn_write or the wifi tx q not empty bug . Free heap memory goes down from 120kb to about 70kb and then a lot of errors occur. In my code there does not seem to be any memory leak or mutex lockup.
Now I end up in setting up watchdogs for my tasks that discover an

[2018-11-01 19:13] marienifura commented on #2146
@snej Thanks. I managed to find it but unfortunately it doesn't seem to have helped in my case.

[2018-11-01 22:06] baycom commented on #2153
Maybe this is important too: the problem seems to occur only in station mode. If the esp32 is set to soft ap mode everything works as expected.

[2018-11-02 02:16] blueMoodBHD commented on #2595
Hi @mringwal ,
The bugfix have been merged into master of ESP-IDF.

Issus:
Sniff_Attempt is a 16-bit parameter, but hardware register only support 8 bit.  So, when entering sniff mode with Sniff_Attempt larger than 0xFF, it will cause some errors. More seriously, when Sniff_Attempt is 0x100, we will write 0 to register, it will cause crash.

Sloution:
We do not support Sniff_Attempt more than 0xFF

[2018-11-02 03:04] outermanle commented on #2646
@anurag-kar

Thanks.
Here is my test procedure:
1. wifi connected and delay 1-2 minutes then disconnect, repeat this.
2. open browser and request one page to httpd and then do nothing.

[2018-11-02 03:30] #2222 closed

[2018-11-02 07:58] markfink opened #2656 "[TW#27184] esp_https_ota panic"
when I trigger the OTA update I get a core panic (see below).

I checked:

* use current esp-idf version (pulled this morning).
* partition table: factory app, two OTA definitions
* blink-demo.bin works
* aws_s3_server.pem is correct
* download url is correct and works
* wifi connection is ok

it appears that this is caused from doing the ota update in a mqtt subscribe callback?!
hmm, according to

[2018-11-02 08:59] TianHao-Espressif commented on #2619
@jakkra , Unfortunately, as far as now,  ESP32 doesn't support ESP32 softap mode and Classic BT coexistence. We are evaluating the coexistence of them.

[2018-11-02 09:20] jakkra commented on #2619
@TianHao-Espressif Thank you. I see, is there a list with what is supported and not in coexistance? Since we are building an application with coexist, it would be very helpful knowing what is supported and not.

[2018-11-02 09:30] #2590 closed

[2018-11-02 09:51] smnd96 commented on #2647
Surely the AP ( the OrangePi) as you mentioned:
-If you reset the Pi, things work
-If you connect to any commercial devices, the esp works.

[2018-11-02 10:34] mahavirj commented on #2656
@markfink Probably `esp_http_client_config_t http_config` is missing zero initialization. Could you please try doing that?

[2018-11-02 12:01] outermanle commented on #2646
@anurag-kar
Can you provide debug patch? I can add it and reproduce it at the same time.

[2018-11-02 12:07] markfink commented on #2656
@mahavirj I do not understand what you mean by that... initialization has event_handler, cert_pem and url.

[2018-11-02 12:17] negativekelvin commented on #2656
He means `esp_http_client_config_t http_config = {0};`

[2018-11-02 12:29] markfink commented on #2656
@mahavirj @negativekelvin that fixes it. thank you so much!

[2018-11-02 12:29] #2656 closed

[2018-11-02 17:20] anurag-kar commented on #2646
Thanks a lot. I've been trying to reproduce it with the `simple` example but still no luck.

You can try with [this](https://github.com/espressif/esp-idf/files/2543468/httpd_debug.txt) patch. Send me the full log if possible (attach a log file if too long).

[2018-11-02 17:20] benpeoples opened #2657 "[TW#27190] Multicast Example Does not work on Ethernet"
## Environment

- Development Kit:      [none]
- Kit version (for WroverKit/PicoKit/DevKitC): []
- Module or chip used:  [ESP32-WROOM-32]
- IDF version (run ``git describe --tags`` to find it):
    // v3.2-dev-1429-g7efbe8178
- Build System:        Unknown
- Compiler version (run ``xtensa-esp32-elf-gcc --version`` to find it):
    // xtensa-esp32-elf-gcc (crosstool-NG crosstool-ng-1.22.0-80-g6c443

[2018-11-02 22:12] Elektrik1 opened #2658 "Sink connect works no more (IDFGH-440)"
Since last week commits esp_a2d_sink_connect() does not connect to BT source.

On cold boot of esp, calling esp_a2d_sink_connect() immediately returns this:
[code]

however if I connect and disconnect from my phone (or whatever device) then sink_connect starts to work with such log:
[code]

Code used for test in main.c:
[code]

[2018-11-03 03:01] outermanle commented on #2646
I do some tweaks to it, if I change status to 2 and still restore to 65536.
I doubt if this heap boundary leak or wild poniter issue.

#### tweak code, active delete task if timeout
[code]

#### crash log
[code]
#### crash line 282
[code]

[2018-11-03 06:14] outermanle commented on #2646
@anurag-kar
I got this crash log.

[code]

[2018-11-03 07:47] outermanle commented on #2646
@anurag-kar

I doubt there is heap corruption in the wifi driver.
I check all of my code and can't find any suspicious.
Or you can give me some tips to check heap leak.

I monitor the heap size all the time, and there is no memleak, I think it should be heap corruption issue.

And this issue only trigger when wifi disconnect event. The probability is about 1-10%.

[2018-11-03 10:44] fri-sch commented on #1622
I tested with v3.1.1 and it seems to work. So I guess this can be close.

[2018-11-03 13:47] #1622 closed

[2018-11-03 14:12] anurag-kar commented on #2646
Refer to this for debugging heap corruption : https://docs.espressif.com/projects/esp-idf/en/latest/api-reference/system/heap_debug.html#heap-tracing-to-find-heap-corruption

[2018-11-03 20:20] callalilychen opened #2660 "[TW#27193] convert_to_cmake does not work"
https://github.com/espressif/esp-idf/blob/12b2268ee56dac79988b75dbb49a453629ed8022/tools/cmake/convert_to_cmake.py#L95
produces the following error:

`IndentationError: unexpected indent`

[2018-11-03 20:37] callalilychen opened #2661 "[cmake buildtoolchain] cmake functions improvement (IDFGH-441)"
Hi,

I tried to use cmake buildtoolchain from you. It is really very nice of you to provide it.

I would like to recommend to change the provided cmake functions, e.g. `register_component()`
from:

[code]
to

[code]
cmake provides the built-in argument parsing function: [cmake_parse_arguments](https://cmake.org/cmake/help/latest/command/cmake_parse_arguments.html#command:cmake_parse_arguments) to

[2018-11-03 22:33] bootrino commented on #2600
@Alvin1Zhang was fixed by https://github.com/espressif/esp-idf/issues/2607#issuecomment-431724180

[2018-11-04 00:09] Alvin1Zhang commented on #2600
@bootrino Thanks for the confirmation.

[2018-11-04 00:09] #2600 closed

[2018-11-04 12:49] chegewara commented on #2149
@chegewara The last my report that addressing works is accurate only when i work with plain C code, when i am using c++ then addressing still is not accurate.

[2018-11-04 13:59] chegewara opened #2663 "[TW#27204] heap assert failed when call heap_caps_print_heap_info(MALLOC_CAP_SPIRAM)"
I am trying to build app: I2S + DMA with BLE. As for now its not complicated app yet, simple camera app in one task and simple BLE app in other task. If i run only camera task or only ble task it works fine, but when i am trying to run both i am getting assert multi_heap error. Usually i can find the reason, but this time i am getting this error when i am trying to print heap info from SPIRAM with

[2018-11-04 17:48] chegewara opened #2664 "[TW#27203] [question] characteristic value length"
@Weijian-Espressif
Hi, at the moment have constant length of characteristic value with length 600. In most cases it is not bad, but i have two opposite situations at the moment. One is request where user needs to create about 80 characteristics in project, hell a lot, i know. In this case 80 characteristics with over 600 bytes each is waste of heap and there is no option to change it except changi

[2018-11-05 00:50] projectgus commented on #2663
Hi @chegewara ,

This looks like a bug, the assert indicates heap corruption somehow. Changing the malloc() threshold maybe works around it by causing something that was (incorrectly) allocated in SPIRAM to be allocated into internal RAM.

Can you please try making it crash again and then try calling `heap_caps_dump(MALLOC_CAP_SPIRAM);` instead of `heap_caps_print_info()`, and show us what it dump

[2018-11-05 01:30] outermanle commented on #2646
@anurag-kar  After enable CONFIG_HEAP_POISONING_COMPREHENSIVE, this issue disappeared.
There is any update about memory issue in wifi driver recently? Specially during WIFI disconnect event.

[code]

[2018-11-05 01:42] chegewara commented on #2663
I have to change the story a little bit. All i described is correct except that issue "has been fixed" when i changed this parameter in menuconfig:
` [*] Allow .bss segment placed in external memory` not `Maximum malloc() size, in bytes, to always put in internal memory` (i changed both but Maximum malloc size is not important).

Logs from `heap_caps_dump`:
[code]

[2018-11-05 03:29] Weijian-Espressif commented on #2609
@dereks we have fixed the issue, please update to the latest IDF and try, thanks.

[2018-11-05 03:58] projectgus commented on #2663
@chegewara So it crashes when "Allow .bss segment placed in external memory" is disabled, but enabling this option it doesn't crash. Is that correct?

Any chance that you are able to send us the .elf file for this app, please?

[2018-11-05 05:46] anurag-kar commented on #2646
@outermanle Not that I know of. Let me check with someone who would be more appropriate to answer this.

[2018-11-05 06:12] chegewara commented on #2663
@projectgus Enabling this option causing crash, with disabled is all ok.

[2018-11-05 07:54] 1XiaSheng opened #2665 "esp-idf V3.0 how to config the component.mk file ?"
![tim 20181105155331](https://user-images.githubusercontent.com/37097029/47984913-076cd000-e113-11e8-92fd-42f23a89bf52.png)
![tim 20181105155338](https://user-images.githubusercontent.com/37097029/47984919-0b98ed80-e113-11e8-8656-478f52e139b7.png)

[2018-11-05 08:00] 1XiaSheng commented on #2665
Great God, please see the above figure, what configuration is required for each component.mk file in the directory structure?

The correct guidelines are not available at https://docs.espressif.com/projects/esp-idf/en/latest/api-guides/build-system.html.

大神,请看上面的图,目录结构中的各个component.mk文件需要填入什么配置?

在https://docs.espressif.com/projects/esp-idf/en/latest/api-guides/build-system.html 中无法得到正确指引.

[2018-11-05 08:28] blueMoodBHD commented on #2658
@Elektrik1 According to your log, the reason for the connection failure is beyond max ACL connections.
Please run  `make menuconfig` , `Component config --->`, `Bluetooth --->`, `Bluetooth controller -->`,  set `BR/EDR ACL Max Connections` to 2 or more. (You may set it to 1, before).  Because page scan should use one.

[2018-11-05 08:52] suda-morris commented on #2657
@benpeoples Yes, by default the mac will filter the multicast address if they could not match the address by Perfect Filter. Since we haven't configured any supported multicast address, so the emac will filter all received multicast frames.
This bug will be fixed soon. Thanks for your suggestion and deep analysis for this issue.

[2018-11-05 08:56] igrr commented on #2665
Hi @1XiaSheng,

ESP-IDF build system does not support nested components.

What you can do instead is: create a `components` directory in your project, and add `cfg`, `hdw`, and `usr` as component directories. Each of these directories can then include component.mk file. If you want your source files to be in `src` subdirectory and include files in `include` subdirectory of each component, then the

[2018-11-05 09:11] 1XiaSheng commented on #2665
thanks, i will try it now,see you later, i will reply you when i have test it in your way

[2018-11-05 11:33] benpeoples commented on #2657
Thank you!

To be clear, this is an issue with only EMACADDR0 being selected for Perfect Filter, and I could adjust registers to workaround the issue directly?   That is, it's a driver issue not a silicon issue?

[2018-11-05 11:57] suda-morris commented on #2657
@benpeoples Yes, it's a driver issue.

[2018-11-05 12:43] mahavirj commented on #2574
@vijayprakash1 Could you please elaborate on what you are looking for? Also what do you mean by `system_get_rtc_time` being not supported? If you have non-functional code-snippets please post them as well.

[2018-11-05 18:21] gerekon commented on #2343
@v1993 Unfortunately. SD card pins interfere with JTAG ones so I failed to test your case on that board using SD card. There is new OpenOCD release is planned (maybe this week). Could you try it?

[2018-11-05 18:29] gerekon commented on #1650
@ammaree

Yes.

Yes. you should use modified version because `espcoredump.py` script in IDF is not updated yet. There are a couple of improvements p[lanned for it. So it will be updated later.

No special updates for core dump is needed.

Let me know if you have problems.

[2018-11-05 19:36] chegewara commented on #2515
@Weijian-Espressif What is event 32 please:
`BTA got unregistered event id 31`

[2018-11-05 19:47] chegewara opened #2667 "smp_process_pairing_public_key, Invalid Public key"
@Weijian-Espressif @Yulong-espressif Could you point me direction please.
I am assuming it is my fault that i am getting this error message, just i cant figure out what i do that i am changing keys value. The story is i am trying to pair with windows 10 and all has been working few weeks ago, now it complains about invalid pairing key. esp-idf gatt_secure example dont have this problem.
`E (119013

[2018-11-05 20:30] PaulFreund opened #2668 "WPA2 PEAP connection disconnect after 30 minutes - reason 23 (IDFGH-28)"
## Environment

- Development Kit:      none
- Module or chip used:  ESP32-WROOM-32
- IDF version (run ``git describe --tags`` to find it): v3.2-beta1-34-gfb7ba1baa
- Build System:         Make
- Compiler version (run ``xtensa-esp32-elf-gcc --version`` to find it): 1.22.0-80-g6c4433a) 5.2.0
- Operating System:     Linux
- Power Supply:         external 3.3V

## Problem Description

After being con

[2018-11-06 01:47] outermanle commented on #2646
Okay, Thanks.

[2018-11-06 05:45] mahavirj commented on #1959
@onkarnaik511 Please feel free to re-open in case you observe this with latest code-base or stable release.

[2018-11-06 05:45] #1959 closed

[2018-11-06 05:46] mahavirj commented on #2630
@pankajverma190 Did you get chance to try latest code-base? If there are no outstanding questions, could you please help to close this issue?

[2018-11-06 06:26] wayneuroda opened #2670 "[TW#27236] Bug in lwip/port/esp32/netif/ethernetif.c"
There is a memory leak bug in some error handling code in ethernetif.c

[code]

It is not correct to set `p->l2_owner = NULL;` before calling `pbuf_free(p)`.

The same mistake is not present in wlanif.c.

[2018-11-06 07:44] liuzfesp commented on #2647
Hi @HuyKhac, it's a bug in AP side.

# keep alive between AP and STA
Generally, on STA side, it will start to send keep alive frame (NULL frame) to AP to keep the connection. On AP side, it will start a keep alive timer,  it will reset the timer once it receives any **data** frame from STA or receives keep alive frame from STA.  AP will disconnect the STA if it doesn't receive any data frames from

[2018-11-06 08:15] liuzfesp commented on #2643
@skitsanos everything looks good on my side, could you let me know the return value of the API?

[2018-11-06 08:36] jitin17 commented on #2516
@kmakhil90 `openssl req -x509 -newkey rsa:2048 -keyout ca_key.pem -out ca_cert.pem -days 365`
This is the command found in README.md. The difference between this command and the one that works for you is that your command has a `--nodes` flag. So, I think if your command works then the one provided in the README should also work.

So, can you post the error that you get on running the command spec

[2018-11-06 08:41] liuzfesp commented on #2643
Thanks @skitsanos for pointing this bug, we will fix it.

[2018-11-06 08:42] Freepom opened #2671 "[ESP32 MQTT] Print No PING_RESP, disconnected (IDFGH-446)"
使用过程突然断开连接，串口打印了No PING_RESP, disconnected，这个是什么错误造成的

[2018-11-06 08:45] liuzfesp commented on #2670
Thanks @wayneuroda for pointing this bug, we will fix it.

[2018-11-06 08:51] Alvin1Zhang commented on #2671
The translation of the issue description is: When MQTT is in use, it suddenly lost connection and then printed No. PING_RESP, disconnected. Do you have any idea what caused this issue? @Freepom Please help correct if the translation is not correct. Thanks.

[2018-11-06 09:32] Alvin1Zhang commented on #789
@Nakul93 Hi, could you help update if the issue you reported still exists? Thanks.

[2018-11-06 09:37] david-cermak commented on #2671
Hi @Freepom ,

Generally this is caused by the MQTT broker not responding to pings. By default the client keep-alive setting is to 120s, so the issue indicates there was no communication server-client for this period.

If your connection is stable and your broker is online, this might also be an issue with mqtt-client not correctly processing some messages and thus not correctly sending pings (so

[2018-11-06 09:52] vgonet commented on #1907
Hello,
I have exactly the same need as ubergeek801. Would it be possible to implement the changes in mcpwm.c so that rising and falling edges could be detected ?
Thanks and best regards.

[2018-11-06 10:46] xgenesys commented on #1891
Hi @igrr ,

I am using the mqtt/tcp example to publish some data to mqtt broker (use WIFI), I also try to scan BLE packages also.

The scanning duration is infinite, any beacon package found, I will forward it to MQTT broker.

I got the same issue as this thread discussion, you can see the log below:

`ASSERT_PARAM(0 4), in lld_evt.c at line 1749
Guru Meditation Error: Core  0 panic'ed (Interrupt

[2018-11-06 11:11] Alvin1Zhang commented on #1891
@xgenesys Hi, would you please help create a separate issue for your questions? Thanks.

[2018-11-06 11:31] xgenesys opened #2672 "Guru Meditation Error: Core 0 panic'ed (Interrupt wdt timeout on CPU0) (IDFGH-455)"
Hi everyone,

I am using the mqtt/tcp example to publish some data to mqtt broker (use WIFI), and I try to scan BLE packages also.

The scanning duration is infinite, any beacon package found, I will forward it to MQTT broker.

I got the issue as below:

[code]

Could you please tell me where is the problem come from? I am new to ESP32.

Thank you very much,

[2018-11-06 11:33] xgenesys commented on #1891
already created a new issue, sorry.

[2018-11-06 11:37] skitsanos commented on #2643
i have err code 0 that comes together with

[code]

and

[code]

Maybe I'm doing things in a wrong order? Here is my func:

[code]

if i dont set this protocol into LR, it all works just fine, i have proper APSTA mode and ESP-NOW functioning perfectly

[2018-11-06 11:43] jitin17 commented on #2631
I tried reproducing the issue by running a local server which redirects to another host, and it seems to work. So, I am sharing the log and python script with you. Let me know if I am missing something.

[code]
Redirect python server script( copied from https://gist.github.com/shreddd/b7991ab491384e3c3331)
[code]

[2018-11-06 11:43] Weijian-Espressif commented on #2664
@chegewara  I will change it to dynamic allocation in stack.  I have a lot of tasks to do this month, i try to finish next month. I have a question, your characteristic length is 30-300kB,  our ESP32 memory is not enough, how do you plan to solve it?

[2018-11-06 11:47] negativekelvin commented on #2672
You did not post your idf version

[2018-11-06 12:08] Weijian-Espressif commented on #2667
@hegewara Can you print the values of` peer_publ_key.x` and `peer_publ_key.y` in `smp_process_pairing_public_key()`.  ESP32 will check whether the x and y coordinates are on the given elliptic curve.

[2018-11-06 12:45] chegewara commented on #2664
@Weijian-Espressif Thanks for changing it.

Im thinking about creating 2 simple app (one for android), to send jpeg base64 encoded image from esp32 to android device and display it as image. Thats why i need so big characteristic. I am aware that it cant be achieved with regular ram, so i am thinking about using spiram to do it. If i could not allocate characteristic value in spiram then another i

[2018-11-06 13:05] Weijian-Espressif commented on #2664
@chegewara , if you want to send an image to android,  you can use indication,  manual segmented transmission.

[2018-11-06 13:11] chegewara commented on #2664
@Weijian-Espressif I know, but to do this i still have to set value of characteristic to 30-300kB length, or read chunks of data and send indications. Thanks for idea.
Like i said, in my situation it will be better to handle this in app level, but for 80 characteristic with descriptors in each one its a lot memory allocated and wasted since client claims that characteristic and descriptor value wi

[2018-11-06 13:30] Weijian-Espressif commented on #2664
@chegewara , Value of characteristic is dynamic allocation in IDF.

[2018-11-06 13:34] chegewara commented on #2664
@Weijian-Espressif Maybe this is noob question, but how? I see that characteristic value is uint8_t array with length 600:
https://github.com/espressif/esp-idf/blob/master/components/bt/bluedroid/api/include/api/esp_gatt_defs.h#L369

[2018-11-06 13:51] zhaochengwei opened #2673 "ssl_tls.c:5875 alloc(16717 bytes) failed"
![image](https://user-images.githubusercontent.com/13081827/48068487-e76e0700-e20d-11e8-8ef8-8ba0f4d88ab4.png)
As you can see, 16384 is TLS maximum message content length.But I met this problem, So what's the problem?
![image](https://user-images.githubusercontent.com/13081827/48068580-22703a80-e20e-11e8-806b-105abd8a1553.png)

esp-idf v3.1

[2018-11-06 15:13] gecko242 commented on #1062
Any more info on this issue? Still present in 3.2

[2018-11-06 16:18] chegewara commented on #2667
@Weijian-Espressif For some reason `peer_bul_key.y` is not initialized and x is not fully initialized:
[code]
This is from android device:
[code]
What is even more disturbing, when iPhone is exchanging keys `smp_process_pairing_public_key` is not even called:
[code]

[2018-11-06 16:57] jaygarcia commented on #2128
Thanks @OtherCrashOverride =)

[2018-11-06 17:38] chegewara commented on #2667
Here is my wireshark file (renamed to upload):

[win10.pcapng.txt](https://github.com/espressif/esp-idf/files/2554326/win10.pcapng.txt)

[2018-11-06 18:44] Elektrik1 commented on #2658
@blueMoodBHD Thank you, that was the issue, however now BT connects but disconnects after ~ seconds with such error:

sometimes those as well:

[2018-11-06 18:52] HFRibeiro commented on #1783
Hello,
So once again i had this same problem in another project, as i was able to use it as input on the version 2.1, I was not convinced with your responses, so after some reading i came up with a simple solution.
If anyone stumble on this as well just use  gpio_reset_pin((gpio_num_t)10);
This will make you once again able to use the GPIO10.
Thanks anyway.

[2018-11-06 20:08] chegewara opened #2674 "[TW#27249] [request] option to turn on/off slave connection intervals in advertising packet"
@Weijian-Espressif @Yulong-espressif
At the moment we have all the time advertised `Slave connection interval range`  (0x12). As far as i can say not many devices advertising this packet and it takes 5 bytes. Can we have at least option similar to include_name and include_txpower to turn it off from advertising packet? Thanks.

[2018-11-06 22:37] lucashutchinson commented on #947
Hi All,

I have been optimising our ESP32 application for low power at the moment.
I have eliminated a few power hogs in our code and incorrect configurations however i am running into a wall with bluetooth enabled.

The lowest consumption with BLE enabled (BT-classic disabled) is around 28-32mA when advertising with a 200ms interval
In the same application if BLE is not initialised, the power con

[2018-11-06 22:45] lucashutchinson commented on #2674
You can manually construct the advertising and scan response data and set this if you are wanting to optimise the data that you are sending.
I have done this in my application and it works great!

I create two arrays like:
[code]
And then manually fill them with data like:
[code]

Then set the raw advertising and scan response data using:
`esp_ble_gap_config_adv_data_raw` and `esp_ble_gap_config_s

[2018-11-06 23:04] chegewara commented on #2674
@lucashutchinson I am working with Kolban's c++ library to easy building applications, so creating raw advertising packet only because something is not what i want. This library is widely used by arduino community, do you see option that arduino programmers will build raw adwertising packets?

[2018-11-06 23:07] chegewara commented on #947
@lucashutchinson Did you try to change TX power? By default it is setup pretty high (+3dBm).

[2018-11-06 23:19] lucashutchinson commented on #2674
Since it is using c++ im sure there could be some sort of class or template that could be created to allow users of the lib to create more custom adv data, using these functions in the back ground.

[2018-11-07 01:37] outermanle opened #2675 "[TW#27250] [feature request] mDNS support alias name"
## Environment
- Development Kit:      [ESP32-DevKitC]
- Kit version (for WroverKit/PicoKit/DevKitC): [v4]
- Core (if using chip or module): [ESP-WROOM-32D]
- IDF version (3276a1316):
- Development Env:		[Make]
- Operating System:		[Ubuntu]
- Power Supply:         [USB]

## Problem Description
mDNS not support alias name.

It will benefit for device management in the local network if supported.
We

[2018-11-07 01:59] zhaochengwei commented on #2673
So, how can I enlarge my full length buffers?

[2018-11-07 02:01] Alvin1Zhang commented on #2672
Would you please help check whether the issue you reported is the same as #2530 [https://github.com/espressif/esp-idf/issues/2530](url) ?

[2018-11-07 02:06] Alvin1Zhang commented on #2647
@HuyKhac Hi, would you mind if we close this issue for the time being? You are free to reopen this issue if the issue pops up again. Thanks.

[2018-11-07 02:43] Weijian-Espressif commented on #947
hi all:
    Please confirm if bluetooth mode sleep is enabled  in menuconfig.
Location:     Component config     -> Bluetooth   -> Bluetooth controller    -> MODEM SLEEP Options

[2018-11-07 02:45] Yulong-espressif commented on #2667
@chegewara From the log you gave, it is because your y coordinate is not initialized. If the y coordinate is not initialized, it means that your public key is not on the given elliptic curve. In this case, when your private key is the base, then your DHkey is calculated to be equal to the Public key; when your private key is even, DHkey is 0.

[2018-11-07 03:12] lucashutchinson commented on #947
Hi @chegewara @Weijian-Espressif

Yes I have tried changing the TX power between N12 and P9, no real difference was noticed. however i am going to do a few more tests.

I have enable bluetooth modem sleep options, and have tried both ORIG and EVED modes.
I have also enabled power saving in `Component config -> Power Management`
and also enable tickless idle in `Component config -> FreeRTOS -> Tick

[2018-11-07 03:40] blueMoodBHD commented on #2658
Hi,@Elektrik1,  I tried to reproduce the  new issue but failed. So could you please tell me the commit id of ESP-IDF and your code.
Thanks.

[2018-11-07 03:44] negativekelvin commented on #2673
No, it means there is not enough memory available.  You can try some of the menuconfig option for asymmetric buffers or reduce your app memory usage or use wrover/psram.

[2018-11-07 03:56] Weijian-Espressif commented on #2664
@chegewara,  it is the max length of response,  you can add char with value length over 600 bytes.

[2018-11-07 03:57] mywang-espressif commented on #947
@lucashutchinson . 30mA is in accord with our internal test result for BLE advertising in current stage. In order to further optimize the bluetooth power consumption, we are trying to resolve the issue in the combination use of bluetooth modem sleep and Dynamic Frequency Scaling(DFS) as well as Automatic light sleep.  which can hopefully be completed in a month.
The reason that you get a 3.2mA cur

[2018-11-07 03:58] TianHao-Espressif commented on #2619
@jakkra , As far as now, ESP32 support:
*  WiFi STA +  BLE
* WiFi STA + Classic BT
* Ethernet + Any  (Ethernet do not use wireless RF)

[2018-11-07 03:59] TianHao-Espressif commented on #2153
@TimXia , please take a look

[2018-11-07 04:07] TianHao-Espressif commented on #2370
@Milan991 , do you use BLE or BR/EDR while wifi is connecting?

[2018-11-07 06:20] zhaochengwei commented on #2673
OK，I solved the problem thank you !

[2018-11-07 06:20] #2673 closed

[2018-11-07 06:48] koobest commented on #1907
Hi, @vgonet, This feature will soon be merged into master. the change list is as follows:

[code]
@ubergeek801， thanks for your Thank you for your advice too.

[2018-11-07 07:36] suda-morris commented on #1719
@versamodule Thanks for your interest in ESP32. Now we have more examples for Ethernet. What's more, you can use a lot of protocol related examples, they can also work with Ethernet.

[2018-11-07 07:40] #1719 closed

[2018-11-07 07:57] suda-morris commented on #2164
@cnlohr Actually you shouldn't use GPIO16/17 to output 50MHz clock for Ethernet if you want to use PSRAM at the same time.
**GPIO0 can not be used to output 50MHz clock in any situation**, this bug has been fixed in the lasted release.
May I ask you a question, have been succeed with your LAN8720 board now?

[2018-11-07 08:01] Milan991 commented on #2370
@TianHao-Espressif I'm using BLE.

[2018-11-07 09:12] sauttefk commented on #2164
@suda-morris But I am actually using GPIO0 as output and it is working

[2018-11-07 09:45] conduire opened #2676 "[TW#27331] make issue ! while trying make for - esp-idf/examples/system/ulp_adc program."
Hello I am a beginner in esp32 programming. When i am trying to perform make for the ulp and ulp_adc program on the ulp of my esp32 pico d4. I am getting the error "
 error: implicit declaration of function 'esp_deep_sleep_disable_rom_logging' [-Werror=implicit-function-declaration]
     esp_deep_sleep_disable_rom_logging(); // suppress boot messages".
 shown in the screenshot below. Is there some

[2018-11-07 10:26] jaracil opened #2677 "No phy recalibration after esp_restart() (IDFGH-448)"
Hi all.
After OTA flashing i run esp_restart() to launch the new firmware. I noticed the output BLE power was too low. I suspect the old firmware calibration data is still in use.
If i turn off - on the hardware then issue disappears.
The answer is: How can i reboot by software forcing full re-calibration?

Thanks.

[2018-11-07 11:09] xiongyumail commented on #1783
[code]
This function can configure the corresponding io as gpio function.
You may also use the following method:
[code]

[2018-11-07 12:18] david-cermak commented on #2675
Hi @outermanle

Although, It is possible (and in fact quite easy) to add another A/AAA answer in the response  packet and thus having an alias hostname resolved, it may not conform to mDNS standards. @me-no-dev  Can you please comment?

Maybe you can address the issue by setting up some aliases locally using `avahi-alias` service? Having your hostname `company_macSuffix.local` and create an alias

[2018-11-07 13:55] Matheus-Garbelini commented on #2164
@suda-morris
Did you use any inverter IC? If so, which one?

[2018-11-07 14:59] lettierimarco commented on #2322
I 'm using the example server gatt security...with iphone and android with NRF app it connects without prompt passkey... already checked if i've the last commits

[2018-11-07 15:03] chegewara commented on #2322
Im guessing you have this setting not changed:
https://github.com/espressif/esp-idf/blob/master/examples/bluetooth/gatt_security_server/main/example_ble_sec_gatts_demo.c#L557

It needs to be changed to `ESP_IO_CAP_DISPLAY` if i remember.

[2018-11-07 15:18] lettierimarco commented on #2322
do you mean ESP_IO_CAP_OUT?

Il 07/11/18 16:03, chegewara ha scritto:

[2018-11-07 15:20] chegewara commented on #2322
Yes, thats the one.

[2018-11-07 16:16] ubergeek801 commented on #1907
Glad to see it. Thanks for making this change!

[2018-11-07 20:05] alex00971 commented on #2632
It's working on latest version of release\v3.1

[2018-11-07 20:05] #2632 closed

[2018-11-07 20:09] vonnieda opened #2678 "[TW#27271] ADC Calibration Documentation Incomplete (IDFGH-843)"
In the ESP-IDF docs at https://docs.espressif.com/projects/esp-idf/en/latest/api-reference/peripherals/adc.html it says "There are currently three sources of calibration values. The availability of these calibration values will depend on the type and production date of the ESP32 chip/module." but there is no information that describes which chips or modules have this, or how to get them. Is there

[2018-11-07 22:54] cnlohr commented on #2164
Yeah... uuhh... Definitely don't get rid of GPIO0, @suda-morris ...  I right now am using GPIO16/17, but will be switching it to GPIO0 with an inverter soon.

[2018-11-07 23:03] baycom commented on #2153
If you like you can checkout my code: https://github.com/baycom/gimbal-controller

[2018-11-08 00:34] outermanle commented on #2675
@david-cermak
Q: Having your hostname company_macSuffix.local and create an alias for each macSuffix to company.local?
A: Yes, it is convenient for us to manage devices in local network.

[2018-11-08 02:33] markingle opened #2679 "Bluetooth Classic A2DP disconnecting after ~20 seconds (IDFGH-447)"
## Environment

- Development Kit:      SparkFun ESP32 Thing
- Kit version: N/A
- Module or chip used:  ESP32-DOWD
- IDF version:  v3.2-dev-1425-gbd90f534f
- Build System:        Make
- Compiler version: xtensa-esp32-elf-gcc (crosstool-NG crosstool-ng-1.22.0-80-g6c4433a) 5.2.0
- Operating System:    macOS
- Power Supply:         USB

## Problem Description
I am working to get the Bluetooth Classic

[2018-11-08 03:31] bpleon commented on #1788
I have started having this issue after i updated esp-idf. :-(

[2018-11-08 03:32] Beeline-MQTT commented on #1788
I have started to get this issue as well :-( Started after i updated esp-idf.

[2018-11-08 03:56] negativekelvin commented on #2164
@sauttefk have you scoped the clkout on gpio0 and gpio16 side by side? Is there any difference?

[2018-11-08 09:26] markfink opened #2680 "[TW#27328] question on app / firmware versioning"
not sure whether this is a feature request or just a user question. google so far did not bring up anything relevant / useful on the topic.
I would like to use semantic versioning for my apps I build using ESP-IDF. Is there a mechanism in the build system already in place I can use? Can I have that as part of the firmware (.bin) name?

I also want to use the filename of the firmware running from i

[2018-11-08 09:51] KingCheng1987 opened #2681 "GBK"
----------------------------- Delete below -----------------------------

If your issue is a general question, starts similar to "How do I..", or is related to 3rd party development kits/libs, please discuss this on our community forum at esp32.com instead.

INSTRUCTIONS
============

Before submitting a new issue, please follow the checklist and try to find the answer.

- [ ] I have read the docu

[2018-11-08 09:51] #2681 closed

[2018-11-08 09:57] Weijian-Espressif commented on #2677
@jaracil, ESP2 reads the calibration value from flash when restarting, If not found, regenerate the calibration value.

[2018-11-08 09:58] KingCheng1987 opened #2682 "[TW#27335] GBK编码中文的ssid不能连接"
----------------------------- Delete below -----------------------------

If your issue is a general question, starts similar to "How do I..", or is related to 3rd party development kits/libs, please discuss this on our community forum at esp32.com instead.

INSTRUCTIONS
============

Before submitting a new issue, please follow the checklist and try to find the answer.

- [ ] I have read the docu

[2018-11-08 11:20] liuzfesp commented on #2682
@KingCheng1987 could you let me know the detailed AP type? Then I can reproduce this issue myself.

[2018-11-08 11:35] KingCheng1987 commented on #2682
tenda 一些系列的路由器都可以设置ssid编码格式，例如下面这款，ssid设置为中文，格式设置为GBK即可
https://detail.tmall.com/item.htm?spm=a230r.1.14.20.20f728892logOW&id=543442584437&ns=1&abbucket=14&skuId=3280433857784

[2018-11-08 11:44] mahavirj commented on #2676
@conduire What is ESP-IDF version that you are trying this build with? Regarding build failure, you may refer (or cross-check) https://github.com/espressif/esp-idf/blob/master/components/esp32/sleep_modes.c#L699

[2018-11-08 11:49] jaracil commented on #2677
@Weijian-Espressif.
I have CONFIG_ESP32_PHY_CALIBRATION_AND_DATA_STORAGE=n (disabled)
and i suspect the calibration value is not regenerated because after soft reboot (esp_restart)
BLE output power goes noticeable lower.
After hard reboot (power off/on) BLE output power goes to normal level.

All this happens when i update firmware (OTA) and the new firmware was compiled with a different IDF versi

[2018-11-08 14:54] chegewara commented on #2676
https://github.com/espressif/esp-iot-solution/blob/master/documents/low_power_solution/esp32_ulp_co-processor_and_assembly_environment_setup_en.md

[2018-11-08 16:58] lrodenasSistel opened #2684 "BUG in esp_http_client when using HTTPS and receiving error ESP_ERR_HTTP_FETCH_HEADER (IDFGH-449)"
## Environment
Own product pcb using:
- Module or chip used:  ESP32-WROVER
- IDF version 3.1.1
- Build System:         [Make]
- Compiler version:  xtensa-esp32-elf-gcc.exe (crosstool-NG crosstool-ng-1.22.0-80-g6c4433a5) 5.2.0
- Operating System:     [Windows]
- Power Supply:         [USB and/or Battery]

## Problem Description

I think I found an important bug in esp_http_client. It only happens w

[2018-11-08 18:16] chegewara opened #2685 "[TW#27339] no congest event triggered"
Hi @Weijian-Espressif
i dont know if this normal, weird or unexpected (issue) behavior. I am trying for test purpose to trigger congest event but instead i am getting btuT and btc_Task watchdog. My procedure is as follows:
- create esp32 peripheral server app,
- on connect with central send `esp_ble_gap_update_conn_params` with min and max set to 0x30 (60ms), it works i can confirm with nRF connec

[2018-11-08 18:36] chegewara commented on #2552
Hi @Weijian-Espressif it seems that conf event handle is not working:
`W (22205) handleGATTServerEvent: m_handle = 42, conf->handle = 0`
from this code:
`			ESP_LOGW(__func__, "m_handle = %d, conf->handle = %d", m_handle, param->conf.handle);
`

[2018-11-08 18:56] chegewara commented on #2685
I just want to add that indicate works perfect. With connection params set to 60 ms i am able to send indicate every 120ms (60ms send, 60ms receive confirm) even if again i have tight loop 3ms. Only thing that bothers me is conf_evt being triggered by bt stack when indication is sent, but no event triggered when peer device sends indication confirmation:
[code]

[2018-11-08 22:59] chegewara commented on #819
I have to say BIG thank you for releasing beta version. I had not much time to play with it so far, but i love it. I dont know yet which android provisioner i like more, with silicon labs we have options to easy switch all available server configs like proxy, relay or element type. In other hand is not recognizing more than one element per node (maybe its esp32 issue see ad1) even if is assigning

[2018-11-08 23:20] shalnoff commented on #580
But would it be possible theoretically? What is it dependent?

What about BT multicasting support? (I'd read abiut this new feature standard implementation some time ago, unfortunatley can't find the link)

[2018-11-09 02:58] suda-morris commented on #2164
@sauttefk Sounds interesting. Yes, GPIO0 can output the clock of APLL if we set the register PIN_CTRL to value 6, but how did you know this? By the way, have you added any external chip to modify the phase of the clock output from GPIO0 so that it can work for LAN8720?

@negativekelvin GPIO0 seems like output the same clock as GPIO16 regardless of the different of their Vpp.

@cnlohr I'm looking f

[2018-11-09 03:31] XinDeng11 commented on #2682
@KingCheng1987 We don't know how to set format to GBK in Tenda's router, could you give us a operation document?

[2018-11-09 04:05] qwert1213131 commented on #1930
@ESP32DE
Thank you for your reply.
I am a bit confused.
If you have time, can you draw a sketch of the connection between pico and sram?

[2018-11-09 05:47] rob-bits commented on #580
Hi @shalnoff,
Yes, it is possible. I have already a working proof-of-concepct example with the bluekitchen btstack.
Please see my issue:
[TW#23410] A2DP Source stream audio to two Sink device #2060

I shared a bluetooth specification for multiple streams.

[2018-11-09 08:28] sauttefk commented on #2164
@suda-morris Because I committed the code to use `GPIO16`, `GPIO17` and `GPIO0` as EMAC clock output. See here https://github.com/espressif/esp-idf/commit/f324458b6ad26d31a5ee5309ea1ac52c5d5654f6#diff-d6d5d1b5f7eb8740026fb9f036bb28af
You  removed this here https://github.com/espressif/esp-idf/commit/ec07112f5b0c4b7fec4825083c9353644f421b0a#diff-add484727a0710bb807e8138b9140d23 and ignored my prote

[2018-11-09 08:31] sauttefk commented on #2164
Yes, but this also applies to other pins in ohter situations. I think someone who adds a Ethernet port to the ESP32 knows what he does.

[2018-11-09 08:31] outermanle commented on #2646
@anurag-kar
Update to the newest master branch 12b2268ee56dac79988b75dbb49a453629ed8022 and this issue hasn't happened yet.

But trigger one time about watchdog in wifi driver, so stuck all the time.
I think there is true condition loop all the time in the wifi driver version 12b2268ee56dac79988b75dbb49a453629ed8022.

[2018-11-09 08:32] outermanle commented on #2675
@david-cermak
Any plan to support this feature?

[2018-11-09 08:40] jitin17 commented on #2684
Hi @lrodenasSistel, I am including a text file(change the extension to .patch), which contains patch of workaround for this issue.
Apply the patch, and let us know if that works.

[client_workaround_patch.txt](https://github.com/espressif/esp-idf/files/2565157/client_workaround_patch.txt)

[2018-11-09 08:53] Alvin1Zhang commented on #2609
@dereks Hi, could you please help share if any updates for this issue? Thanks.

[2018-11-09 08:58] blueMoodBHD commented on #2679
Hi @markingle, This issue seems like a bug we had fixed. Please update your ESP-IDF and test again. Thanks.

[2018-11-09 09:56] Weijian-Espressif commented on #2674
@chegewara, You do not want to set `Slave connection interval range`, am i right? please set `min_interval` and `max_interval ` to zero.

[2018-11-09 10:20] chegewara commented on #2674
@Weijian-Espressif I want to set it, but i dont want to have it included in advertising packet, or at least have control that it is included in advertising packet but excluded in scan response. Unless the logic requires to advertise it if its > 0. In this case i know what to do. Thanks.

[2018-11-09 10:28] rockineagle commented on #2014
How ?

[2018-11-09 10:37] chegewara commented on #2674
Ok, i think i see the point. Thanks for answer.

[2018-11-09 10:37] #2674 closed

[2018-11-09 10:54] lrodenasSistel commented on #2684
How do I apply the patch? Where should I put this file after changing the extension?

[2018-11-09 11:39] #2648 closed

[2018-11-09 11:49] fri-sch commented on #2466
esp-idf 22da5f6de is v3.1-rc2 and this version simply does not have esp_fill_random(). It was added afterwards. See https://github.com/espressif/esp-idf/blob/v3.1-rc2/components/esp32/include/esp_system.h.

[2018-11-09 12:24] jeremyherbert opened #2686 "LEDC functionality does not work unless run in app_main() function"
The following code works fine (I see a 5kHz wave out of GPIO 26):

[code]

However, if I put all of this code in it's own function, GPIO 26 is just stuck low.

[code]

There are no errors, warnings, etc, and both sets of code print out the correct frequency. I am running the code on the exact same board (Lolin D32 Pro aka ESP32-WROVER).

I'm genuinely not sure where to even start looking on this o

[2018-11-09 12:44] dsa-t opened #2687 "[TW#27389] Core panic on OTA over BLE (Cache disabled but cached memory region accessed)"
## Environment

- Development Kit:      [none]
- Module or chip used:  [ESP32]
- IDF version (run ``git describe --tags`` to find it):
    v3.2-beta1-34-gfb7ba1b
- Build System:         [Make]
- Compiler version (run ``xtensa-esp32-elf-gcc --version`` to find it):
    1.22.0-80-g6c4433a5
- Operating System:     [Linux]
- Power Supply:         [external 3.3V]

## Problem Description

I started usin

[2018-11-09 12:48] mahavirj commented on #2686
@jeremyherbert I would recommend following modification to above code (just to make sure that all `config` members are correctly initialized) ,
[code]

[2018-11-09 12:55] jeremyherbert commented on #2686
@mahavirj Doh. I just added the struct clear and it works... Thank you for your help, I suppose that's what I get for writing code late at night :(

[code]

[2018-11-09 12:55] #2686 closed

[2018-11-09 13:13] david-cermak commented on #2675
@outermanle
No, we most likely will not implement this, have started an internal discussion about mDNS with multiple A records, but that does not seem to fit into esp32 mdns component.

More importantly, your use case is clearly against the spec, as it imposes multiple non-unique host names on local network; mdns employs mechanisms to solve these conflicts (see https://tools.ietf.org/html/rfc6762

[2018-11-09 13:14] chegewara commented on #2687
https://github.com/espressif/esp-idf/issues/2512

[2018-11-09 13:16] chegewara commented on #2687
@dsa-t I know there is GATT service related to firmware update (at least i think i saw one), but i cant find it now. Could de give me a hint what is the UUID? Or you are using random UUID's?

[2018-11-09 13:19] dsa-t commented on #2687
I am using Custom Characteristics:

OTA write (and current block read) Characteristic:
8880f7bd-c968-41bb-9977-3cb3d7e204f6

Send Command Characteristic:
67f35d72-6a95-4072-a8b6-6a28ec9159c6

Service:
4fafc201-1fb5-459e-8fcc-c5c9c331914b

[2018-11-09 14:34] dobairoland commented on #1693
Hi @mill1000! Thanks for reporting this issue and sorry for the late reply.

Yes, you are right that without releasing the lock no logger function should be called. I'll make a correction as soon as possible.

However, you will still need to guard against such situations in your code because by removing the problem with locks the application will get into an infinite recursion: `fopen` -> failure

[2018-11-09 16:17] conduire commented on #2676
Thank you for the reply @mahavirj  and @chegewara . It was the issue with the version, just installed esp-idf from the link by chegwara and the issue was resolved.

[2018-11-09 16:17] #2676 closed

[2018-11-09 19:05] negativekelvin commented on #2152
@ybuyankin Your server is requesting a client certificate

[2018-11-09 19:15] ybuyankin commented on #2152
@negativekelvin Thanks yes I've noticed that but it's generally the same thing - it does not appear to be a problem for any other device to connect to this server except for the ESP32. We generally aim to make it compatible with any 'valid' network setup, do we? And by 'valid' I mean any setup which allows for common Win/MacOS/Android devices to connect. And they do.

[2018-11-09 20:06] ybuyankin commented on #2152
Local admin said that was the guide to set up the Cisco so it should be quite common [https://www.cisco.com/c/en/us/support/docs/wireless/5500-series-wireless-controllers/115988-nps-wlc-config-000.html](url)

[2018-11-10 01:52] outermanle commented on #2675
@david-cermak
I got it, Thanks a lot!

[2018-11-10 06:57] negativekelvin commented on #2152
Debug log shows it fails abruptly without server sending any response compared to andrefilipin's log where server will send tls alert before failure.  Unfortunately failure message is generated in closed source libwpa2. Can you check server log or use sniffer?

[2018-11-10 11:55] #2675 closed

[2018-11-10 19:32] anurag-kar commented on #2646
@outermanle That means that the thread argument is corrupt which may imply FreeRTOS task stack overflow!

Could you try increasing the `stack_size` in httpd_config_t structure passed to `httpd_start()`? (The default value is 4096).
[code]

[2018-11-11 03:44] outermanle commented on #2646
Thanks @anurag-kar , I will try it.

[2018-11-11 07:46] anurag-kar commented on #2646
@outermanle Could you also tell me how you check this? Because, if that is the case, it still doesn't explain why the status value is a garbage, when accessed using the handle (valid handle) provided to httpd_stop().

[2018-11-11 09:40] outermanle commented on #2646
@anurag-kar
Enable stack check but get nothing tips.
In my home AP, the probability is about 40-50%.

start server handle
[code]

stop server handle
[code]

[2018-11-11 10:18] anurag-kar commented on #2646
I (560809) httpd: Started HTTP server=0x3ffd3938 on port: '80'
I (560819) httpd: Max URI handlers: '12'
I (560819) httpd: Max Stack Size: '4096'
I (560829) httpd: Registering basic handlers
I (560829) httpd: Number of handlers = 12
I (560839) httpd: Success

@outermanle Could you tell me from which function you are printing the above?

E (12390199) httpd: handle=0x3f0b12c5

And this?

[2018-11-11 11:54] outermanle commented on #2646
[code]

[2018-11-11 13:42] me-no-dev commented on #2675
@outermanle This functionality is really out of spec and could cause issues on the network. Our mDNS server is required to pass Apple Bonjour certification, which is a really rigorous test. Sorry but we can not implement this feature and break specs.

[2018-11-11 16:00] ideaoven commented on #1281
This is still an issue in 3.1.1 using MacOS Mojave (10.14.1 (18B75)).  During the build the flex command returns a blank zconf.lex.c file. For me this occurred with both the Apple flex (2.5.35 Apple(flex-31)) and the latest flex installed with homebrew (2.6.4).  For anyone trying to get this to compile using the getting started tutorial, you need to copy the file from @mringwal into tools/kconfig

[2018-11-11 17:20] squonk11 commented on #2486
For me the commands needed to be:

- pacman -S mingw-w64-i686-python2-cryptography
- python -m pip install --user -r requirements.txt

[2018-11-11 21:58] Reiner1210 opened #2689 "[TW#27382] Program does not start on PICO V4"
Hello,

my program works fin on ESP32 Core Board V2, but on PICO V4 it does not start automatically. After pressing the enable button the program starts. Any solution ?

[2018-11-11 23:44] michprev opened #2690 "[TW#27381] SPI_CHECK incorrect error message"
- IDF version (run ``git describe --tags`` to find it): v3.1.1-6-g2aa9a2118

## Problem Description

https://github.com/espressif/esp-idf/blob/fb7ba1baa068a2267ef54b7105cf3c8a004fe4eb/components/driver/spi_master.c#L449-L454

The error message talks only about situation when using SPI via GPIO matrix but the assert fails even when using SPI via native pins (which is correct).

The error message sh

[2018-11-12 03:08] XinDeng11 commented on #2682
@KingCheng1987 We have verified the issue, 32 can succuess to connect with that router in GBK format. Here is the simple code we used.
[scan.zip](https://github.com/espressif/esp-idf/files/2570374/scan.zip)

[2018-11-12 06:11] jitin17 commented on #2684
Instead of attaching patch, I am sending you modified esp_http_client_perform() API in the text file.
So can you replace the existing esp_http_client_perform() API in components/esp_http_client.c with the one given in the text file?
Let us know if this works. I am finding it a little difficult to reproduce the issue. So, if this works then we can raise an MR to fix the bug.

[new_esp_http_perform_

[2018-11-12 06:56] wayneuroda opened #2691 "[TW#27392] Is there any way to disable automatic append of FCS for ethernet emac?"
I wish to interface to an ethernet switch which uses tail tagging. An extra byte is inserted (by my software) just before the FCS, and the switch IC will remove it before it is sent to the LAN. This means that the FCS will be wrong, since it was computed with the tail tag present.

Is there a way I can disable automatic FCS inside the emac and instead compute and append my own?

Thanks

[2018-11-12 07:28] joicetm opened #2692 "Can i use gpio17/gpio16 of esp32 pico"
I am using a custom board based on esp32 pico, currently i am running out of gpio pins and i wish to use the gpio16 and 17. As per the datasheet, it is connected to the flash, is there any way i can use these pins as chip select for the spi?

[2018-11-12 07:43] Chenzejun-Dummkopf opened #2693 "DuerOS: 调用 duer_voice_send 时总是发生内存错误"
本人使用 ESP32 lyrat的板子多次做实验，发现相同的问题如下
当我使用 duer_voice_send 将我mic采集到的buffer发送给 dueros 时，总是经常性地出现如下错误：

No.1
******* stream_capture_avs : duer_voice_send heap size = [18920] *******（正在发送buffer给dueros）
Guru Meditation Error: Core 0 panic'ed (LoadProhibited)
. Exception was unhandled.
Register dump:
PC : 0x40150c39 PS : 0x00060230 A0 : 0x80146454 A1 : 0x3ffff740
0x40150c39: iir_mem16 at ??:?

A2 : 0x3f85

[2018-11-12 08:40] krzychb commented on #2692
https://esp32.com/viewtopic.php?f=2&t=8003#p33684

[2018-11-12 08:45] #2692 closed

[2018-11-12 08:59] lrodenasSistel commented on #2684
I get compilation errors just replacing that function. I am using IDF3.1.1.
Did you manage to reproduce the issue at least once?
I can reproduce it at will with the sample code I posted and touching the wrover module antena.

[code]

[2018-11-12 10:06] costaud commented on #2689
Do you mean you can successfully burn firmware to the chip, but failed to get it run ?

[2018-11-12 10:14] negativekelvin commented on #2691
Check TRM 10.8.1 Transmit Descriptors

[2018-11-12 11:07] mahavirj commented on #2574
@vijayprakash1 We recommend esp32.com forum for questions, but if you think this is issue with IDF please feel free to raise new one with more detailed information.

[2018-11-12 11:07] #2574 closed

[2018-11-12 11:31] benpeoples commented on #2657
That should work in theory (that's the first thing I'm going to try), and it should generally work if you have well-behaved switches on the network.

I would look at `emac_main.c` for examples of how to modify the EMAC registers.

[2018-11-12 11:47] krzychb commented on #2689
Hi @Reiner1210, also do you mean the issue described in https://www.esp32.com/viewtopic.php?t=5056 or it happens in different scenario? What is the sequence of steps to replicate?

[2018-11-12 14:10] Reiner1210 commented on #2689
Hello,

yes I have tried tried the 10k resistor between IO0 and +3.3V - no success.
I can burn the image, and after reset with make monitor it works. But only power it on 5V over USB does not start the firmware. After EN pressed it starts. So I think a reset logic is broken.

[2018-11-12 15:29] ybuyankin commented on #2152
@negativekelvin Thanks, yes I'll try to look deeper into this. My guess so far was that it fails upon sending a non-configured certificate. I've tried to uncomment the line which sets the client cert (with provided sample one) but still got almost the same results:
[code]

[2018-11-12 15:51] neoniousTR opened #2694 "Bug in emac_main.c => Packet loss (IDFGH-450)"
We are the makers of the neonious one microcontroller board. It uses an ESP32-WROVER and has an Ethernet port. The phy is the LAN8720.

Users were reporting very bad Ethernet connections.

With almost no traffic over the port, everything is fine. But when some packets go in and out, the desc0 of the emac receive descriptor gets weird frame length values. But still, the error flags of desc0 are not

[2018-11-12 16:58] krzychb commented on #2689
Hi @Reiner1210, I see the similar issue with my [ESP32-PICO-KIT V4](https://dl.espressif.com/dl/schematics/esp32-pico-kit-v4_schematic.pdf). Apparently IO0 is hold low too long by C6 on power up and the board enters application download boot mode.
* Adding 10k resistor between IO0 and +3.3V works for me.
* If it does not work for you, then you can try lowering this resistor to 5k
* Another option

[2018-11-12 18:04] Reiner1210 commented on #2689
@krzychb  Thanks for this. A 4.7k resistor do the job. A 10k did not!

[2018-11-12 19:09] Bobinshort opened #2695 "Menuconfig : can't check/uncheck config values"
- [ ok] I have read the documentation [ESP-IDF Programming Guide](https://docs.espressif.com/projects/esp-idf/en/latest/) and the issue is not addressed there.

- [ok ] I have updated my IDF branch (master or release) to the latest version and checked that the issue is present there.
Commit ID (master) : fb7ba1baa068a2267ef54b7105cf3c8a004fe4eb

- [ok ] I have searched the issue tracker for a simi

[2018-11-12 19:18] Bobinshort commented on #2695
Nevermind I'm the dumbest of them all! I tried to use enter instead of spacebar. Everything is fine XD

[2018-11-12 19:18] #2695 closed

[2018-11-12 21:05] vtamas00 commented on #2657
I insterted this code into my main.c:
[code]
and the UDP multicast receiving starts to operate!
But I noticed a new problem:
I have a FreeRTOS task for the ipv4 udp multicast rx and an other realize a simple tcp server (both based on the examples). If both task are run the TCP task cant accept connections: Unable to accept connection: errno 113. If only the tcp server run, it works perfect.
Could

[2018-11-13 02:25] ginkgm commented on #2690
Hi @michprev ,
thanks for your suggestions for the error message. due to histroical reason, we thought there's no reading problem with IOMUX but actually this is triggered if the MISO delay is long even with IOMUX.

We will improve this but not backporting this to earlier version.

[2018-11-13 05:00] suda-morris commented on #2694
@neoniousTR  Could you tell me which idf version you are using? And do you have any idea that how to reproduce it?

[2018-11-13 06:31] outermanle commented on #2646
@anurag-kar

How can I debug global static variable change be others?

Got nothing tips when enable stack and heap debug in config file.

[2018-11-13 06:58] anurag-kar commented on #2646
@outermanle First thing, ensure that the pointer to the static handle variable, which you get as argument to the `event_handler` is correct.

Print the pointer to static variable in main function first :

[code]

And print the pointer to static variable in event handler :

[code]

Do these match?

[2018-11-13 08:46] sysizlayan commented on #2672
I got Core panic errors when I try to reach a null pointer. Could you check if there is an uninitialized pointer?

[2018-11-13 09:49] #2682 closed

[2018-11-13 11:00] jitin17 commented on #2684
@lrodenasSistel Oops! I didn't take a notice of your IDF version. My bad. I thought the problem is due to the latest changes on master branch. We'll get back to you.

[2018-11-13 11:34] neoniousTR commented on #2694
The last commit we merged was 7efbe8178b9e25ac404c02cf6908474ab3918995 from Oct 29

Not sure how to reproduce the problem. It seemed to happen when lots of data was coming in from a single TCP socket over the Ethernet port, but we only consumed the data slowly (20 KBit/s).
But when the problem happens, it is easy to notice the problem: ping to the device via the Ethernet port start to get lost (an

[2018-11-13 12:55] outermanle commented on #2646
yes, they match.

but not match with the original one  which store in the httpd thread.

[2018-11-13 16:49] Reiner1210 commented on #2689
After a while without voltage - the same. It does not start.
I will use a normal dev board an put the Pico in the trash

[2018-11-13 18:02] markfink commented on #2680
wow, I did not expect this would be that much of a brain treaser. I really thought this would be a pretty common and straight forward requirement. for now I am just using https://pypi.org/project/bumpversion/ to consolidate the version numbers I put in code and makefile.

[2018-11-13 18:02] #2680 closed

[2018-11-13 19:58] avrahamshukron commented on #1281
This is so fucked up... `flex` just produces an empty file and fails silently. No error whatsoever and no way to understand what went wrong.

Subsequent compilation will further hide the problem since `zconf.lex.c` - although empty - **will exist**, so every time you compile `make` will just skip the generation of this file.

I have no idea what is the underlying problem here but this is a really

[2018-11-13 19:59] SharKCS11 opened #2696 "[TW#27416] Range of BLE scanner limited (to under 5m)"
Hi all, sorry if this is the wrong place to post, but I can't seem to post on ESP32 forums.
I'm running an application that uses ESP32 to perform BLE scans for Eddystone UID packets. I'm testing this on an Android phone running the [Beacon Simulator](https://play.google.com/store/apps/details?id=net.alea.beaconsimulator&hl=en_US) app.

It works very well for short distances, but the scanner can't

[2018-11-13 20:21] chegewara commented on #2696
If your hardware is well designed and there is no obstacles between 2 peer devices then you can scan in range over 100m. ive been doing tests with devKitC and i am able to achieve this range easy (you can find other issue in this repo about range). Thiss suggests that your devKitC example can be defected or you have some thick wall between devices.

[2018-11-13 20:33] SharKCS11 commented on #2696
What is the client you are using? An Android device, or some other antenna? In my case, the Android phone is responsible for broadcasting.

[2018-11-13 21:14] chegewara commented on #2696
Yes, i am using android smartphones, but i never been doing tests this way. Ive been testing esp32 broadcasting range and android was scanner.

[2018-11-13 21:34] vtamas00 commented on #2657
I find the problem. My UDP task uses select(). It I eliminate select() the tcp server accept() works. So the select() is not a thread safe function?

[2018-11-13 21:48] negativekelvin commented on #2696
What did you set the transmission power to in the app?

[2018-11-13 22:04] SharKCS11 commented on #2696
The transmission power is set to "Medium: -66dBm" and frequency mode is set to "Balanced - 3Hz"
There's also a "TX Power" field in the Eddystone simulator that's set to "-65", but I'm not sure what that field is used for.

[2018-11-13 22:07] negativekelvin commented on #2696
It seems like that app has very limited values for transmit power for short range beacons.  Did you try another app like dobeacon?

[2018-11-13 22:39] dhavalpatel0114 opened #2697 "[TW#27413] BLE stack crash while repairing with PC"
I was running gatts_security_server example. It works fine with android devices but having some problems with PC (windows).

https://github.com/espressif/esp-idf/blob/master/examples/bluetooth/gatt_security_server/main/example_ble_sec_gatts_demo.c

I can pair it once or twice after removing pairing device on PC. but some time during the pairing process BLE stack is crashing.

And every time it cra

[2018-11-13 23:53] detly opened #2698 "Documentation: it's not clear where the WPA2 enterprise documentation is (IDFGH-451)"
## Environment

- Development Kit: Wemos Mini32
- Module or chip used:  ESP32
- IDF version (run ``git describe --tags`` to find it): v3.2-beta1-34-gfb7ba1baa
- Build System: Make
- Compiler version (run ``xtensa-esp32-elf-gcc --version`` to find it): 5.2.0
- Operating System: Linux
- Power Supply: USB

## Problem Description

I'm looking at the example code for WPA2 enterprise connection in [`exa

[2018-11-13 23:53] detly commented on #2698
(See also this [forum question](https://www.esp32.com/viewtopic.php?f=13&t=7936).)

[2018-11-14 02:20] Yulong-espressif commented on #2696
@SharKCS11, Can you used other SmartPhone to scan the adv you have sent by the AndroidPhone when the distance is 5~6m, and then record the RSSI value. We want to confirm if it is because the Advertising power of your Android phone is too small, resulting in a shorter ESP32 reception distance.

[2018-11-14 02:32] wayneuroda commented on #2691
Thank you that looks like the information I need - stupidly I didn't even think to check the TRM.

[2018-11-14 02:32] #2691 closed

[2018-11-14 02:35] suda-morris commented on #2657
@vtamas00 We have fixed the multicast issue by add `REG_SET_BIT(EMAC_GMACFF_REG, EMAC_PAM);` in the function emac_mac_init (located at emac_dev.c file). The patch will be available soon.
And the `select` function should be thread safe as far as I know. For that problem, I suggest you to raise another issue with more detailed information about it.

[2018-11-14 02:46] suda-morris commented on #2691
@wayneuroda Well， playing esp32 with switch phy sounds interesting. Enable/Disable checksum calculation and insertion when transmit by setting/reset CIC bits in TDES1。

[2018-11-14 03:04] Weijian-Espressif commented on #2687
@dsa-t , We have fixed the bug,  please update to the latest master and try. we will merge it into v3.2 this week.

[2018-11-14 04:53] detly opened #2699 "Documentation/examples: esp_event_loop_init() is used but not documented as part of the API (IDFGH-454)"
## Environment

- Development Kit: Wemos Mini32
- Module or chip used:  ESP32
- IDF version (run ``git describe --tags`` to find it): v3.2-beta1-34-gfb7ba1baa
- Build System: Make
- Compiler version (run ``xtensa-esp32-elf-gcc --version`` to find it): 5.2.0
- Operating System: Linux
- Power Supply: USB

## Problem Description

Many of the examples register some sort of event handler with `esp_even

[2018-11-14 06:03] anurag-kar commented on #2646
The argument to httpd_thread stores the **value of handle** (which is a pointer to internal struct httpd_data). So this is not a problem

Let's try moving the handle to heap:

[code]

Now check if the value of handle changes in the `event_handler`

[2018-11-14 06:07] Weijian-Espressif commented on #2697
@dhavalpatel0114, we have fixed the bug in master,  please update to the latest master and try. we will merge it into v3.2 this week.

[2018-11-14 06:34] chegewara commented on #2685
@Weijian-Espressif I am a little bit confused. I can accept your response but I am sending indication and getting conf_evt in very same moment(the same ms), There is no time for congest because my next indication is sent after 3 ms, also there is too early to get confirmation from peer device.

Again, sorry for being pain in eye and thanks fr support.

[2018-11-14 06:44] Weijian-Espressif commented on #2685
@chegewara,  you can refer to `bta_gatts_indicate_handle()` and `gatts_process_value_conf()`.

If  you send a notification , `ESP_GATTS_CONF_EVT` is triggered in `bta_gatts_indicate_handle()`.
If you send a  indication ,  `ESP_GATTS_CONF_EVT` is triggered in `gatts_process_value_conf()` when device receive the confirmation.

[2018-11-14 06:46] chegewara commented on #2685
I will, but again, there is no time to receive conf from peer device in this case:
`If you send an indication , ESP_GATTS_CONF_EVT is triggered in gatts_process_value_conf() when device receive the confirmation.`

[2018-11-14 08:44] igrr commented on #2699
In ESP-IDF up to (upcoming) version 3.2, `esp_event_loop_init` initializes the event loop used to dispatch event callbacks for Wi-Fi, IP, and Ethernet related events. It is indeed not documented, there only are a few Doxygen comments in https://github.com/espressif/esp-idf/blob/master/components/esp32/include/esp_event_loop.h.

In ESP-IDF 3.3, we plan to start using the new event loop API to deliv

[2018-11-14 08:48] negativekelvin commented on #2646
You should check what other global data is placed near your variable with objdump

[2018-11-14 08:52] igrr commented on #2646
Also, if JTAG debugging is an option, try setting a watchpoint on the variable which gets corrupted. It will trigger when other code modifies it.

If you don't have access to JTAG, you can also set watchpoint from your application, calling `esp_set_watchpoint` function.
E.g. `esp_set_watchpoint(0, &httpd_server, 4, ESP_WATCHPOINT_STORE);`

The declaration of this function is in esp_panic.h.

Witho

[2018-11-14 08:57] outermanle commented on #2646
@negativekelvin @igrr

I have no JTAG.
That's good suggestion, Thanks a lot!

[2018-11-14 12:42] Weijian-Espressif commented on #2563
@chegewara  Do you have any question?

[2018-11-14 13:33] Weijian-Espressif commented on #2515
@chegewara ,  please refer to esp-idf/components/bt/bluedroid/bta/gatt/include/bta_gattc_int.h.
enum {
    BTA_GATTC_API_OPEN_EVT   = BTA_SYS_EVT_START(BTA_ID_GATTC),
    BTA_GATTC_INT_OPEN_FAIL_EVT,
    BTA_GATTC_API_CANCEL_OPEN_EVT,
    BTA_GATTC_INT_CANCEL_OPEN_OK_EVT,

    BTA_GATTC_API_READ_EVT,
    BTA_GATTC_API_WRITE_EVT,
    BTA_GATTC_API_EXEC_EVT,
    BTA_GATTC_API_CFG_MTU_EVT,

    BTA_G

[2018-11-14 14:01] chegewara commented on #2515
@Weijian-Espressif I did, but there is less than 31 events in this enum, thats why i am asking here.

[2018-11-14 14:12] chegewara commented on #2515
@Weijian-Espressif
`BTA_GATTC_API_OPEN_EVT = BTA_SYS_EVT_START(BTA_ID_GATTC)` =>
`#define BTA_SYS_EVT_START(id)       ((id) << 8)` where id --> `#define BTA_ID_GATTC        31`
i have really bad day today, but this is 0x1F00, no way to have event id 31

[2018-11-14 15:38] Kashyapkoshti commented on #7
Shows on arduino serial monitor

rst:1x10(RTCWDT_RTC_RESET) , boot:0x1f(SPI_FAST_FLASH_BOOT)
flash read err,1000
ets_main.c 371
ets jun 8 2016 00:22:57

[2018-11-14 16:25] dhrishi commented on #2515
@chegewara The id that is printed in the statement has been created by right shifting the system event by 8 bits . You can check this here: https://github.com/espressif/esp-idf/blob/fb7ba1baa068a2267ef54b7105cf3c8a004fe4eb/components/bt/bluedroid/bta/sys/bta_sys_main.c#L492

[2018-11-14 16:29] chegewara commented on #2515
Great, now is another question. If the event is knows as `BTA_GATTC_API_OPEN_EVT `, why it is log printed as unregistered? It should be registered in bt stack or am i wrong?

[2018-11-14 17:04] chegewara commented on #2515
Sorry for last post, my brain is very strange today.
After investigating code, and this message `BT_APPL: BTA got unregistered event id 31` i have last one question. Why gatt client callback `BTA_ID_GATTC <-- event 31` is triggered in gatt_secure_server example?

[2018-11-14 17:31] ybuyankin commented on #2152
Some observations with Wireshark so far:

1. Other successfully connected to the same AP devices are not getting CertificateRequest from server
2. Other devices are using TLS 1.2 while TLS 1.0 is selected with ESP32 (while support for TLS 1.2 is claimed).

It really bothers me as a whole thing seems to be out of control.

[2018-11-14 19:18] SharKCS11 commented on #2696
My Android phone broadcasts the following: Medium Power (-66dBm), Balanced Frequency Mode (3Hz).

Scanning _on another smartphone_ does not produce reliable RSSI values. It's always stuck between -60dBm and -80dBm, regardless of how far I go.

On the ESP32, the scans are more consistent depending on the parameters set. So about 5-6m away, the obtained RSSI by the ESP is around -92dBm. It will stay

[2018-11-15 01:11] tatsutaigu opened #2700 "PC cannot find BLE(COM port) of bluetoothserial"
Hi,
I'm using Arduino-core of ESP32 on ESP-IDF.
[https://github.com/espressif/arduino-esp32/blob/master/docs/esp-idf_component.md](url)

PC cannot find ESP32 BLE COM port of bluetoothserial.
I set SPP of Bluetooth classic on menuconfig.
"make flush" is OK.

PC can find ESP32 BLE COM port which same code is compiled by Arduino-core of ESP32 on Arduino-IDE.

[2018-11-15 02:41] dhavalpatel0114 commented on #2697
I update to the latest master still having same problem.

![image](https://user-images.githubusercontent.com/40304290/48526523-d2602c00-e83c-11e8-9305-8e88373fd16f.png)
 last time that code updated 2 months ago.

[2018-11-15 03:00] Weijian-Espressif commented on #2697
@dhavalpatel0114, do you update bt lib ? Can you give me the bt version ? The latest Bt lib log is add `vendor hci cmd (4f362c59)`

[2018-11-15 03:08] Weijian-Espressif commented on #2515
@chegewara  When you remove bonded device,  ESP32 needs to remove all pending background connection before unpair and remove all cached GATT information. you can refer to `bta_dm_process_remove_device()` and `BTA_GATTC_Refresh()` in `bta_dm_process_remove_device()`.

[2018-11-15 03:13] wayneuroda commented on #2691
It turns out that I didn't need to disable the inbuilt CRC and compute my own at all, the issue I was facing was due to frame padding - in effect I was adding the tail tag and then the emac hardware was adding padding, so the tag wasn't in the right place. I simply added the padding and tail tag before sending the packet to the emac and everything is working now. That was a hair pulling experience

[2018-11-15 03:29] dhavalpatel0114 commented on #2697
yes i am using the latest lib **[vendor hci cmd (4f362c59)]**  and updated example.

[2018-11-15 03:33] Weijian-Espressif commented on #2697
@dhavalpatel0114, Can you give me the crash log and your example elf file?

[2018-11-15 03:33] dhavalpatel0114 commented on #2697
yes I am using latest bt lib **[vendor hci cmd (4f362c59)]** . It crashes when you remove and repair device from PC [in 2 -5 trials].

[2018-11-15 03:35] Weijian-Espressif commented on #2697
@dhavalpatel0114, please  give me your crash log and your example elf file.

[2018-11-15 03:37] dhavalpatel0114 commented on #2697
yes

please see attached
[sec_gatts_demo.zip](https://github.com/espressif/esp-idf/files/2583564/sec_gatts_demo.zip)
.

[2018-11-15 03:45] dhavalpatel0114 commented on #2697
crash log attached here

[crash log.txt](https://github.com/espressif/esp-idf/files/2583579/crash.log.txt)

[2018-11-15 03:54] Weijian-Espressif commented on #2697
@dhavalpatel0114, from the crash log, `[1B][0;32mI (267) BTDM_INIT: BT controller compile version [bc0b51f]', your BT version is `bc0b51f`.  we have fix the bug in bt version `components/bt: Put function in isr into iram(1653746d)`. Our latest BT version is `add vendor hci cmd (4f362c59)`, please update to the latest BT lib. When you restart ESP32,  You can get the bt version in uart log.

[2018-11-15 05:31] #2515 closed

[2018-11-15 05:34] wayneuroda opened #2701 "[TW#27433] Possible memory leak in ethernetif_input (lwip/port/esp32/netif/ethernetif.c)"
In the function `ethernetif_input`, I assume the passed in `buffer` must always eventually be freed with `esp_eth_free_rx_buf`, is this correct? (I can't see the code which calls it).

Right now, depending on the setting of `CONFIG_EMAC_L2_TO_L3_RX_BUF_MODE` and other error conditions, there are code paths through `ethernetif_input` which don't eventually free the buffer.

Eg,

        if(buffer==

[2018-11-15 06:48] NickAABB opened #2702 "ESP8266，要使用spi，可以把这里code的移植到esp的工程里面就可以吗？"
----------------------------- Delete below -----------------------------

If your issue is a general question, starts similar to "How do I..", or is related to 3rd party development kits/libs, please discuss this on our community forum at esp32.com instead.

INSTRUCTIONS
============

Before submitting a new issue, please follow the checklist and try to find the answer.

- [ ] I have read the docu

[2018-11-15 06:57] benjenq opened #2703 "[TW#27434] flex: can't open zconf - macOS Mojave"
I follow this documents to setup ESP-IDF and got a error when test section "hello_world"
( https://docs.espressif.com/projects/esp-idf/en/latest/get-started/index.html#get-esp-idf )

[code]
How could I fix it? It seem an error similar like https://github.com/espressif/esp-idf/issues/1281#issuecomment-437682026

temporary fix:
- download zconf.lex.c.zip from https://github.com/espressif/esp-idf/iss

[2018-11-15 07:15] suda-morris commented on #2701
@wayneuroda `esp_eth_free_rx_buf` only need to be called when CONFIG_EMAC_L2_TO_L3_RX_BUF_MODE is not set. And this function will be called in the pbuf_free function. What this function mainly does is clean the rx descriptor so that the `dma buffer` can be used again. If `CONFIG_EMAC_L2_TO_L3_RX_BUF_MODE` is enabled and the netif is down, it won't cause any memory leak. Because in this mode the de

[2018-11-15 07:33] wayneuroda commented on #2701
Thanks, I just made an incorrect assumption - all good!

[2018-11-15 07:33] #2701 closed

[2018-11-15 08:04] sjoteppagol commented on #2530
I am able to reproduce this issue, kept device running over night and in 12 hours device suffered 38 times from Guru Meditation: Core 0 panic'ed (Interrupt wdt timeout on CPU0). Could you please suggest a way to overcome this issue.
Kindly find the attached **sdkconfiglong, elf and Back trace result**.

[Backtrace_result.txt](https://github.com/espressif/esp-idf/files/2584210/Backtrace_result.txt)

[2018-11-15 08:37] Alvin1Zhang commented on #2702
@NickAABB Hi, since this issue is related to ESP8266, would you please help close this issue here and submit another one in the ESP8266 section, https://github.com/espressif/ESP8266_RTOS_SDK/issues? Thanks.

[2018-11-15 09:10] Reiner1210 commented on #2689
Ok. Yesterday I removed C6 and I have still the 4.7k Ohm resistor - has worked. I will check if it works also today :-)

[2018-11-15 09:10] #2689 closed

[2018-11-15 10:32] sjoteppagol commented on #2530
From the above log provided, I see one patter where the “ESP AWS Task Will Re-Init for New Connection” followed by “Shadow Connect” results in some  program hung hence the WDT is getting triggered…. May be some programming sequence is not tolerated by some stack.!!

[2018-11-15 11:03] outermanle commented on #2646
@igrr @anurag-kar @negativekelvin

Thank you very much.

Solved by add esp_set_watchpoint, The reason is array boundary exceeded.

[2018-11-15 11:04] #2646 closed

[2018-11-15 11:06] mahavirj commented on #2406
Closing (do no see any issue with `esp_https_ota` component).

[2018-11-15 11:06] #2406 closed

[2018-11-15 15:50] jhinklejr opened #2704 "[TW#27440] Requirements for esp_wifi_internal_tx() - new Stack"
I removed lwip as the stack over in ESP8266 RTOS V3 IDF and ported in a different stack.

The function that bridged the stack and the internal wifi transmit required an additional 36 bytes preceding the data (used for wifi headers) and need to be allocated from the DRAM heap (IRAM would cause a crash).

I have removed lwif from the ESP32 IDF and am porting in the new stack -- I have questions.

Q1

[2018-11-15 17:50] dsa-t commented on #2687
Unfortunately I cannot compile the latest master of https://github.com/espressif/esp32-bt-lib:
[code]

[2018-11-15 17:55] chegewara commented on #2687
@dsa-t I am running app compiled about hour ago with master. Before i compiled app i did git pull, but ive been already up to date with master. Stupid question but did you try `git submodule update --init` in esp-idf and `make clean` in your app?

[2018-11-15 18:29] dsa-t commented on #2687
The master of https://github.com/espressif/esp-idf links to https://github.com/espressif/esp32-bt-lib/tree/16f95952efc63017167c863a7eadd2e8dfd27a61
which is old.
If I update the bt lib with `git submodule update --remote components/bt/lib`, I get the above error.
I always do `make clean`

[2018-11-15 20:19] sud92 commented on #2411
i am facing this similar problem, plz help me

`
rst:0x1 (POWERON_RESET),boot:0x13 (SPI_FAST_FLASH_BOOT)
configsip: 0, SPIWP:0xee
clk_drv:0x00,q_drv:0x00,d_drv:0x00,cs0_drv:0x00,hd_drv:0x00,wp_drv:0x00
mode:DIO, clock div:2
load:0x3fff0018,len:4
load:0x3fff001c,len:6216
load:0x40078000,len:10168
load:0x40080400,len:6552
entry 0x40080764
I (28) boot: ESP-IDF v3.2-beta1-34-gfb7ba1baa-dirty 2nd stage

[2018-11-15 20:33] chegewara commented on #2411
https://www.google.com/search?ei=ytftW-q6BIGjwAKX3ZKgBg&q=mbedtls+0x2700&oq=mbedtls+0x2700&gs_l=psy-ab.3...11340.16191..16668...0.0..0.133.1184.0j10......0....1..gws-wiz.......0i19.FS2SazOIzqM

[2018-11-15 20:36] SharKCS11 commented on #2696
I changed to BLE_SCAN_TYPE_PASSIVE, and the timing is definitely more reliable now! The RSSI hasn't changed much. I get around -85 when 5~6m away and can go about 8-10m at -90 to -95dBm until it stops scanning.

[2018-11-16 01:02] dhavalpatel0114 commented on #2697
When I try to built with bt_lib `add vendor hci cmd (4f362c59)` . I got built error.
`dbg_task.c:(.text+0x54): undefined reference to `dbg_default_state'`

here is attached built error log.
[built_error_log.txt](https://github.com/espressif/esp-idf/files/2587584/built_error_log.txt)

[2018-11-16 02:59] markingle commented on #2679
I will be testing this weekend to confirm that latest ESP-IDF fixes this issue.

[2018-11-16 03:21] Weijian-Espressif commented on #2687
@dsa-t, Sorry, our CI has a problem, the code is not synced to GitHub yet.  If the problem is solved, I will notify you in time.

[2018-11-16 05:29] #2702 closed

[2018-11-16 05:44] #2155 closed

[2018-11-16 05:49] igrr commented on #2142
Sorry for the late response on this! Including Arduino-esp32 into ESP-IDF as a component would complicate licensing and also add more test items to ESP-IDF release flow, so for now we don't think this is a workable option. We are however working on improvements to installation flow of such external components.

[2018-11-16 05:49] #2142 closed

[2018-11-16 05:51] #2026 closed

[2018-11-16 06:34] suda-morris commented on #2164
@sauttefk I'm sorry for removing part of your code because I haven't tested GPIO0 output mode successfully and also many customers have difficulty in the mode. But just now, after I added an inverter after GPIO0, the Ethernet starts to work happily. Later I will add this mode again in Ethernet driver and will add more suggestion on how to make this mode work. Thank you for your effort in ESP-IDF.

[2018-11-16 09:05] mahavirj commented on #2630
Closing. If there are any outstanding questions, please feel free to post on esp32.com forum.

[2018-11-16 09:05] #2630 closed

[2018-11-16 10:05] pankajverma190 commented on #2630
Hi Mahavir,

I didn't get the latest code.
The latest code also looks like the same.
 Now it is printing on Console.

Thank you so much for your help.

Thanks

[2018-11-16 11:28] realonlyme opened #2705 "请问在将IDF移植至AliOS Things过程中，遇到连接libbtdm_app.a一些符号表问题"
/home/shineg/sda4/L1_things/build/compiler/gcc-xtensa-esp32/Linux64/bin/../lib/gcc/xtensa-esp32-elf/5.2.0/../../../../xtensa-esp32-elf/bin/ld: out/bleadv@esp32paybox/binary/bleadv@esp32paybox.elf section `.iram0.text' will not fit in region `iram0_0_seg'
/home/shineg/sda4/L1_things/build/compiler/gcc-xtensa-esp32/Linux64/bin/../lib/gcc/xtensa-esp32-elf/5.2.0/../../../../xtensa-esp32-elf/bin/ld: re

[2018-11-16 11:48] mill1000 commented on #1693
Hi. Thanks for getting back. Yes we ended up using a similar solution, but only changing the vfs_fat log level.

We also implemented a buffered monitor. So the calls to ESP_LOG write into a buffer, and then the writes are protected as you described. The buffered monitor had the advantage of letting us maintain monitor logging while the SD card was in error. At least for a short duration.

[2018-11-16 11:55] dobairoland commented on #1693
Thanks for the feedback! I'm happy that it got solved.

This issue will be closed when the cleanup of the critical sections in VFS FATFS gets pushed into master.

[2018-11-16 12:55] Matheus-Garbelini commented on #2164
@sudda-morris which inverter is you've used?

[2018-11-16 18:02] matteof93 opened #2706 "Incomplete documentation about WiFi RX callback timestamp (wifi_pkt_rx_ctrl_t)"
## Environment

- Development Kit: ESP32-DevKitC
- Kit version (for WroverKit/PicoKit/DevKitC): v1
- Module or chip used: ESP32-WROOM-32
- IDF version: v3.1.1-rc2-2-gd1d2ce8c2
- Build System: Make
- Compiler version: xtensa-esp32-elf-gcc.exe (crosstool-NG crosstool-ng-1.22.0-80-g6c4433a5) 5.2.0
- Operating System: Windows 10
- Power Supply: USB

## Problem Description

Documentation about the time

[2018-11-17 00:55] jhinklejr opened #2707 "SPI Master Example - for ESP-WROVER-KIT board - wrong SPI Clock Speed"
In the example folder for SPI Master - the readme states:

This code displays a simple graphics with varying pixel colors on the 320x240 LCD on an ESP-WROVER-KIT board.

If you look at the code for spi_master_example_main.c --- function app_main() the SPI Clock is set:

    spi_device_interface_config_t devcfg={
#ifdef CONFIG_LCD_OVERCLOCK
        .clock_speed_hz=26*1000*1000,           //Clock ou

[2018-11-17 02:34] dhavalpatel0114 commented on #2697
@Weijian-Espressif Thanks Let me know once it's available.

[2018-11-17 09:45] Milan991 commented on #2370
Is there any update on this? Same source code is working fine with older version of ESP-IDF.

[2018-11-17 14:13] dude-mansaa opened #2708 "Firmware crash at tcp.c on excess of http requests (IDFGH-460)"
I was trying to debug my code and found this core dump.

I was trying to send continuous requests on my iot device that can be around more than 1 per second. So for few seconds the code worked but after that the firmware crashed.

Firmware crashes in the cases when my client application sends commands either through web socket or http requests.

The logs for the core dump are mentioned below:
[cod

[2018-11-17 19:15] dsa-t commented on #2687
I added `int dbg_default_state = 0;` into my app and I was able to compile.
Left it upgrading in a loop for a night with this one: https://github.com/espressif/esp32-bt-lib/tree/b2c7769cac97ffda9f30e33b89bcce098dd9efb2
It upgraded successfully at least 40 times in a row without a crash.
Thanks! But the problem with dbg_default_state is still there.

[2018-11-17 22:00] michprev opened #2709 "[TW#27465] SPI no MISO & MOSI phase"
## Environment

- Development Kit:      ESP32-Wrover-Kit
- IDF version: v3.1.1-6-g2aa9a2118
- Build System:         Make
- Compiler version: 1.22.0-80-g6c4433a
- Operating System:     Linux

## Problem Description

After setting zero length of tx part of spi_transaction_t SPI behaves incorrectly.

Expected: 0x8F 0x00 0xAB 0xCD (CS goes high)

![spi](https://user-images.githubusercontent.com/728175

[2018-11-17 23:23] michprev commented on #2439
After two years on the market still no info about what is working and what is not. Awesome.

Will this ever be done?

[2018-11-18 06:12] #2576 closed

[2018-11-18 06:12] #2617 closed

[2018-11-18 06:12] #2128 closed

[2018-11-18 06:12] #2295 closed

[2018-11-18 06:12] #2564 closed

[2018-11-18 06:12] #2620 closed

[2018-11-18 06:12] #2624 closed

[2018-11-18 06:12] #2657 closed

[2018-11-18 06:12] #2507 closed

[2018-11-18 06:12] #2593 closed

[2018-11-18 06:12] #2670 closed

[2018-11-18 06:12] #1693 closed

[2018-11-18 10:38] michprev opened #2710 "SPI_CS_HOLD needless? (IDFGH-714)"
What is the purpose of SPI_CS_HOLD bit in SPI_USER_REG register?
Zero hold delay of CS signal can be easily achieved just by setting SPI_HOLD_TIME in SPI_CTRL2_REG register to 0 (even while having SPI_CS_HOLD enabled).

[2018-11-18 11:06] N-Coder commented on #965
I've got the same issue here, a lot of mostly 0 "cmd response"s and then suddenly a `ESP_ERR_TIMEOUT` / 0x107 with the SD card example in SPI mode (no other changes, except for enabling `#define USE_SPI_MODE`). As soon as I set `host.max_freq_khz` to anything below 20000 (i.e. 19000 or `SDMMC_FREQ_PROBING`) it works flawlessly:
[code]

My esp-idf is on commit fb7ba1baa068a2267ef54b7105cf3c8a004fe4

[2018-11-18 15:37] chegewara commented on #2685
@Weijian-Espressif Its me again. Maybe i am wrong, but as i understand we have connection interval which is basically min time between two massages send from one ble device to other. Min allowed connection interval is 7.5 ms. So, no matter what there should not be possible to send indications, notification read or write requests more often than 7.5 ms. Can anyone explain me this situation:
[code]

[2018-11-18 15:51] chegewara commented on #2685
In addition i performed test with conn interval set to 3990 ms, all read/write operations are long as hell, but notifications are sent like in above logs (i have 5 notivications with exactly the same time stamp in nRF).

[2018-11-18 17:01] jhinklejr commented on #2707
Please close.

My original post was about adhering to specifications.

After researching, many have proven that write operations can be obtained at much higher frequencies than spec'd.

[2018-11-18 17:17] tve opened #2711 "power_save example does not maintain an association (IDFGH-459)"
## Environment

- Development Kit: Adafruit Huzzah32 or nodemcu
- Kit version (for WroverKit/PicoKit/DevKitC): [v1|v2|v3|v4]
- Module or chip used:  ESP32-WROOM-32
- IDF version (run ``git describe --tags`` to find it): v3.1.1 and master @960c240
- Build System:         Make
- Compiler version (run ``xtensa-esp32-elf-gcc --version`` to find it):
    xtensa-esp32-elf-gcc (crosstool-NG crosstool-ng-

[2018-11-18 17:31] chegewara commented on #2639
Thanks, will reopen if encounter any issues.

[2018-11-18 17:31] #2639 closed

[2018-11-18 17:44] chegewara commented on #2512
This log looks different, but i thought i will ask if this is related before i open new issue:
[code]

[2018-11-18 19:15] tve commented on #2711
I did some more tests using esp-idf master . If I disable light sleep in the power_save example the module does maintain its association:
[code]
Log output:
[code]
But as I was writing up this post I noticed that it crashed (several minutes after the boot):
[code]
I tried the same with v3.1.1 and it behaves the same as far as I can tell.

[2018-11-18 20:15] tve commented on #2711
I let the last test run and it panic'ed a few minutes later. This is esp-idf master running the wifi/power_save example with `pm_config.list_sleep_enable = false`, i.e. the diff from my previous comment.

It connected fine to the AP and just sat there, but a few minutes later it crashed (I don't have the exact amount of time elapsed)
[code]

And as I'm writing this comment it crashed again in the

[2018-11-18 20:32] pathob opened #2712 "esp_http_client getting redirection location / headers (IDFGH-458)"
## Environment

- Development Kit: Other
- Module or chip used: ESP32-WROOM-32
- IDF version: v3.2-beta1
- Build System: Make
- Compiler version: 1.22.0-80-g6c4433a
- Operating System: Linux
- Power Supply: USB

## Problem Description

Hi, I started working with the esp_http_client and generally like the simplicity of that client. But certainly, the client has technical problems and is not thought

[2018-11-18 20:46] tve opened #2713 "[TW#27534] How many DHCP requests does it take?"
## Environment

- Development Kit: Adafruit Huzzah32
- Module or chip used:  ESP32-WROOM-32
- IDF version (run ``git describe --tags`` to find it): v3.1.1
- Build System:         Make
- Compiler version (run ``xtensa-esp32-elf-gcc --version`` to find it):
    xtensa-esp32-elf-gcc (crosstool-NG crosstool-ng-1.22.0-80-g6c4433a) 5.2.0
- Operating System: linux
- Power Supply: usb plus LiPo (Huzzah32

[2018-11-18 21:53] SharKCS11 commented on #2696
I'm closing this issue, since switching to passive scan type is giving good enough range for our application. But let me know if there's anything else I should try, or updates regarding the BLE scan. Thanks for the help.

[2018-11-18 21:53] #2696 closed

[2018-11-18 22:22] chegewara opened #2714 "[TW#27468] [request] add macro to test peer_addr_type in esp_ble_adv_params_t"
What suppose to be size of `esp_ble_adv_params_t`? Because most of the time i am getting `BT_HCI: hci write adv params error 0x30` i started digging and from code i can get `sizeof(esp_ble_adv_params_t)` is 32 but i found this:
https://github.com/espressif/esp-idf/blob/80c5547b971128fdecbbcf6d8178196d35a15b73/examples/bluetooth/ble_adv/main/app_bt.c#L31

EDIT after adding `__attribute__((packed))`

[2018-11-18 23:10] negativekelvin commented on #2713
Usually this is because the DHCP server is delaying its response until it completes an arp scan to detect address conflicts.

https://github.com/espressif/esp-idf/issues/799

[2018-11-18 23:41] chegewara commented on #2714
I found the problem. From all steps described above only one is necessary, initializing peer_addr_type with value `BLE_ADDR_TYPE_PUBLIC` or `BLE_ADDR_TYPE_RANDOM` any other value is not valid> Maybe we could add macro to test valid value here:
https://github.com/espressif/esp-idf/blob/master/components/bt/bluedroid/btc/profile/std/gap/btc_gap_ble.c#L498-L502

Thanks

[2018-11-18 23:49] michprev opened #2715 "SPI half-duplex and dummy phase (IDF-266)"
## Problem Description

When using dummy phase in half-duplex mode SPI stops working.
Your statement

on https://docs.espressif.com/projects/esp-idf/en/latest/api-reference/peripherals/spi_master.html#known-issues is wrong. SPI gets broken when using dummy bits together with mosi phase (SPI_USR_DUMMY and SPI_USR_MOSI in SPI_USER_REG are set).

Expected: 0x8F 0x00 0xAB 0xCD (some 8 bits) (some 8 bi

[2018-11-19 00:13] #2414 closed

[2018-11-19 01:45] flodmotorgrodan commented on #164
**Hardware revision required!**

There is no need for reference voltage calibration and crap. The process of making a DAC is to deliver a product ready to use. If calibration is needed is has to be made in the manufacturing process and not made a software issue.

The hardware issue should not be fixed by customers spending time calibrating.

The biggest problem is it has an offset error so any vol

[2018-11-19 02:16] suda-morris commented on #2164
@Matheus-Garbelini For inverter, you have a lot of choice. I used SN74AUP1T14 for a try.

[2018-11-19 02:18] 1XiaSheng commented on #2665
its working good! thanks

[2018-11-19 02:19] #2665 closed

[2018-11-19 02:54] #2707 closed

[2018-11-19 03:32] Alvin1Zhang commented on #2447
@bricewge Feel free to reopen this issue if it is reproduced. Thanks.

[2018-11-19 03:32] #2447 closed

[2018-11-19 03:50] zhangyanjiaoesp commented on #2425
@nordlien I'm sorry for not replying to you in time. I can't reproduce your probelm, can you provide your steps to reproduce this issue?

[2018-11-19 03:53] ginkgm commented on #2439
@michprev for flash registers, they are functional, just not for the driver, it's used in the ROM or spi_flash.

For other registers, will check it more.

[2018-11-19 05:13] ginkgm commented on #2709
hi @michprev ,
Could you please try set tx_buffer and rx_buffer of the transaction descriptor to ``NULL`` by either
``memset(&t, 0, sizeof(t));``
or
[code]
**every time** you configure a transaction?

according to the programming guide: https://espressif-docs.readthedocs-hosted.com/projects/esp-idf/en/latest/api-reference/peripherals/spi_master.html#spi-transactions
The MOSI and MISO are skipped o

[2018-11-19 05:31] igrr commented on #988
`pthread_attr_setstacksize` has been implemented in https://github.com/espressif/esp-idf/commit/f27db1f24194f9a40f4a9d50f3471160c645f4fb.

[2018-11-19 05:31] #988 closed

[2018-11-19 06:41] bernd-edlinger commented on #1605
Cool.   Thanks a lot!!!

[2018-11-19 06:50] Weijian-Espressif commented on #2705
请先把 menuconfig 中不需要的功能关掉, 比如 蓝牙log, gattC, smp 等需要的模块关掉, 再重新编译试试.

[2018-11-19 06:56] Weijian-Espressif commented on #2626
@Xasin, we have fixed the bug, please updated to the latest IDF and try, thanks.

[2018-11-19 07:08] Lir10 opened #2716 "[BUG] send() sometimes gets stuck ? (IDFGH-461)"
As i have tested tcp client example i ran it for a couple of hours until send() got stuck and didn't return any value

I'm calling it this way : `send(sock, data_to_send, strlen(data_to_send), 0);`

This bug is repreducable

[2018-11-19 07:12] Weijian-Espressif commented on #2664
@chegewara, Do you have any question?

[2018-11-19 07:18] #2664 closed

[2018-11-19 07:19] chegewara commented on #2664
@Weijian-Espressif Not at the moment, thanks.

[2018-11-19 07:35] Alvin1Zhang commented on #947
@lucashutchinson Could you help share if any updates for this issue? Thanks.

[2018-11-19 07:54] Weijian-Espressif commented on #2685
@chegewara, Notification do not need response.

[2018-11-19 08:12] chegewara commented on #2685
@Weijian-Espressif I know, im not saying about response anywhere here. Maybe my understanding is wrong and connection interval parameter does not matter when we send notifications and notifications can be flooded as fast as device can send.

[2018-11-19 08:31] Weijian-Espressif commented on #2685
![1366713-20180430002837207-145463955](https://user-images.githubusercontent.com/16891442/48694802-5557fc80-ec18-11e8-9c66-484205320da1.png)

BLE can send multiple packets in a connection interval.

[2018-11-19 08:31] chegewara commented on #2685
@Weijian-Espressif Thank You.

[2018-11-19 08:31] #2685 closed

[2018-11-19 08:35] Weijian-Espressif commented on #2714
@chegewara, Thanks, I will fix it.

[2018-11-19 09:17] michprev commented on #2709
You are right.
It is not very intuitive but if you define like so...

[2018-11-19 09:32] michprev commented on #2439
@ginkgm so you mean that flash registers are working only on SPI1? I have tried a few of them on HSPI and they seem to work the same way as on SPI1.

However they are certainly not fully functional:
https://github.com/espressif/esp-idf/blob/960c240578d359a1c5cf8cb3cbd9ce3150d5a370/components/spi_flash/spi_flash_rom_patch.c#L599-L603

Here SPI user command is issued (setting SPI_USR bit of SPI_CMD_

[2018-11-19 10:08] X-Ryl669 commented on #2349
What about a callback in settimeofday (since SNTP will call it anyway, but any other function that's changing time). IMHO, it's better to hook here because:
1. If you have a CRON like behaviour, you also want to be informed when the user change the time herself (provided you have this option)
2. It does not depend on LWIP or any version of it, so there's much less maintenance to the code
3. You ca

[2018-11-19 10:13] X-Ryl669 commented on #2277
@Trubochkin  You have an error in your code, you're busy waiting for sntp_enabled (probably a zealous ';' here). You probably need #2349 to be fixed too to avoid waiting 500ms for nothing, and instead be informed when the time has been changed.

[2018-11-19 10:21] ginkgm commented on #2709
@michprev We design this at first for the convenience that you can leave rxlength=0 when the tx and rx use the same length, the driver will automatically fill this field for you.

[2018-11-19 11:07] Matheus-Garbelini commented on #2164
@suda-morris I was planing in using a NAND inverter for high speed such as NL17SZ00, but as you tested with the SN74AUP1T14 I'm fine then. Also, have you added some series resistors after this IC (22ohms for instance)?
Thank you.

[2018-11-19 13:58] chegewara opened #2717 "[question] ble max connections number (IDFGH-462)"
I am testing now multiconnection that i am trying to add to Kolban's ble library and i found something unusual. I had before issue with number of connections in esp-idf because there is 2 options in menuconfig, but i fixed it. Now i have oposite situation. In arduino-esp32 sdkconfig we have ACL_CONNECTIONS set to 4:
https://github.com/espressif/arduino-esp32/blob/master/tools/sdk/sdkconfig#L208

C

[2018-11-19 15:00] macaba commented on #2634
I tried the code to search all possible APLL parameters at various sampling rates and have arrived at a startling conclusion: the APLL inside the ESP32 can only support 44.1kHz and that 16934400hz is the only useful frequency that the APLL can generate for driving the MCLK on I2S codecs (44.1k x384).

[2018-11-19 17:03] felixstorm commented on #652
Thanks a lot @marekburiak, this did indeed help me!

I had the same issues (ETH connecting but no IP/DHCP), removed the capacitor and now it does work.

[2018-11-19 23:52] NewStackLearner opened #2718 "[TW#27501] assertion "res == coreID || res == portMUX_FREE_VAL" failed: *.* function: vPortCPUAcquireMutexIntsDisabledInternal"
Hi,

I am working on a project that integrates wifi manager [https://github.com/tonyp7/esp32-wifi-manager](url), frequency counter [https://github.com/DavidAntliff/esp32-freqcount](url) and mqtt (tcp) example in latest release.

freqeuency counter and overall project event handler tasks are pinned to core 1.

on make flash, all code runs fine and I am able to subscribe to topic and publish first t

[2018-11-20 04:31] suda-morris commented on #2164
@Matheus-Garbelini There is a 470Ω resistor between GPIO0 and input of inverter in my case.

[2018-11-20 05:16] liuzfesp commented on #2698
@detly we don't have document for WPA2 yet.

[2018-11-20 05:52] liuzfesp commented on #2008
HI @praseodym this feature already in IDF master since the LWIP is upgrade to v2.0.3.

[2018-11-20 06:00] liuzfesp commented on #2704
Hi @jhinklejr, my answers:

- Correct.
- Yes, WiFi driver makes a copy of high layer data.
- No,  WiFi driver has no alignment requirement.

[2018-11-20 06:02] milamber-ls opened #2719 "[TW#27505] nvs_partition_gen.py returns error ValueError: Invalid key size (512) for AES when encryption is enabled"
## Environment

- Development Kit:      ESP32-DevKitC
- Kit version DevKitC: v4
- Module or chip used:  ESP32-WROOM-32
- IDF version (run ``git describe --tags`` to find it):
    v3.2-beta1-151-g960c24057
- Build System:         Make
- Compiler version (run ``xtensa-esp32-elf-gcc --version`` to find it):
   xtensa-esp32-elf-gcc (crosstool-NG crosstool-ng-1.22.0-80-g6c4433a) 5.2.0
- Operating Syste

[2018-11-20 06:32] #2432 closed

[2018-11-20 06:32] #2690 closed

[2018-11-20 06:57] liuzfesp commented on #2716
Hi @Lir10 , could you help to provide more information about this issue, such as:
- IDF commit ID
- Log
- How long does TCP client get stuck?  Does it recoverable?

[2018-11-20 07:10] liuzfesp commented on #2708
Hi @dude-mansaa, the system is crashed because it is asserted by LWIP, this is probably caused by the bug in your code. Could you help to provide your code and detailed reproduce steps?

[2018-11-20 07:51] david-cermak commented on #2718
hi @NewStackLearner

What exactly does the 'cyclic logic' in event handler mean? Do you publish to the same topic as subscribed? This scenario doesn't make much sense, but as far as I can see it works as expected and keeps publishing. Could you post a snippet here please?

The assertion indicates either a corupt memory or uninitialized mutex. From the attached log it looks like the crash happened

[2018-11-20 07:53] liuzfesp commented on #2643
HI skitsanos, just ignore following log:
*  wifi: sta start fail
*  wifi: ap start fail

The log is caused by API esp_wifi_set_protocol(), this API:
*  stop Wifi
*  configure the protocol
* start wifi
Since the WiFi is still not started via esp_wifi_start() when esp_wifi_set_protocol() is called, so the log is showed. Just ignore it.

We will remove this log in IDF v3.3

[2018-11-20 07:55] pathob commented on #2712
Thank you @tuanpmt that solved the issue with the long URL.

Now, I still need the location I was directed to. What do you think about a getter `esp_http_client_get_location`? I could contribute that...

[2018-11-20 08:14] mahavirj commented on #2562
@gyaneshsingh If there are any followup questions please ask on esp32.com forum.

[2018-11-20 08:14] #2562 closed

[2018-11-20 08:19] Alvin1Zhang commented on #2389
@MessCodes Hi, will close this issue for now, and feel free to reopen this issue if there are any updates. Thanks.

[2018-11-20 08:19] #2389 closed

[2018-11-20 09:46] Lir10 commented on #2716
Hi @liuzfesp ,

**fb7ba1b**

[2018-11-20 10:38] H-LK opened #2720 "[TW#27531] ldgen.py"
## Environment

- Development Kit:    |ESP32-PICO-Kit|
- Kit version (for WroverKit/PicoKit/DevKitC): v2
- Module or chip used:  ESP32-PICO-D4
- IDF version (run ``git describe --tags`` to find it):
   v3.2-beta1-182-g4c881708d
- Build System:        Ubuntu, make, Python 2.7.15rc1
- Compiler version (run ``xtensa-esp32-elf-gcc --version`` to find it):
    1.22.0-80-g6c4433a
- Operating System:

[2018-11-20 12:50] spiritonline opened #2721 "Unable to connect to WPA2 Enterprise PEAP MSCHAPV2 (IDFGH-463)"
## Environment

- Development Kit: Adafruit feather Huzzah ESP32
- Module or chip used:  ESP32-WROOM-32
- IDF version: v3.2-beta1-34-gfb7ba1baa
- Build System:         [Make|CMake]
- Compiler version: 1.22.0-80-g6c4433a
- Operating System:  macOS
- Power Supply:         [USB|external 5V

## Problem Description
After first trying the Arduino core I was unable to connect the ESP32 to a WPA2 enterpri

[2018-11-20 14:50] milamber-ls commented on #2719
success!

[2018-11-20 14:54] milamber-ls commented on #2719
it worked on the Linux machine, but in my windows machine (same idf and compiler) I get another error
[code]

[2018-11-20 14:56] milamber-ls commented on #2719
and this is the result of the command you suggested on the windows machine

[code]

[2018-11-20 15:05] dobairoland commented on #2719
On Windows you need to update also the openssl library. This can be done with:
[code]

If the above command doesn't work then maybe you will have to update all of the packages:
[code]

If you have an older pacman installed then the last command need to be run twice.

Please let me know if the first step was enough for you to solve the issue.

[2018-11-20 16:07] jhinklejr commented on #2704
Thanks

Please close

[2018-11-20 16:20] cnlohr commented on #2164
I never thought about that, but that could really help me.  I've been having synchronization issues with mine over GPIO16, I think this could really help out!  I will have to try adding that resistor for my GPIO0 solution.

[2018-11-20 16:35] ammaree opened #2722 "[TW#27526] linker script generation failed for C:/Dropbox/devs/ws/z-sdk/esp-idf/components/esp32/ld/esp32.common.ld.in"
## Environment

- Development Kit:      none
- Module or chip used:  ESP32-WROOM-32
- IDF version (run ``git describe --tags`` to find it):
    // v3.2-beta1-182-g4c881708d
- Build System:         Make
- Compiler version (run ``xtensa-esp32-elf-gcc --version`` to find it):
    // 1.22.0-80-g6c4433a5
- Operating System:     Windows
- Power Supply:         external 5V

## Problem Description

Trying

[2018-11-20 16:45] NewStackLearner commented on #2718
@david-cermak

Appreciate your interaction on the topic.

[code]

Based on your feedback, i increased mqtt stack size to 32K. Also moved mqtt task to same core (Core 1) which is running user event handler. And, brought task priority of mqtt from 15 to 5, same as http. Same as before: user event handler task runs on priority 1 and frequency count task handler runs on priority 2

With this change, s

[2018-11-20 22:02] karawin commented on #2722
Urgent....

Generating esp32.common.ld
linker script generation failed for C:/msys32/home/jp/esp/esp-idf/components/esp32/ld/esp32.common.ld.in
ERROR: C:/msys32/home/jp/esp/esp-idf/Kconfig:59: Could not open '/home/jp/esp/esp-idf/components/bootloader/Kconfig.projbuild' (ENOENT: No such file or directory). Perhaps the $srctree environment variable (which was unset) is set incorrectly. Note that th

[2018-11-20 22:35] Matheus-Garbelini commented on #2164
@suda-morris Thank you. Is there a reason for this value, or you got to it by testing? It seems bigger then the values I usually see for these connections. Thank you.

[2018-11-20 23:04] JonathanWitthoeft commented on #2101
@igrr
Can someone from Espressif please give an update on this issue? We are going to production and about 20% of our boards are giving us this error. We need to use a 32kHz external XTAL and disabling it is not a valid solution. So can we get a response on the following:
1) A guideline on the crystal oscillator circuitry including load capacitor values
2) A suggestion for config values to fix thi

[2018-11-20 23:46] detly commented on #2722
On Linux (Ubuntu 18.04) I am seeing a possibly-related issue:

[code]

[2018-11-21 01:16] liuzfesp commented on #2716
Hi @Lir10 I don't think the task is stuck on send(), look at the code in tcp_client_task()::

         while (1) {
            int err = send(sock, payload, strlen(payload), 0);
            if (err < 0) {
                ESP_LOGE(TAG, "Error occured during sending: errno %d", errno);
                break;
            }
           int len = recv(sock, rx_buffer, sizeof(rx_buffer) - 1, 0);

[2018-11-21 01:48] liuzfesp commented on #2698
Sure, we will consider to add the WPA2 document in future. But we have our own priority, currently WPA2 document is in low priority.  Maybe we can add it in IDF v4.0 or v4.1, it should be half year later.

[2018-11-21 02:08] detly commented on #2698
Thanks for letting me know. It's not urgent for me, but I'm sure it will help others.

[2018-11-21 02:43] Alvin1Zhang commented on #2704
Thanks.

[2018-11-21 02:43] #2704 closed

[2018-11-21 05:53] suda-morris commented on #2164
@Matheus-Garbelini Ah, I also have no idea about it because the board I use just have this resistor connected to GPIO0. Since commonly we don't choose such a "large" series resistor in this situation, you can take 47Ω as a try, which I think will also work.

[2018-11-21 06:15] jhinklejr commented on #2713
My 2 cents from my experience.

I've seen it take over 12 sometimes.

The number is not up to you -- it seems to be up to the device asking for an IP.

I have documented an IPAD -- asking for an IP over 12 times (each time the DHCP Server sends an ACK) before it stops asking.

If the LWIP DHCP Server can do something - I too would like to know

[2018-11-21 06:18] jhinklejr commented on #2713
Please ignore my last post -- I originally thought you were asking as the AP and a client was requesting an IP.

[2018-11-21 06:20] liuzfesp commented on #2713
HI @tve, it depends whether the DHCP ACK is received or not. If ESP32 STA gets a DHCP ACK for the first DHCP request, it stops to send DHCP request, otherwise it retries until getting the IP.

[2018-11-21 06:32] liuzfesp commented on #2713
HI @tve according to the timestamp in your log, I guess the 4 DHCP request is actual the same DHCP request because the delayed interval between each DHCP request is very short.

If DHCP request retry happens in DHCP module, the delayed interval should be at least 500ms or 250ms. So the multiple DHCP requests should be the retry by WiFi.

According to WiFi Specification, for each transmitting unica

[2018-11-21 06:57] tve commented on #2713
I see, so you are saying that what happens is:
- Req1: AP receives packet, esp does not receive wifi ack
- Req2: wifi rexmit, AP receives packet, esp does not receive wifi ack
- Reply 1: esp does not receive packet
- Req3: wifi rexmit, AP receives packet, esp does not receive wifi ack
- Req4: wifi rexmit, AP receives packet, esp may or may not receive wifi ack
- Reply 2: esp receives packet, end o

[2018-11-21 06:57] #2713 closed

[2018-11-21 07:07] liuzfesp commented on #2713
@tve, each Wifi packet has a WiFi sequence, if the packets have same WiFi sequence, it means the they are retried by WiFi, if the packets have different WiFi sequence, it means the packets are retried by application.

[2018-11-21 10:38] ammaree commented on #2722
I have now gone through all possibly related posts I have been able find especially #2480 but no luck.
All modules and dependencies are up to date but the symptom remains the same.

[2018-11-21 11:14] karawin commented on #2722
Revert the local by
git reflog -10
 git reset --hard HEAD@{x} with x to be choosen
and finally
git submodule update

Deleteing the build in the project may help too.

[2018-11-21 11:44] ammaree commented on #2722
Nope, no luck, caused lots of other errors.
Used 9 for 'x'
Updated all repos to current latest head, and back to same problem..

[2018-11-21 13:05] rapli opened #2723 "Request: Add captive portal option to dhcp server (IDFGH-465)"
In order to automatically connect to a device's SoftAP one could use the dhcp captive portal option (code 160) ([see RFC 7710](https://tools.ietf.org/html/rfc7710)). Right now the dhcp server does not offer the capability to set this dhcp option.
Something that could be considered in this regard is to allow setting **any** DHCP option, not only those currently supported, but at least the captive p

[2018-11-21 13:49] pad52 commented on #2634
Hey, try to set this values at the end of the function i2s_apll_calculate_fi2s() in esp-idf/components/drivers/i2s.c
sdm0=149; sdm1= 212; sdm2= 5; odir= 2;
I think you can arrive at 47.999Khz.

[2018-11-21 13:52] pad52 commented on #2634
or sdm0= 40, sdm1= 15, sdm2= 7, odir= 4 In case you want a Master Clock that is 384x the freq.

[2018-11-21 13:55] david-cermak commented on #2718
Hi Deepak,

Thanks for sharing the code. What struck me as odd is the
[code]
What kind of wait you use? (assuming `vTaskDelay`) The event handler runs from the MQTT thread context so it actually blocks all mqtt message reception/transmission.
If that's the case I would suggest another condition variable so the waiting takes place in a different thread (but that wouldn't explain crashes -- just som

[2018-11-21 14:43] crespum commented on #2306
This issue has been fixed in [v3.1.1](https://github.com/espressif/esp-idf/releases/tag/v3.1.1). Thanks @igrr!

[2018-11-21 14:43] #2306 closed

[2018-11-21 16:50] ammaree commented on #2722
@igrr @projectgus

In order to start with a completely clean setup I deleted the MSYS2 environment, the complete esp-idf and sub-modules then recreated the whole installation using the latest steps EXACTLY.
The prerequisite steps installed nothing new, stated all were met.

On building an existing application, that has worked for the last 18 months it failed with exactly the same error:
----------

[2018-11-21 17:19] karawin commented on #2722
We have to wait unfortunately.

[2018-11-21 17:48] pilnikov commented on #2722
https://github.com/karawin/Ka-Radio32/issues/65

[2018-11-21 18:33] chegewara opened #2724 "wifi + ble crash from time to time (IDFGH-467)"
I dont know if this is esp-idf issue or just my app require some optimization. It not always happen but when im processing http client request (download file) and at the same time in my other task is starting bluetooth le (init, star GATT attributes etc) my app crash with those logs:
[code]
This is log from normal run (i hope its easy enough to read):
[code]
[code]

[2018-11-21 19:29] copercini opened #2725 "Classical Bluetooth SPP send throughput is very slow to Android (IDFGH-466)"
When sending data using `esp_spp_write()` at more than ~ 5KB/s to an Android phone, it triggers a lot of `ESP_SPP_CONG_EVT` events and the communication slow down, this problem doesn't occur in other systems, like a Windows PC with the same ESP code

Commenting out [this line](https://github.com/espressif/esp-idf/blob/master/components/bt/bluedroid/stack/rfcomm/rfc_utils.c#L468) as proposed by Mar

[2018-11-21 20:55] jamesgz opened #2726 "Monitoring error: "BT_HCI: hci write adv params error""
Hey all,

I am trying to use nkolban's SampleRead.cpp on esp-idf-template on Ubuntu.

I have done the following:
1. Cloned esp-idf-template to "ble-test" folder
2. Created components folder in "ble-test" and copied cpp_utils to components folder
3. Edited and copied main.cpp & SampleRead.cpp into main folder
4. deleted main.c
5. modified set(COMPONENT_SRCS "main.c") to set(COMPONENT_SRCS "main.cpp

[2018-11-21 21:41] chegewara commented on #2726
I have suggestion. It is related to uninitialized value in advParam variable in BLEAdvertising class. You can find answers here:
https://github.com/espressif/esp-idf/issues/2714#issuecomment-439736822

I will fix it soon in Kolbans library and devs will help with esp-idf. Most issues related to this library can be posted in kolbans repository. Thanks.

[2018-11-21 23:49] liuzfesp commented on #2724
The system crashed because uxPortCompareSetExtram() accesses external memory in ISR handling, it has two possibilities:
*  We have bug in uxPortCompareSetExtram()
*  The memory has been corrupted by application

@igrr

[2018-11-21 23:50] projectgus commented on #2722
Hi folks,

Sorry for the inconvenience. There was a recent regression in master for Windows users (using MSYS2 & GNU Make) in 8915f482089d2666d81174e9d671af300036472b which causes an error of this format: `
linker script generation failed for %IDF_PATH%/esp-idf/components/esp32/ld/esp32.common.ld.in
ERROR: %IDF_PATH%/esp-idf/Kconfig:59: Could not open '%IDF_PATH%/components/bootloader/Kconfig.proj

[2018-11-21 23:53] projectgus commented on #2722
@pilnikov I notice in the linked issue you mention problems with IDF v3.2-beta1. v3.2 doesn't have the linker script generator feature so doesn't have this specific regression. If you're experiencing different build errors in v3.2-beta1, please open another issue with details and we'll look into it.

[2018-11-21 23:53] chegewara commented on #2724
@liuzfesp Do you want elf or bin file?

[2018-11-21 23:55] liuzfesp commented on #2724
Sure, it's helpful to examine the exact instruction that causes the crash.

[2018-11-22 00:17] chegewara commented on #2724
But i have to warn you it is a mess in code, because i am using the same app to test multiple scenarios and just switching which function is started at the moment:
https://drive.google.com/open?id=150qEwDdulo8b1vlySYaSmVwsLwN7gasO

Im getting more strange issues like coex error in app that in theory is not using wifi, only ble:
[code]
But i think its for another issue.

[2018-11-22 00:52] flodmotorgrodan commented on #164
A closer look at the offset at which each ADC attenuation range produces a reading. The PWM high side  is 3.4 Volts so PWM filtered DC voltage is 3.4/409685 =  0.83 mV/tick

In my case ADC readings starts ticking from:
Range 0 & 1 = 85*0.83 = 71mV
Range 2 = 110*0.83 = 91 mV
Range 3 = 148 *0.83 = 123 mV

![adc_sweep_2018-11-21_215115](https://user-images.githubusercontent.com/6582879/48872771-e41c7

[2018-11-22 01:03] liuzfesp commented on #2724
@chegewara, I can't open your link.

[2018-11-22 01:08] chegewara commented on #2724
[hello-world.zip](https://github.com/espressif/esp-idf/files/2606258/hello-world.zip)

[2018-11-22 01:31] chegewara commented on #2724
I would like to say that coexist never before works so good, except that crash. Really great job about that.

My coexist settings are:
- turn on sw coexist in menuconfig
- coexist priority wifi

[2018-11-22 01:49] #2726 closed

[2018-11-22 03:33] TianHao-Espressif commented on #2724
@chegewara , about the "coex err" in BLE, could paste the complete log? I want to know the scenario when error happens and the error type. Thanks.

[2018-11-22 03:54] tve commented on #2713
FYI, I refreshed my memory about the DHCP protocol and I captured a wifi sequence using a second adapter in monitor mode. What I see:
- The esp32 always sends two DHCP Discovery frames. The second is not a retransmission. The first one has a sequence number 0, the second a non-zero one, which changes, e.g. 2057.
- It similarly sends two DHCP Request frames, one with se no 1, the other 2 higher tha

[2018-11-22 03:58] viduata commented on #2722
Rolling back to the noted commit above allows the compile to go through without error, but the output is now bad. The image has gone from around 300k to 3072 bytes. Flashing and running just gives an infinite scroll of errors and reboots.

[2018-11-22 05:09] pilnikov opened #2727 "[TW#27558] esptool error during "make" when processing ELF file"
when I try to build a project with version 3.2.1Beta when processing .elf file, I get a
struct.error: ubyte format requires 0 <= number <= 255
in esptool.py
![esptool](https://user-images.githubusercontent.com/25922873/48883062-c3323d00-ee3f-11e8-9fa4-cae61c7d0fe8.JPG)
![image](https://user-images.githubusercontent.com/25922873/48883141-2de37880-ee40-11e8-9d99-2deb4ea47a77.png)

[2018-11-22 05:57] chegewara commented on #2724
@TianHao-Espressif Sure, but this is only one time case and i think its more my app fault rather tan esp-idf issue:
[code]

[2018-11-22 06:02] projectgus commented on #2727
Hi @pilnikov ,

Is this an open source project? If so, are you able to attach the sdkconfig and the KaRadio32.elf file from the build directory? If you can't share them it's OK, can figure out another approach.

[2018-11-22 06:07] akshar001 opened #2728 "WIFI+BT+BLE (IDFGH-469)"
Hello,
We are using BT+BLE+WIFI in one of our project,
BT is specifically used for SPP server to view log over BT.
But There is some RF calibration error showing when all runs at same time?

[2018-11-22 06:45] liuzfesp commented on #2723
@rapli, we have put it into our TODO list.

[2018-11-22 07:11] Lir10 commented on #2716
Hi @liuzfesp

The task looks stuck on `send()` - I have added prints before and after `send()`.

I can see the print before `send() `but not after - i'm sure it's stuck.

Also, i'm sending and receiving without any problem - it works like that for hours until it gets stuck

[2018-11-22 07:38] igrr commented on #2727
backlink https://github.com/karawin/Ka-Radio32/issues/65

[2018-11-22 07:42] igrr commented on #2660
Thanks for reporting this @callalilychen, fixed in https://github.com/espressif/esp-idf/commit/f4cfca4353da66be88d04adf059d8d37f1c95b11.

[2018-11-22 07:42] #2660 closed

[2018-11-22 07:56] igrr commented on #2470
Hi @ammaree, sorry for the late response. What is the stack size of these two tasks where the issue happens? One common thing in every core dump is that the used stack size is 2568 or 2572 bytes at the point where panic handler is invoked. Which suggests that this might be a stack overflow if the stack size was set to 2560 bytes?

[2018-11-22 08:09] pilnikov commented on #2727
Yes of course. Its  karadio from https://github.com/karawin/Ka-Radio32
[1.ZIP](https://github.com/espressif/esp-idf/files/2607075/1.ZIP)

[2018-11-22 10:19] ammaree commented on #2470
Hi @igrr

It is very difficult to know which task is running. Starting from #0 in the current thread stack and working downwards it is only at #10 (MQTTPublish) that the first reference to one of our functions comes in, BUT there is no link between the 2 function call entries in the source.

Even higher up in the stack trace we have 2 successive calls where no function call link exist, normally be

[2018-11-22 11:51] gerekon commented on #2530
@sjoteppagol `CONFIG_INT_WDT_CHECK_CPU1` controls checks for stalled OS on CPU1. It produces watchdog panic when OS does not tick on CPU1, e.g. when interrupts are disabled for a long period of time (by default 300 ms).
Since it is not possible for us to reproduce your situation can I ask you to perform some additional verification?
There is new feature added in IDF by 624828ce83adce851dea85e2e6e0

[2018-11-22 12:02] gerekon commented on #2672
@xgenesys Could you try steps described in [#2530](https://github.com/espressif/esp-idf/issues/2530#issuecomment-441006665)?

[2018-11-22 12:16] muratsplat commented on #2728
@akshar001  Do you want to use BT+BLE at same time ? I don't know that they can work at same time.

[2018-11-22 16:33] liuzfesp commented on #2724
HI @chegewara we need time to debug this issue...

[2018-11-22 16:51] chegewara commented on #2724
@chegewara Cool, take your time. This is nothing that bothers me now.

[2018-11-22 22:37] projectgus commented on #2722
This should be fixed in master as of commit 3970ea60deade62224ad227fd5f986d29b0abdfb

Thanks everyone for reporting and being patient with the fix.

[2018-11-22 22:37] #2722 closed

[2018-11-22 23:00] projectgus commented on #2727
Thanks for posting those.

Something seems to have gone wrong in the linker script for both v3.1.1 and v3.2-beta1.

The ELF files both have hundreds of loadable sections when they should have about 5 (you can look at the output with `xtensa-esp32-elf-objdump -h ELFFILE`).

For v3.1.1, there are 254 loadable sections so the .bin file is generated - however the generated .bin file won't boot as the

[2018-11-23 01:04] markwj commented on #2136
FYI: We are also seeing this. nkolban's suggested change works for us.

[2018-11-23 01:26] markwj opened #2730 "[TW#27570] SPI flash FAT partition corruption with esp-idf master"
## Environment

- Development Kit:      none
- Kit version (for WroverKit/PicoKit/DevKitC): none
- Module or chip used:  ESP32-WROVER 16MB
- IDF version (run ``git describe --tags`` to find it): v3.2-beta1-208-g0d7f2d77c
- Build System:         make
- Compiler version (run ``xtensa-esp32-elf-gcc --version`` to find it): (crosstool-NG crosstool-ng-1.22.0-80-g6c4433a) 5.2.0
- Operating System:     m

[2018-11-23 01:40] milamber-ls commented on #563
any update on that?

[2018-11-23 01:57] liuzfesp commented on #563
Really sorry about this issue. I think this issue still exists in latest IDF, we will give it higher priority.

[2018-11-23 03:07] projectgus commented on #2727
One other question, can you please post the output of `git describe --tags --dirty` when run in the IDF directory? Thanks.

[2018-11-23 04:53] igrr commented on #2730
Hi @markwj if the issue is reproducible, could you please raise log level to Verbose and share relevant logs (where corruption happens and partition is not mountable)? Also, when you say "random corruption", does this only mean that the partition is not mountable, or that partition is mountable but data inside files is corrupted?

[2018-11-23 05:29] pilnikov commented on #2727
![image](https://user-images.githubusercontent.com/25922873/48929435-9eef6280-ef0a-11e8-89ca-c6ca92d28a12.png)

[2018-11-23 05:33] pilnikov commented on #2727
Tru make without paremeter
e.g.
make -j4

[2018-11-23 05:36] pilnikov commented on #2727
![image](https://user-images.githubusercontent.com/25922873/48929538-99dee300-ef0b-11e8-9d80-776b2b094257.png)

[2018-11-23 05:42] pilnikov commented on #2727
after git pull & git submodule update
![image](https://user-images.githubusercontent.com/25922873/48929631-62bd0180-ef0c-11e8-93d6-484fbd407255.png)

[2018-11-23 05:51] igrr commented on #2730
Also could you possibly attach your sdkconfig? Interested in wear_levelling and FATFS configuration items.

[2018-11-23 06:06] pilnikov commented on #2727
[2.zip](https://github.com/espressif/esp-idf/files/2609806/2.zip)
Files after make all with updated 3.2 beta1
Size .elf = 6m

[2018-11-23 06:10] igrr commented on #2703
Hi @benjenq sorry for the late response. Could you please try the following:

[code]

and see if this runs without the "can't open" error?

[2018-11-23 06:20] igrr commented on #2400
The final fix (which is different from the patch I've posted above) was merged in https://github.com/espressif/esp-idf/commit/35d1c7b173a583956a4eab2526458330f3f6a2e3.

[2018-11-23 06:20] #2400 closed

[2018-11-23 07:06] projectgus commented on #2727
The binary seems to be building correctly now, so it appears some change on master branch has fixed this.

One thing I noticed in your screenshots is you are running MSYS2 via "msys.exe", not "mingw32.exe". This is not supported - if you look in the build output you'll see a warning about it. The root cause may be something to do with that, and using an MSYS rather than a MINGW32 Python. But I'm j

[2018-11-23 07:47] TianHao-Espressif commented on #2728
@akshar001 , could your describe the error with pasting a log?

[2018-11-23 07:49] pilnikov commented on #2727
![image](https://user-images.githubusercontent.com/25922873/48932514-390cd600-ef1e-11e8-92cf-2cc7b6a0a8f4.png)

[2018-11-23 08:29] chegewara opened #2731 "[TW#27580] strange behavior on reset"
I just end with OTA over BLE example and it is running fine, but after ota flashing i have very strange behavior. As first app to ota flash i have hello-world from esp-idf examples. No modifications at all. After updating esp32 code is running fine and after 10 seconds loop esp32 restart but not always is starting again. Here is log:
[code]

Usually its only one "empty" restart and next time is ru

[2018-11-23 08:33] meriororen opened #2732 "Cannot connect after abnormal BLE disconnection"
Hi, sorry I am not sure whether it is wise to open a new issue or just comment on #513 so I decided to do both..

I can still reproduce the bug mentioned in #513 with the latest SDK with gatts_demo example. Below is the patch for gatts_server example and the necessary client script (based on nodejs "noble" library).

[gatts_demo.patch.txt](https://github.com/espressif/esp-idf/files/2610084/gatts_d