[2019-07-01 03:59] suda-morris commented on #3711
Thanks @nopnop2002 for your effort in the example, we will look into it ASAP.
BTW, the Ethernet driver has been refactored these days, and the build error should be fixed there.

[2019-07-01 07:02] suda-morris commented on #3697
@Sagigamil Sorry for the delay. IIRC, to reconnect a context, we should use the `ATO` command. The `esp_modem_setup_ppp` should be invoked on the first time sim800L setup a PPP context I think.
![image](https://user-images.githubusercontent.com/8869469/60416801-47884200-9c11-11e9-808f-4380cde8e4f1.png)

[2019-07-01 07:21] imliubo commented on #3699
Hi @ginkgm ,
I used the oscilloscope to look at the data and found that the data sent by ESP32 is very different from that sent by STM32.Why is this so, is the method I tested wrong or the code I wrote has a problem.
**STM32**
![示波器_01](https://user-images.githubusercontent.com/26544331/60417608-71426880-9c13-11e9-9301-80c00016eb32.png)
![示波器_02](https://user-images.githubusercontent.com/26544331/

[2019-07-01 07:24] no1seman commented on #3715
@suda-morris,

Here is my sdkconfig:
[sdkconfig.zip](https://github.com/espressif/esp-idf/files/3344303/sdkconfig.zip)

The problem seems to be be more complicated. I have a network 192.168.3.0/24 with common gateway for all devices: 192.168.3.1 and there is a several devices: laptops, android phones with different operating systems. So, I can get ping answers from esp32 with test app based on  re

[2019-07-01 07:59] jmattsson commented on #2146
@iggr / @projectgus  Could we get this over to the 3.3 branch too, pretty please?

[2019-07-01 08:16] suda-morris commented on #3715
Oh no, @no1seman thanks for reporting this bug, it's really a bug! I think it's due the checksum error. I test the basic ethenret example, and ping from a raspberrypi (sorry I don't have windows and macos), and I will get `64 bytes from 192.168.2.151: icmp_seq=1 ttl=255 time=0.530 ms (BAD CHECKSUM!)`. We will look into this issue and fix it ASAP.

[2019-07-01 09:27] ghemal commented on #3706
@chegewara For pure software crypto operation in mbedtls AES there are two separate APIs to set the encryption and decryption key. In your case I see that you only call mbedtls_aes_setkey_enc() & mbedtls_aes_xts_setkey_enc(). The AES decryption key must be set using mbedtls_aes_setkey_dec() & mbedtls_aes_xts_setkey_dec(). Could you set the AES decryption key with these missing API and try?

[2019-07-01 09:30] suda-morris commented on #3715
@no1seman Can you change [this line](https://github.com/espressif/esp-idf/blob/master/components/soc/esp32/emac_hal.c#L167) to `hal->tx_desc[i].TDES0.ChecksumInsertControl = EMAC_DMATXDESC_CHECKSUM_BYPASS;`  To see if this can solve the problem?

[2019-07-01 09:41] no1seman commented on #3715
@suda-morris,
 yes, now ping works, but as I undestood that option turns off checksum checking for all types of protocols: TCP/UDP/ICMP? If so it's not a good idea to skip Ethernet frame checksum checking?

[2019-07-01 10:04] suda-morris commented on #3715
Sorry, ESP32 doesn't support hardware checksum insertion on the TX path, but does check the checksum on the RX path. It's my mistake that I tried to enable a feature that doesn't support by ESP32 (and most of the MCU on the market doesn't have this feature too).

[2019-07-01 10:07] chegewara commented on #3706
Thanks @ghemal
I remember i was confused few months ago when ive been playing with this code and all was working, even with decoding where mbedtls exclusively mentioned about using different function for encoding and decoding key initialization. Now i understand why, only weird/inconsistent is that with hardware decoding it does not matter.

[2019-07-01 10:07] #3706 closed

[2019-07-01 10:20] no1seman commented on #3715
@suda-morris, Ok, thank you for quick solution, wish you will commit bugfix soon.

[2019-07-01 11:40] AviraMatti opened #3716 "ESP-IDF make flash conf problem (IDFGH-1446)"
Hi

I have the problem to continue next situation.
Make modeconfig works but I gave next problems.
Forward is also PATH lines.  I have follow ESPRESSIF page installation for Ubuntu.

atti@matti-Latitude-E6420:~/esp/hello_world$ make flash
Toolchain path: /home/matti/esp/xtensa-esp32-elf/bin/sh/xtensa-esp32-elf-gcc
Toolchain version: esp32-2019r1
Compiler version: 8.2.0
Python requirements from /ho

[2019-07-01 11:42] ghemal commented on #3705
@SunilDullolli Would you please provide more details as suggested in the [issue template](https://github.com/espressif/esp-idf/blob/master/docs/issue_template.md)?

[2019-07-01 12:38] huming2207 commented on #3713
Hi @renzbagaporo

I think I'd choose to wrap the `libwebsocket` into a component later. So I will leave the `include_directories` in the `libwebsockets` CMake project as-is to prevent any incompatibility issues.

I will close this issue for now. If there is anything else need to fix, please re-open it. Thanks!

Regards,
Jackson

[2019-07-01 12:38] #3713 closed

[2019-07-01 12:41] nopnop2002 commented on #3711
Hello.
I canged .max_cmdline_args = 16.
It's OK.
When you fixed example code, please close this isusues.
Thank you for your support.

[2019-07-01 12:55] nopnop2002 commented on #3716
Hello.
I think that Your path is not current.

	Toolchain path: /home/matti/esp/xtensa-esp32-elf/bin/sh/xtensa-esp32-elf-gcc

It's mine.

	Toolchain path: /home/nop/xtensa-esp32-elf/bin/xtensa-esp32-elf-gcc

[2019-07-01 13:21] ginkgm commented on #3699
Maybe you should gpio_set_level(cs,1) when you initialize it.

And, the SPI is a 4-line synchronized protocol, what matters is the relationship between the clock and the data (also related with the CS). Suggest use the LA to check the timing among 4 signals. It looks good only from the MOSI side.

[2019-07-01 14:23] SunilDullolli commented on #3705
@ghemal I am trying to build latest ESP-IDF and facing this problem.

**Environment**
Module or chip used: ESP32-WROOM-32
IDF version :  v4.0-dev-1018-gbbafd5066
Build System: Make
Compiler version :  (crosstool-NG esp32-2019r1) 8.2.0
Operating System: [Windows]
Power Supply:  external 3.3V

**Problem Description**
library is trying to access a header file ("hwcrytpto/aes.h") which is not referenc

[2019-07-01 15:04] dobairoland commented on #3543
Thanks @ulfalizer for the suggestion. It will be updated ASAP.

[2019-07-01 15:10] OPyshkin opened #3718 "LEFT_SHIFT_KEY_MASK modificator in ble_hid_demo project not working (IDFGH-1448)"
I'm writing a converter from ascii to keyboard scan code using ble_hid library (https://github.com/espressif/esp-idf/tree/master/examples/bluetooth/ble_hid_device_demo) . To make difference between big and small letters I'm trying to use LEFT_SHIFT_KEY_MASK modificator, but the letters are still small. Here's the snippet from my code
'''
len = uart_read_bytes(UART_NUM_1, data, BUF_SIZE, 20 / portT

[2019-07-01 15:38] MarWoz442 opened #3719 "ESP32 Classic Bluetooth - RFCOMM connection in state 1 closed: Peer connection failed (res: 16) (IDFGH-1449)"
## Environment

-ESP32-PICOD4 - chip
- IDF version v3.2-dirty
- Compiler version xtensa-esp32-elf-gcc version 1.22.0-80-g6c4433a5
- Operating System: Windows
- Power Supply:  USB/Battery

## Problem Description

I try to connect to the other BT  (SPP) device by using bt_spp_initiator example. Unfortunately I get some error from BT stack.
When I calling esp_spp_connect then I got ESP_SPP_CL_INIT_EV

[2019-07-01 16:37] korstiaanS commented on #3707
It works!

[2019-07-01 16:37] #3707 closed

[2019-07-01 16:40] giPeteR commented on #3714
I would like to know as well. Spent well over a week trying to get ADC1 working before finding these threads.
**ADC1** stops as soon as doing _esp_wifi_connect()_.
It works if I do an _esp_wifi_connect()_ before _i2s_read()_.
Feels so odd that the datasheet claims a high performance ADC, but you cannot really use it.
I also like to get the pattern table running because I need several channels at h

[2019-07-01 17:13] luanmm commented on #2565
It is something that would be very useful for a project I'm working on. We may expect it to be done soon?

[2019-07-01 17:14] ssilverman commented on #3698
Fair point. I'll dig around with PlatformIO and find something.

[2019-07-01 19:11] mishafarms commented on #3714
What did you do to get the pattern table working? I got it to work by removing the static in front of the 2 functions in the file in the esp-idf/components/driver/rtc_module.c and added the declaration into esp-idf/components/driver/include/driver/adc.h

esp_err_t adc_set_i2s_data_len(adc_unit_t adc_unit, int patt_len);
esp_err_t adc_set_i2s_data_pattern(adc_unit_t adc_unit, int seq_num, adc_chann

[2019-07-01 23:45] huming2207 opened #3720 "CMake build system: PROJECT_SOURCE_DIR for third-party project pointed to wrong place (IDFGH-1450)"
## Environment

- Development Kit:      Homemade
- Kit version (for WroverKit/PicoKit/DevKitC):  N/A
- Module or chip used:  ESP32-WROVER
- IDF version (run ``git describe --tags`` to find it): v4.0-dev-1018-gbbafd5066
- Build System:    CMake
- Compiler version (run ``xtensa-esp32-elf-gcc --version`` to find it): xtensa-esp32-elf-gcc (crosstool-NG esp32-2019r1-rc2) 8.2.0
- Operating System:  Linu

[2019-07-01 23:52] huming2207 commented on #3720
Looks like you've done some other changes on CMake in the recent one day or two...I will test again tonight with the latest changes.

[2019-07-02 00:29] detly commented on #3714
Re. pattern table usage, you might be interested in the example code I posted from issue #3263 .

Re. ADC issues, I notice you're using the APLL, and you might be running into the issue I found here (APLL cannot be used while using the I2S direct-from-ADC mode): #3692 .

Re. the ADC issue itself, I dimly remember that one of the ADC modules is incompatible with the wifi module being enabled, but I

[2019-07-02 00:29] detly commented on #3714
Oh, it was ADC2 and you're using ADC1, so it's probably not that. [From here](https://docs.espressif.com/projects/esp-idf/en/latest/api-reference/peripherals/adc.html):

[2019-07-02 00:41] mishafarms commented on #3714
I tried disabling APLL, no change.

I did not see any weird channel ordering.

Michael

[2019-07-02 00:42] renzbagaporo commented on #3720
Noticed that you setting stuff is before the `project` call? That might be it?

[2019-07-02 01:04] xanthome commented on #3545
I have a very similar issue to this (on windows 10 using git bash)
[esp-idf-build-success.txt](https://github.com/espressif/esp-idf/files/3347815/esp-idf-build-success.txt)
:
$ git describe --tags
v4.0-dev-1093-gbca4afb46

$ echo $IDF_PATH
C:\dev\esp\esp-idf

$ idf.py -v menuconfig
Checking Python dependencies...
Python requirements from C:\dev\esp\esp-idf\requirements.txt are satisfied.
Executing

[2019-07-02 02:08] krzychb commented on #3036
Hi @fknrdcls yes, please mail me krzysztof 📫  espressif com

[2019-07-02 02:50] huming2207 commented on #3720
Hi @renzbagaporo ,

Yep thanks, problem solved. Sorry I didn't realise there's a `project()` beneath it... Normally I would leave it on top of each CMakeList.

Regards,
Jackson

[2019-07-02 02:50] #3720 closed

[2019-07-02 03:15] imliubo commented on #3699
Hi @ginkgm ,
Thanks!This problem is solved.When I tried various methods, it didn't work. I realized that it might be a problem with this test PCB board.So I use the ESP32_DevKitc_V4 replace the test PCB board.Then it finally work well.
**Before I changed the board:**
![ESP32_01](https://user-images.githubusercontent.com/26544331/60479882-013aed80-9cba-11e9-88bf-02c52cb32196.jpg)
![ESP32_02](https:

[2019-07-02 04:42] ghemal commented on #3705
Thanks for the details however build/debug log seems incomplete. Was it compiling for you previously with any specific commit id?

Please try to run git submodule update --init --recursive from your IDF_PATH directory. Another suggestion is to remove your build directory and do fresh build again

I pulled the latest master and enabled AES hardware acceleration (make menuconfig -> component config

[2019-07-02 05:20] kvbulusu opened #3722 "i2c command link malloc error (v3.2.2) (IDFGH-1452)"
Environment
Development Kit: ESP32-LyraT
Module or chip used: ESP32-WROOM-32
IDF version (run git describe --tags to find it): v3.2.2
Build System: Make
Compiler version (run xtensa-esp32-elf-gcc --version to find it): 5.20
Operating System: Linux
Power Supply: USB

Problem Description
I'm seeing i2c errors randomly . I couldnt determine any pattern. Same code sometimes works and sometimes gives b

[2019-07-02 06:03] detly commented on #3714
@michafarms I suspect you might not really be using the APLL in your posted code anyway. The `fixed_mclk` is set to your sample rate, which is far higher than the `MCLK` value is allowed to be. The code in the RTC module will fall back to the PLL D2, and the only sign of this will be a debug line that looks like:

[code]

[2019-07-02 06:10] koobest commented on #3722
Did you call `i2c_cmd_link_delete` after each transfer?

[2019-07-02 06:31] dobairoland commented on #3545
The issue is solved by https://github.com/espressif/esp-idf/commit/5034a57605ba22241abad989d38120a241607eb2.

@xanthome, the issue reported by you is a different one but it was already fixed maybe by this https://github.com/espressif/esp-idf/commit/bd699985169ecf44cd957e3832077c79b180760e commit (I'm not sure).

[2019-07-02 06:31] #3545 closed

[2019-07-02 06:36] koobest commented on #3608
If you are using Cmake to build your project, make sure your c source filename is included in `CMakeLists.txt` under the main folder.

[code]

[2019-07-02 06:40] mahavirj commented on #3368
@X-Ryl669 This fix is tested internally so I will go ahead and close the issue. Please feel free to update otherwise.

[2019-07-02 06:40] #3368 closed

[2019-07-02 06:42] mahavirj commented on #3503
@sysizlayan Presumably this was a question, so I will go ahead and close this. Please feel free to update if you still notice any issue here.

[2019-07-02 06:42] #3503 closed

[2019-07-02 06:44] nopnop2002 opened #3723 "error in https://github.com/espressif/esp-idf/tree/master/examples/protocols/README.md (IDFGH-1453)"
There is some error in https://github.com/espressif/esp-idf/tree/master/examples/protocols/README.md.

# Error
https://github.com/espressif/esp-idf/blob/master/examples/common_components/protocol_examples/common/connect.c

# Correct
https://github.com/espressif/esp-idf/blob/master/examples/common_components/protocol_examples_common/connect.c

# Error
https://github.com/espressif/esp-idf/blob/maste

[2019-07-02 07:42] Alvin1Zhang commented on #3657
@Yuvaraj4041  Thanks for reporting the issue, feel free to reopen if your issue still exists. Thanks.

[2019-07-02 07:42] #3657 closed

[2019-07-02 09:24] ankitdaf commented on #3192
We are facing the same problem.

A small snippet of the log is here :

E (4396500) esp-tls: mbedtls_ssl_handshake returned -0x4c
E (4396500) esp-tls: Failed to open new connection
E (4396500) TRANS_SSL: Failed to open a new connection
E (4396500) HTTP_CLIENT: Connection failed, sock < 0
E (4396510) HTTP_CLIENT: HTTP GET request failed: ESP_ERR_HTTP_CONNECT

[2019-07-02 09:54] OPyshkin commented on #3718
Finally, I found the solution. Instead of esp_hidd_send_keyboard_value( hid_conn_id, LEFT_SHIFT_KEY_MASK, &key, 1 ); I used esp_hidd_send_keyboard_value( hid_conn_id, 2, &key, 1 ); . I guess that will work with other modificators

[2019-07-02 09:54] #3718 closed

[2019-07-02 10:58] krzychb commented on #3723
HI @nopnop2002 thank you for taking time to document this issue and preparing detailed report.

[2019-07-02 11:25] krzychb commented on #2538
Hi @catherinedodge thank you for pointing it out. I will get it resolved.

[2019-07-02 14:26] xiaodingding opened #3724 "rt-thread 系统支持 (IDFGH-1454)"
你好，请问，贵公司有考虑对rtthread 嵌入式系统的支持吗？

[2019-07-02 14:47] enricop opened #3725 "[Wifi] can't associate as station after commit c139683 (IDFGH-1455)"
## Environment

- Development Kit:   ESP32-WRover-B
- IDF version: v4.0-dev-1095-g16014079f
- Build System: Make
- Compiler version: 8.2.0
- Operating System: Linux

## Problem Description

After this commit
https://github.com/espressif/esp-idf/commit/c1396830243b4c8fbea255a04d8a04ed2cb9f3d7
the example
https://github.com/espressif/esp-idf/tree/master/examples/wifi/getting_started/station
fails as

[2019-07-02 14:59] Dazza0 commented on #581
Print backtrace at runtime added in https://github.com/espressif/esp-idf/commit/037c079e9a86a54d95b0daa934cd2e8200a7d79b

[2019-07-02 14:59] #581 closed

[2019-07-02 15:15] Alvin1Zhang commented on #3724
@xiaodingding Thanks for reporting the issue. Would you please help provide more details as suggested in the [issue template](https://github.com/espressif/esp-idf/blob/master/docs/issue_template.md)? Thanks.

[2019-07-02 15:21] f00bard commented on #3608
According to [the docs](https://docs.espressif.com/projects/esp-idf/en/latest/api-guides/build-system-cmake.html#example-project) a CMakeLists.txt file isn't needed under the <project>/main folder.  However I'm running into the same issue (having used GNU Make until now).

[2019-07-02 17:04] Sagigamil commented on #3697
Any help?

[2019-07-02 17:16] no1seman opened #3726 "[WiFi] ieee80211_hostap.c 280 error (IDFGH-1456)"
## Environment

- Development Kit:      ESP32-Wrover-Kit + LAN8720
- Kit version (for WroverKit/PicoKit/DevKitC): v4.1
- Module or chip used:  ESP32-WROVER-B
- IDF version:  v4.0-dev-1095-g16014079f
- Build System:  CMake
- Compiler version:  xtensa-esp32-elf-gcc (crosstool-NG esp32-2019r1) 8.2.0
- Operating System:   Linux
- Power Supply:   USB|external 5V&Battery

## Problem Description
Tried to

[2019-07-02 17:47] carlessole opened #3727 "Extract binary file content from HTTP body of post request (IDFGH-1457)"
Hello,
I'm using the stable release of ESP-IDF: [v3.2.2](https://github.com/espressif/esp-idf/releases/tag/v3.2.2) and I'm trying to do a simple http_server and send a file to it.

When I do the HTTP POST (using for example [postman](https://www.getpostman.com/) or  [insomnia](https://insomnia.rest/)) it looks something like that (using wireshark):
![imagen](https://user-images.githubusercontent.c

[2019-07-02 19:02] laverdanny commented on #1908
hi there
louisthetall  did you succeed to make OTA via BTclassic ?
regards

[2019-07-02 20:02] SunilDullolli commented on #3705
@ghemal Thanks for the reply. I did see that it was conflicting with the older version of mbedtls component and replacing that fixed the issue. Thanks

[2019-07-02 20:02] #3705 closed

[2019-07-02 20:05] AviraMatti commented on #3716
Thanks a lot nopnop2002....it seems it was path problem...I had errors in paths. System generate now right flashing files.
I use Minicom for /dev/ttyUSB0 setup and it looks like it locks that port....don't find anymore when connect ESP32 development board to it. This is quite different issue and I have to check it next...

[2019-07-02 20:51] anurag-kar commented on #3727
Hi @carlessole

I believe pos

[2019-07-02 21:29] kvbulusu commented on #3722
Yes...Below is the code snippet:
	i2c_cmd_handle_t cmd = i2c_cmd_link_create();
	i2c_master_start(cmd);
	i2c_master_write_byte(cmd, (OPT_ADDRESS << 1) | I2C_MASTER_WRITE, 1 );
	i2c_master_write_byte(cmd, reg, 1);
	i2c_master_stop(cmd);
	i2c_master_cmd_begin(I2C_PORT_NUM , cmd, 1000/portTICK_PERIOD_MS);
	i2c_cmd_link_delete(cmd);

[2019-07-02 23:40] liuzfesp commented on #3726
@no1seman, it's our bug, we will look into it. Please @zhangyanjiaoesp take a look at this issue.

[2019-07-02 23:40] xanthome commented on #3545
Thanks, I verified I had those changes already.

I was using esp-idf-tools-setup-1.2.exe but upgrading to esp-idf-tools-setup-2.0.exe resolved the menuconfig issue for me.

[2019-07-02 23:46] detly commented on #3714
@mishafarms It seems like we're working with similar features. I'm totally unable to get the channel ordering/pattern table working though. If you have a few minutes, do you think you could build and run the [project here](https://gitlab.com/detly/i2s_test) and see if you get the same bug I do? It would be a huge help just to have another data point for this.

[2019-07-03 00:41] renzbagaporo commented on #3608
Hi @f00bard , that part of the docs is outdated, will fix. `main` should be treated like any other component, with its own CMakeLists.txt.

[2019-07-03 01:32] Alvin1Zhang commented on #3716
@AviraMatti Thanks for reporting the issue. Feel free to reopen if your issue happens again. Thanks.

[2019-07-03 01:32] #3716 closed

[2019-07-03 01:49] ginkgm commented on #3699
@imliubo you are welcome :)

[2019-07-03 01:49] #3699 closed

[2019-07-03 03:04] negativekelvin commented on #3724
https://github.com/RT-Thread/rt-thread/issues/1610

[2019-07-03 03:46] suda-morris commented on #3726
Sorry, since we have moved the wpa_supplicant to the idf, and updated the `esp_wifi_init`, so the `eth2ap` won't work on master now. We're fixing this bug these days, hope will push to github ASAP.

For now, you can hack the issue by remove [Line102~105](https://github.com/espressif/esp-idf/blame/master/components/esp_wifi/src/wifi_init.c#L102) and change [this line](https://github.com/espressif/e

[2019-07-03 04:20] nopnop2002 commented on #3723
Hello.
When you fixed README.md, please close this issues.

[2019-07-03 06:34] liuzfesp commented on #3725
HI @enricop, how about commit IDF 39a5fbd?

[2019-07-03 06:58] enricop commented on #3725
== AP Configuration ==
Protocol:	Wi-Fi 5 (802.11ac)
Security:	WPA2-Personal
Band:	5 GHz
Channel:	36
with DHCP

sorry, I can't understand what your commit is about.

[2019-07-03 07:03] projectgus commented on #2146
@jmattsson Can do. GitHub issue will be updated when the backport commit lands.

[2019-07-03 07:25] blueMoodBHD commented on #3719
Hi, could you please provide more informations,
    1. The commit id of `esp-idf`.
    2. What is the other BT (SPP) device?
    3. How did you use the `bt_spp_initiator` example? Just changed the `remote_device_name`, or changed something else, either?

[2019-07-03 07:39] blueMoodBHD commented on #3691
Hi @kvbulusu, This have been fixed, refer to commit 45364fe54ea97807f2ffdcbf99129d6870292454

[2019-07-03 07:39] liuzfesp commented on #3725
@enricop, I guess the the band of AP is 2.4G because ESP32 doesn't support 5G yet, right? BTW, what's the brand of the AP? I suspect this issue only exists on some specific APs.

The commit 39a5fbd is the commit before c139683, because I want to know whether this issue is introduced by c139683.

[2019-07-03 07:40] blueMoodBHD commented on #3691
Could you please update and test. And close the issue is there is no problem.

[2019-07-03 07:49] carlessole commented on #3727
Thanks @anurag-kar.
And regarding to the "multipart/form-data" I do it on purpose because is the way that an HTML form will submit the file, right?

Sending just the binary file is ok, and it is easy to parse because body just contains the file content:
![imagen](https://user-images.githubusercontent.com/46353439/60573249-95b75580-9d77-11e9-81ba-fa9045102ba1.png)

But I wanted to know how to parse

[2019-07-03 07:56] anurag-kar commented on #3727
@carlessole Glad that it works for you.

That's right. We do have plans to be able to support  "multipart/form-data" and "chunked" in the future, though presently it's not high priority.

I am going to close this issue now. If the need arises, feel free to reopen.

[2019-07-03 07:56] #3727 closed

[2019-07-03 08:01] enricop commented on #3725
With the previous commit 39a5fbdfeebd1826f7be3928bd23447a15c260f1 it works with the same AP.

==== DEBUG LOGS ====
I (0) cpu_start: App cpu up.
I (375) heap_init: Initializing. RAM available for dynamic allocation:
I (382) heap_init: At 3FFAE6E0 len 00001920 (6 KiB): DRAM
I (388) heap_init: At 3FFB9010 len 00026FF0 (155 KiB): DRAM
I (395) heap_init: At 3FFE0440 len 00003AE0 (14 KiB): D/IRAM
I (401

[2019-07-03 08:03] blueMoodBHD commented on #3171
Hi, sorry for later reply,  this have been merged, refer to commit: da13efc17a73e773d8da6cd95c076fadabefc2cc. Please update and test again, thanks.

[2019-07-03 10:17] dobairoland commented on #3622
I'm closing this for lack of activity.

[2019-07-03 10:17] #3622 closed

[2019-07-03 10:17] avanbremen commented on #3545
I just grabbed the latest esp-idf (v4.0-dev-1095-g16014079f) and can confirm the same issue as reported by @xanthome when running idf.py menuconfig.

`C:/Users/Arjan/esp/esp-idf/components/bt/Kconfig:386: undefined variable "$IDF_PATH/components/bt/host/bluedroid/Kconfig.in"`

When manually replacing `$IDF_PATH` on lines 386, 391 and 404 in Kconfig with the actual IDF_PATH, idf.py menuconfig runs

[2019-07-03 10:26] ROYMURLI commented on #1908
Yes, I am able to send file via BT classic.

[2019-07-03 10:39] enricop commented on #3725
hi @liuzfesp the AP has both 2.4G and 5G and we were correctly associating with w-room and w-rover devices with it before latest changes. The AP specs I've put before was taken from my laptop connected to the same AP. sorry for that. I don't have access to the AP directly.

[2019-07-03 10:45] dobairoland commented on #3545
`menuconfig` fails because `mconf-idf` cannot handle the `source "$IDF_PATH...` line in the Kconfig file. `mconf-idf` for Windows is in ESP IDF Tools installer (https://docs.espressif.com/projects/esp-idf/en/latest/get-started-cmake/windows-setup.html#esp-idf-tools-installer).  So please update it.

Sorry for the inconvenience.

[2019-07-03 11:23] laverdanny commented on #1908
and does it work to update OTA ?

[2019-07-03 11:33] nopnop2002 opened #3728 "esp-idf/examples/ethernet/eth2ap become watchdog fail. (IDFGH-1458)"
## Environment

	freeRTOS version:V8.2.0
	NEWLIB version:2.2.0
	lwIP version:2-0-3-255
	ESP-IDF version:v4.0-dev-1095-g16014079f

## Problem Description
I updated esp-idf from v4.0-dev-1018-gbbafd5066-dirty to v4.0-dev-1095-g16014079f.
esp-idf/examples/ethernet/eth2ap become watchdog fail.
Before update,it's worked fine.

![error](https://user-images.githubusercontent.com/6020549/60588351-bd3b0c00

[2019-07-03 11:56] avanbremen commented on #3545
@dobairoland Thank you very much for your reply. I just removed ESP IDF Tools v1.2 and tried installing v2.0. Unfortunately the installation fails with a PermissionError (see log below). Also, I noticed that when changing the install directory during the setup process, the installer will still copy data to the proposed location (`C:\Users\<user>\.espressif`). Do you know of anything I can try to r

[2019-07-03 12:03] igrr commented on #3545
When the installer fails, does it offer to view the installation log? If yes, could you please attach the complete log here?

[2019-07-03 12:04] avanbremen commented on #3545
@dobairoland I tried running the installer with different Python versions, 3.6 (32-bit), 3.7 (64-bit) and 2.7. All failed. I copied the traceback of the most recent attempt below. "Toegang geweigerd" means "Access denied". I run the installer in administrator mode.

[code]

[2019-07-03 12:05] ROYMURLI commented on #1908
Yes, It is working perfectly fine.

[2019-07-03 12:13] dobairoland commented on #3568
Thank you @devanlai for letting us know about this problem and thank you @ulfalizer for the suggestion. The fix will be added soon.

[2019-07-03 12:20] no1seman opened #3729 "[newlib] gettimeofday/settimeofday doesn't return/use actual timezone (IDFGH-1459)"
## Environment

- Development Kit:  ESP32-Wrover-Kit
- Kit version (for WroverKit/PicoKit/DevKitC): v4.1
- Module or chip used: ESP32-WROVER-B
- IDF version: v4.0-dev-1095-g16014079f
- Build System: CMake
- Compiler version: xtensa-esp32-elf-gcc (crosstool-NG esp32-2019r1) 8.2.0
- Operating System: Linux
- Power Supply:  USB|external 5V&Battery

## Problem Description
1. gettimeofday() doesn't ret

[2019-07-03 12:46] MarWoz442 commented on #3719
Hi,
Thank you for your interest and replay.
add.1 286202caa
add.2 The device uses BT module mnf by Panasonic mod.no ENW89841A3KF, Bluetooth 2.1 + EDR with Secure Simple Paring
add.3 Yes, at first I changed only ```remote_device_name```

[2019-07-03 12:55] tng99 opened #3730 "make flash failed for esp32 with esp32-who (GIT) & esp-idf 3.2.2 (IDFGH-1460)"
I need a new toolchain for ESP-WHO, which is compatible with the new MSYS2.org  (msys2-x86_64-20190524.exe) toolchain. Please help (more info below)

## Environment

- Development Kit:      ESP32-DevKitC
- Kit version (for WroverKit/PicoKit/DevKitC): ?
- Module or chip used:  ESP32-WROOM-32  (esp32-cam)
- IDF version (run ``git describe --tags`` to find it):
    // v3.2.2
- Build System:         M

[2019-07-03 12:56] avanbremen commented on #3545
@dobairoland I just ran CCleaner to cleanup the registry. The installation now succeeded, but when I try to run idf.py menuconfig I get the following error. Do you know what should be added to PATH? Thanks.

[code]

[2019-07-03 13:03] ArTyGill opened #3731 "Installing IDF_TOOL_SETUP Cyrillic in the file path. (IDFGH-1461)"
When trying to configure vitualenv, a path mismatch error occurs for UTF-8

CMD.exe output

[code]

[2019-07-03 13:09] ArTyGill commented on #3731
How can I fix the problem locally, or should I wait for bug fixes?

As you can see, the problem is that the username is given by the Cyrillic and this can only be corrected by major changes to the system.

[code]

[2019-07-03 13:17] igrr commented on #3545
@avanbremen Interesting, thanks. If the issue related to os.rename shows up again, please let us know and will try to find the cause.

Can you please run `echo %PATH%` in the command line where you receive the most recent error message? Also, is this the cmd.exe window opened from the Start menu shortcut which the installer has created, or some other cmd.exe window? In the latter case, did you run

[2019-07-03 13:31] avanbremen commented on #3545
@igrr Thanks for your reply. I did not run export.bat in IDF_PATH before trying to build the project, thanks for the tip (I guess the installer normally runs export.bat, correct?). Instead I tried rebuilding the System Path variable based on the errors I received when building, which resulted in the following additions:

`;C:\Users\Arjan\.espressif\tools\ninja\1.9.0;C:\Users\Arjan\.espressif\tools

[2019-07-03 13:34] liuzfesp commented on #3725
@enricop I just can't reproduce this issue with my APs, could you let me know your AP type?

[2019-07-03 13:49] ArTyGill opened #3732 "Several bootloaders on esp32 and update bootloaders. (IDFGH-1462)"
I can create custom bootloader for load two secondary bootloaders(to choose), for OTA1 and OTA2?

I would like the bootloaders to be updated along with the app.

[2019-07-03 13:52] Alvin1Zhang commented on #3691
@kvbulusu Would you please help verify the fix and help provide feedback? Thanks.

[2019-07-03 13:56] Alvin1Zhang commented on #3171
@wgcod Thanks for reporting the issue, would you please help verify on the commit: da13efc, and help provide feedback? Thanks.

[2019-07-03 14:00] suda-morris commented on #3728
Same issue to [3726](https://github.com/espressif/esp-idf/issues/3726)

[2019-07-03 14:00] Alvin1Zhang commented on #3732
Thanks for reporting the issue. Would you please help provide more details as suggested in the [issue template](https://github.com/espressif/esp-idf/blob/master/docs/issue_template.md)? Thanks.

[2019-07-03 14:08] tutuwin opened #3733 "Title: Pin interrupts are constantly triggered (IDFGH-1463)"
----------------------------- Delete below -----------------------------

Text: Set a pin bit falling edge interrupt, it will trigger continuously after one trigger, can't stop, but the pin voltage measurement has returned to high level, using pin io26.

[2019-07-03 14:09] enricop commented on #3725
Hi @liuzfesp : I was able to connect to another AP using the new code. I don't know why using the old code it works also with the first AP.
The two APs are the same physical device. The problem I see with the old code and the first AP is an association problem, so the part handled by the wpa_supplicant. It is not a DHCP problem.

[2019-07-03 14:10] Alvin1Zhang commented on #3733
Thanks for reporting the issue. Would you please help provide more details as suggested in the [issue template](https://github.com/espressif/esp-idf/blob/master/docs/issue_template.md)? Thanks.

[2019-07-03 14:20] igrr commented on #3545
I would not recommend adding the tools to system PATH variable, as different IDF versions will require different versions of tools. `export.bat` is supposed to solve this, giving you the correct paths depending on the IDF version. You can also use the "IDF Command Prompt (cmd.exe)" shortcut which the installer creates in the Start Menu. This will open cmd.exe and run the equivalent of export.bat t

[2019-07-03 14:23] igrr commented on #3731
Unfortunately this seems to be a limitation of virtualenv. While I couldn't reproduce the exact error you have posted, I did run into another one described here: https://github.com/pypa/virtualenv/issues/1204. This happens even without IDF, just by doing `virtualenv.exe <dirname>` in a directory like `C:\ascii-name`, as long as user name has non-ASCII characters in it. I will look for some workaro

[2019-07-03 14:26] tutuwin commented on #3733
我使用xpt2046的irq引脚作为中断引脚，当有下降沿时会触发中断事件，之后我用事件组传出此事件，在另一个任务等待此事件然后读取坐标，结果时触发一次后，此引脚持续中断。请问gpio中断需要清除标志位吗？如果有怎么清除

          I use the IRQ pin of xpt2046 as the interrupt pin. When there is a drop edge, the interrupt event will be triggered. Then I use the event group to send out the event. I wait for the event in another task and read the coordinates. When the result is triggered once, the pin will c

[2019-07-03 14:46] avanbremen commented on #3545
@igrr Thanks for your reply. After you suggested using export.bat I removed the manual additions from System Path.

Chaning `add_definitions` to `add_compile_options` did the trick. Apparently `add_definitions` has been superseded by alternatives ([link](https://cmake.org/cmake/help/v3.15/command/add_definitions.html)).

Thanks for your help.

[2019-07-03 16:39] negativekelvin commented on #3733
Did you use gpio_install_isr_service or what code are you using?

[2019-07-03 16:43] negativekelvin commented on #3732
You could possibly create 1 custom 2nd stage bootloader and two custom 3rd stage bootloaders, but it is not supported.  Why can't you just put the custom code in the app?  What does your bootloader do?

[2019-07-03 16:56] negativekelvin commented on #3729
https://www.gnu.org/software/libc/manual/html_node/High_002dResolution-Calendar.html

[2019-07-03 16:58] no1seman commented on #3729
Ok, thanks for answer

[2019-07-03 16:58] #3729 closed

[2019-07-03 17:35] kvbulusu commented on #3691
@blueMoodBHD @Alvin1Zhang  ..Yes that error is gone and I'm able to compile.. I see other errors now. will open new issues. But just FYI.

esp-idf/components/bt/common/osi/config.c:446:49: error: '%d' directive output may be truncated writing between 1 and 10 bytes into a region of size 7 [-Werror=format-truncation=]
             snprintf(keyname, keyname_bufsz, "%s%d", CONFIG_KEY, i);

[2019-07-03 17:35] #3691 closed

[2019-07-03 17:38] kvbulusu opened #3734 "Compile errors in bt/common/osi (config/alaram) with latest dev/master branch (IDFGH-1464)"
Environment
Development Kit: ESP32-LyraT
Module or chip used: ESP32-WROOM-32
IDF version (run git describe --tags to find it): v4.0-dev-1095-g16014079f
Build System: Make
Compiler version (run xtensa-esp32-elf-gcc --version to find it): xtensa-esp32-elf-gcc (crosstool-NG esp32-2019r1) 8.2.0
Operating System: Linux
Power Supply: USB

Problem Description:
Error while compiling.

esp-idf/components/b

[2019-07-03 18:13] ArTyGill commented on #3732
I want update esp-idf with ota.

[2019-07-03 18:37] negativekelvin commented on #3732
But why do you want to update the bootloader and not just the app?

[2019-07-03 19:10] ArTyGill commented on #3732
I want to update with ota the bootloader and the application together

[2019-07-03 19:27] ArTyGill commented on #3731
@iggr the path must be utf-8, there are no Russian characters in the ascii table .

[2019-07-03 19:51] LtMerlin opened #3735 "flash read err, 1000 on Sparkfun Thing Plus (IDFGH-1465)"
Hi,

I flashed a brand new [Sparkfun ESP32 Thing Plus](https://www.sparkfun.com/products/14689) with a recent MicroPython firmware binary (from https://micropython.org/download/#esp32). (first erased properly and then flashing with the esptool as described below)

[code]

[code]

Everything works fine except at startup I see the error message "**flash read err, 1000
ets_main.c 371**" like you can

[2019-07-03 19:52] negativekelvin commented on #3732
But what is your reason?

[2019-07-03 20:00] chegewara commented on #3735
Is it correct that you are using twice the same command with `erase_flash`, which you pasted 2 times?
[code]
Second time should be only `flash` not `erase_flash`.

[2019-07-03 20:23] #3723 closed

[2019-07-03 21:16] ArTyGill commented on #3731
@igrr I managed to solve the problem, but I had to change the file virtualenv.py (Change the encoding to cp2112).
I did not understand why the system does not read utf-8

[2019-07-03 22:29] ArTyGill commented on #3732
@negativekelvin New features and stability enhancement, bug fixes, OTA updates.

[2019-07-03 22:31] ArTyGill commented on #3732
and do not think about what esp-idf bootloader is installed before the OTA.

[2019-07-03 22:36] ArTyGill commented on #3731
When trying to change the path in utf-8, other errors occur.  for example, there is no pip module installed.

[2019-07-03 22:51] nopnop2002 commented on #3728
Hello.
I'm waiting your fix.

[2019-07-03 23:24] negativekelvin commented on #3732
Bootloader is designed to be minimal, backwards compatible, and never updated.  So unless you need to do something special, it's probably a waste of time.  I don't think there will be an official support for it, but try it yourself if you want.  You may as well make partition table upgradable too.

[2019-07-04 01:18] tutuwin commented on #3733
code:void irq_gpio_init()
{
    gpio_config_t io_conf;

    //disable interrupt

    io_conf.intr_type = GPIO_PIN_INTR_DISABLE;

    //set as output mode

    io_conf.mode = GPIO_MODE_INPUT;

    //bit mask of the pins that you want to set,e.g.GPIO

    io_conf.pin_bit_mask = (1<<pen_irq);

    //disable pull-down mode

    io_conf.pull_down_en = 0;

    //enable pull-up mode

    io_conf.pull_up_

[2019-07-04 02:44] liuzfesp commented on #3725
@enricop we passed WiFi association regression test before merge commit c139683. If the ESP32 can't associate the 1st AP, it should be related to wpa_supplicant. I'm going to replicate this issue myself, but I just can't reproduce it. It would be appreciate if you can provide the type of your AP and I can do the test with the same AP as yours.

[2019-07-04 02:50] kmmaran commented on #1422
Hi sjoteppagol, I understand you close this issue now, but have you find a way to perform multiple gpio initialisation, or one after another.

[2019-07-04 05:19] wgcod commented on #3171
I've been using it for a few days, now with mSBC and PLC, the sound quality has been greatly improved, and no problem has been found yet.Thanks.

[2019-07-04 05:47] xiruilin commented on #3725
I got the same issue.
With commit [c139683](https://github.com/espressif/esp-idf/commit/c1396830243b4c8fbea255a04d8a04ed2cb9f3d7), test three APs:

1st AP, TP-LINK wr800N, it's good, log below:

I (1807) WIFI_SERV: Connect to stored Wi-Fi SSID:********
I (1901) wifi: mode : sta (b4:e6:2d:a4:55:01)
I (1907) WIFI_SERV: WIFI_SERV_CMD_CONNECT
W (1911) WIFI_SERV: STATE type:1, pdata:0x0, len:0

I (2031

[2019-07-04 06:55] ArTyGill commented on #3732
Can I run the standard esp-idf bootloader using my bootloader?

[2019-07-04 08:27] blueMoodBHD commented on #3734
Hi, @kvbulusu,  Thanks for reporting this.
[code]
This one have been fixed, refer to commit a1ae89f8e2b5b85a3371fff4cd2f7a7acc11cfc8

[code]
And, I will fix this one, soon.

[2019-07-04 09:07] mahavirj commented on #2538
Fixed with https://github.com/espressif/esp-idf/commit/4e25f20c829b32d4cff022fe8c76fc4073672380 (Reflected at https://docs.espressif.com/projects/esp-idf/en/release-v3.1/get-started-cmake/index.html, will also be part of `v3.1.5` documentation with next release)

[2019-07-04 09:07] #2538 closed

[2019-07-04 09:10] mahavirj commented on #3448
@sshwarts I will go ahead and close the issue (seems to be resolved at your end).

[2019-07-04 09:10] #3448 closed

[2019-07-04 09:52] tomseago commented on #3726
This change to the wpa_supplicant, or some similar change, seems to have also broken the `examples/wifi/getting_started/station` example as well.

[2019-07-04 10:00] JosuGZ commented on #303
I have found that adding the build folder *after* the ESP-IDF folder on the include path solves the problems with `portTICK_PERIOD_MS` etc:

[code]

Relevant lines:

- `${workspaceRoot}/build/**`
- `${env:IDF_PATH}/components/**`

[2019-07-04 10:26] JosuGZ commented on #303
"/Users/albert/esp/esp-idf/components" A template wich just works on Albert's computer ;)

[2019-07-04 10:44] tomseago commented on #3726
To be more specific about my last comment, it appears that a board which was previously working and had been flashed with a build of the station example from an IDF build prior to the inclusion of the supplicant move will no longer function with a build made after the supplicant move unless a nvs_flash_erase is done at say line 96 of station_example_main.c - that is, before the nvs_flash_init call

[2019-07-04 11:02] tomseago commented on #3715
@suda-morris I can confirm everything @no1seman said. I'm running into the same bug and would love for the fix to be committed soon. Your suggestion about setting ChecksumInsertControl to EMAC_DMATXDESC_CHECKSUM_BYPASS fixes the issue for me as well. Does it help if I just create a PR for this directly?

[2019-07-04 11:08] suda-morris commented on #3715
Thanks @tomseago :+1:

The fix is will be pushed to github in the next few days.

[2019-07-04 12:06] sagb2015 commented on #3726
ESP_ERR_NVS_NEW_VERSION_FOUND reason serves the purpose of indicating incompatibility between NVS format found the flash and NVS format expected by the application (if compiled with older IDF version).  If you are testing with builds with just commit difference, there has not been any changes in NVS format. The cause for this might be changes in WiFi attributes stored on the NVS.

[2019-07-04 12:09] OPyshkin commented on #2262
Any news about whitelisting? I saw you restructured bluetooth examples on your repo, maybe there are any updates?

[2019-07-04 14:10] paloky opened #3736 "esp_http_client_open() doesn't send POST Content (IDFGH-1467)"
I try to send a HTTP post data using the examples of "examples/esp_http_client.c", but doesn't work.
The "esp_http_client_open", only send the Header of HTML, but not the Content.
I using this code.

[code]

I try putting the Content Size in the "esp_http_client_open(client, strlen(post_data)))" function, but doesn't work too.

The response result of this code was:
[code]

Using https://apitester.

[2019-07-04 14:58] jamieparkinson opened #3737 "export.sh fails for custom tools path (IDFGH-1468)"
## Problem Description
Using the new install scripts with IDF_TOOLS_PATH to install the toolchain to a custom location, sourcing `export.sh` fails with errors of the type `tool x has no installed versions`. This is due to `idf_tools.py` being run in a subshell which doesn't have access to the parent envvars.

### Expected Behavior
Setting the same `IDF_TOOLS_PATH` for `install.sh` and `export.sh`

[2019-07-04 14:58] enricop commented on #3725
the model of the AP is : Ubiquity UniFi UAP-AC-LR

[2019-07-04 15:30] robcim opened #3739 "ESP32-BLE+ETH+OTA (IDFGH-1470)"
Hi all,
I'm Roberto. I use a ESP32 with BLE and ETH communication. I add the OTA mode (WebUpdate) but he's not work. I have this error in console: [E][WiFiClient.cpp:338] write(): 11

Anyone can help me please.
Thank you

[2019-07-04 16:00] negativekelvin commented on #3739
WebUpdate and WiFiClient are not part of esp-idf, they are arduino-esp32 code, you need to ask for support here

https://esp32.com/viewforum.php?f=19
https://github.com/espressif/arduino-esp32

[2019-07-04 16:08] LtMerlin commented on #3735
Oops pasted twice indeed. Mistake while posting this. The second command I perform is:

esptool.py --chip esp32 --port /dev/tty.SLAB_USBtoUART --baud 460800 write_flash -z --flash_freq 40m --flash_mode dio --flash_size=16MB 0x1000 esp32-20190529-v1.11.bin

[2019-07-04 16:23] negativekelvin commented on #3732
Yes, it would be smart to make it work that way

[2019-07-04 18:15] Ritesh236 commented on #2184
Hi @liuzfesp,

Is it compulsory to enable CONFIG_WIFI_LWIP_ALLOCATION_FROM_SPIRAM_FIRST when SPI PSRAM is enabked and wifi is also used in parallel?

If that is compulsory then is there any meaning to give configurable option into menuconfig?

Please clear out it so that we can use PSRAM along with WiFi together.

[2019-07-04 19:19] LtMerlin commented on #3735
Oops pasted it twice indeed. Mistake while posting this. The second command I perform is:

`esptool.py --chip esp32 --port /dev/tty.SLAB_USBtoUART --baud 460800 write_flash -z --flash_freq 40m --flash_mode dio --flash_size=16MB 0x1000 esp32-20190529-v1.11.bin`

I updated the original post with this.

[2019-07-04 19:23] chegewara commented on #3735
Hi,
then its typo, again, or error. You cant flash app binary in address 0x1000, its reserved for bootloader.
Im guessing it should be 0x10000, but to confirm that we need your partition table csv.

[2019-07-04 19:32] LtMerlin commented on #3735
@chegewara I am new to the ESP32 so I followed the guide at [https://docs.micropython.org/en/latest/esp32/tutorial/intro.html#getting-the-firmware](https://docs.micropython.org/en/latest/esp32/tutorial/intro.html#getting-the-firmware) to get started and there is no partition table mentioned. Can you point me into the right direction to get Micropython on this board and where to start on writing th

[2019-07-04 19:37] chegewara commented on #3735
Ok, then all is ok. Micropython is running:
[code]

[2019-07-04 19:41] LtMerlin commented on #3735
Yes Micropython is running, but is says:
[code]
And the Micropython filesystem only has 2MB available, while on this board there should be 16MB...

[2019-07-04 19:56] ArTyGill commented on #3731
Led the string that swears virtualenv.

[code]

[2019-07-04 21:57] ulfalizer commented on #3568
You guys should update Kconfiglib someday by the way. Tons of improvements and optimizations, and probably no API changes that'd affect you (there's [a list](https://github.com/ulfalizer/kconfiglib#installation-with-pip) in the README).

Would help avoid user issues [like this one](https://github.com/aws/amazon-freertos/issues/802#issuecomment-504336802) too.

Sorry for nagging.~

[2019-07-04 22:03] ArTyGill commented on #3731
@igrr
I understood what the problem was.
In windows, paths are encoded in UTF-16 and windows-1251 (according to data from wikipedia).
In virtualenv.py, decoding by encoding occurs first using the file encoding (UTF-8), and then failing, the file system encoding must be windows-1251, but sys.getfilesystemencoding() returns utf-8 again.

If we replace line 933 in virtualenv.py  with an exception (li

[2019-07-04 22:09] axbusch opened #3740 "install.bat & export.bat fail (IDFGH-1471)"
## Environment

- Development Kit:      [ESP32-Wrover-Kit]
- Module or chip used:  [ESP32-WROOM-32]
- IDF version  v4.0-dev-1136-g28f1cdf5e
- Build System:         [CMake]
- Compiler version
C:\Users\funky\esp\tools>idf_tools.py list
* xtensa-esp32-elf: Toolchain for Xtensa (ESP32) based on GCC
  - esp32-2019r1-8.2.0 (recommended, installed)
* esp32ulp-elf: Toolchain for ESP32 ULP coprocessor
  -

[2019-07-05 00:38] BernardXiong commented on #3724
esp这边修改了gcc toolchains，导致都不是标准的gcc语法，太不标准了。rt-thread最初有过一个版本，但是跟得太累

[2019-07-05 00:39] Alvin1Zhang commented on #3739
@negativekelvin Thanks for the notes. @robcim Please help raise an issue in https://github.com/espressif/arduino-esp32 or post a topic in https://esp32.com/viewforum.php?f=19 Thanks.

[2019-07-05 00:39] #3739 closed

[2019-07-05 02:49] suda-morris commented on #3724
您好，@BernardXiong
1. 请问能否告知移植 RT-Thread 时遇到了哪些困难，需要我们提供哪些支持？

2. ESP32 和ARM Cortex M系列的芯片确实有差别（比如支持多种存储器，包括IRAM、Flash等等）

3. ESP-IDF最新使用的gcc8工具链已经集成了libc的代码（之前gcc5版本还需要依赖IDF中的newlib组件），这或许可以减轻移植esp32到RT-Thread的困难

[2019-07-05 03:46] miaoshifanren commented on #712
I think you should check your IDF_PATH, I had the same problems before, but I solve them with checking my IDF_PATH.

[2019-07-05 05:40] burkulesomesh43 commented on #2184
Hi @liuzfesp and @Ritesh236,

I have enabled this option but still getting issue. I am using esp-idf 3.2 stable version. is there some another settings?

[2019-07-05 06:26] Alvin1Zhang commented on #3174
Thanks for reporting the issue. Feel free to reopen it if your issue still exists. Thanks.

[2019-07-05 06:26] #3174 closed

[2019-07-05 06:28] Alvin1Zhang commented on #3353
@marjon-halter Thanks for reporting the issue, feel free to reopen the issue if it still exists. Thanks.

[2019-07-05 06:28] #3353 closed

[2019-07-05 06:29] Weijian-Espressif commented on #3217
Hi, we have support ANCS , please update to the latest IDF and try, thanks.

[2019-07-05 06:29] Alvin1Zhang commented on #3257
Thanks for reporting the issue, feel free to reopen the issue if it still exists. Thanks. @tbitowt

[2019-07-05 06:29] #3257 closed

[2019-07-05 06:47] Alvin1Zhang commented on #3188
@Webunity Thanks for reporting the issue, feel free to reopen the issue if it still exists. Thanks.

[2019-07-05 06:47] #3188 closed

[2019-07-05 06:56] Alvin1Zhang commented on #3185
@gilhossi Thanks for reporting the issue, feel free to reopen the issue if it still exists. Thanks.

[2019-07-05 06:56] #3185 closed

[2019-07-05 09:41] BernardXiong commented on #3724
我的仓库中有个版本：

https://github.com/BernardXiong/rtthread-esp-idf

可以clone下来，以scons + 你们原来工具链的方式试试（Windows/Linux环境都可以）。整体系统，组件，wifi网络都是可以正常工作的。然后你们可以换换不同的工具链（代码不改动），然后就编译错误了

[2019-07-05 10:44] PerMalmberg commented on #3624
Tried with the latest IDF (original post updated), and the issue remains.

[2019-07-05 12:10] tng99 commented on #3730
please close the case, the issue can be read here (the post from David, 5 July 2019) , an old toolchain inside your esp-who, I need to git clone esp-idf as well.

https://robotzero.one/esp32-camera-module   ; step by step by robotzero

Thanks

[2019-07-05 12:10] tng99 commented on #3730
see above, the compile is ok now

[2019-07-05 12:10] #3730 closed

[2019-07-05 12:32] avanbremen opened #3741 "undefined reference on custom components after updating esp-idf and tools (IDFGH-1472)"
## Environment

- Development Kit: **none**
- Module or chip used: **ESP32-WROOM-32D**
- IDF version: **v4.0-dev-1136-g28f1cdf5e**
- Build System: **CMake**
- Compiler version: **xtensa-esp32-elf-gcc (crosstool-NG esp32-2019r1) 8.2.0**
- Operating System: **Windows**
- Power Supply: **USB**

## Problem Description

After updating esp-idf to the latest version and ESP-IDF Tools from version 1.2 to

[2019-07-05 13:06] sticilface commented on #1650
Can I ask where you get this.  I'm getting cannot use Version12, expected 1.  if i disable version checking in espcoredump.py I get the error referring to  growing up stacks not supported. I have a coredump but can't analyse it.  any advice?

[2019-07-05 13:14] ArTyGill opened #3742 "The system is missing python27.dll (IDFGH-1473)"
That idf.py worked every time it is necessary to launch export.bat.
Is this some kind of bug or should it be?
If you do not run export.bat, the error of missing python27.dll gets out.

[2019-07-05 13:19] PerMalmberg commented on #3741
I believe you're looking for [idf_build_component(component_dir)](https://docs.espressif.com/projects/esp-idf/en/latest/api-guides/build-system-cmake.html?highlight=idf_build_component#idf-build-commands).

[2019-07-05 14:30] piltom commented on #3587
Is there any news?

[2019-07-05 14:51] renzbagaporo commented on #3741
Could also be that some `REQUIRES` or `PRIV_REQUIRES` are missing from those components.

[2019-07-05 15:12] sagb2015 commented on #3726
This was indeed a change in WiFi attribute interpretation (PMK to be specific) due to changed code flow. As a workaround, you can make the if block present at https://github.com/espressif/esp-idf/blob/master/components/wpa_supplicant/src/rsn_supp/wpa.c#L1778 unconditional and then you could seamlessly switch between the commits.

[2019-07-05 15:20] jkockx opened #3743 "Provisioning over advertising channel (IDFGH-1474)"
I'm using the example project esp-idf/examples/bluetooth/esp_ble_mesh/ble_mesh_provisioner/:
I didn't succeed in provisioning over PB-ADV only by changing the initiailization parameters. Backtracing my problem, I started thinking this is even not possible at all. Though, as a certified ble mesh api such functionality will probably be possible. I've probably missed something trying to understand th

[2019-07-05 15:27] sagb2015 commented on #3725
@enricop : Please refer to the last few comments in the [issue](https://github.com/espressif/esp-idf/issues/3726). Can you try with the same AP with which it was failing? It should work fine afterwards.

[2019-07-05 15:37] ArTyGill commented on #3742
Removed the python 27 and all its references in the system, installed the python 3.7. So far everything seems to be working.

[2019-07-05 15:37] #3742 closed

[2019-07-05 15:37] avanbremen commented on #3741
@PerMalmberg Thank you very much for your reply. From the documentation sections [Optional Project Variables](https://docs.espressif.com/projects/esp-idf/en/latest/api-guides/build-system-cmake.html?highlight=idf_build_component#optional-project-variables) and [Renaming main component](https://docs.espressif.com/projects/esp-idf/en/latest/api-guides/build-system-cmake.html?highlight=idf_build_comp

[2019-07-05 15:43] ArTyGill opened #3744 "The path to СMake was not automatically added to the environment variables. (IDFGH-1475)"
When installing esp-idf-tools-setup-2.0.exe, the path to it is not added to the environment in the ".espressif" folder.

I had to add to the manual.
Same problem with IDF_PATH.

[2019-07-05 16:25] ArTyGill opened #3745 "idf.py build displays the help menu. (IDFGH-1476)"
Any command idf.py menuconfig, all, flash, displays help menu until you export .bin in each CMD session.

[2019-07-05 16:38] PerMalmberg commented on #3741
@avanbremen I'm using idf_build_component, [see here](https://github.com/PerMalmberg/Smooth/blob/master/lib/smooth/idf_utils.cmake#L41). It was introduced fairly recently, at least as part of the v4-branch. You need to `include($ENV{IDF_PATH}/tools/cmake/idf.cmake)`.

[2019-07-05 16:38] igrr commented on #3744
Hi @ArTyGill, can you please post the output you get when running `export.bat` from esp-idf directory in a new cmd.exe window? And also show what `echo %PATH%` prints afterwards. Thanks.

[2019-07-05 18:30] ArTyGill commented on #3744
1-st terminal

[code]
2-nd Terminal

[code]

[2019-07-05 19:27] KaeLL opened #3746 "Disable EFUSE option causing compiler error (IDFGH-1477)"
If you enable `CONFIG_ESP32_DISABLE_BASIC_ROM_CONSOLE`, on the current state of the master branch, you get
[code]

One `#include` away from paradise :P

[2019-07-05 19:56] mastertheknife commented on #3215
Hi,
This is also the case with ESP8266, on the latest SDK (RTOS v3.2 - released 22 days ago)
As a temporary workaround for my project, i copied these changes into esp_mqtt_client_stop() and they work well.
I can confirm that this patch (and the subsequent one to only disconnect if connected: https://github.com/espressif/esp-mqtt/pull/118) work on the ESP8266:

[code]

[2019-07-05 20:23] #3568 closed

[2019-07-05 20:23] #3531 closed

[2019-07-05 20:23] #3543 closed

[2019-07-05 20:23] #3711 closed

[2019-07-05 20:23] #3715 closed

[2019-07-05 20:25] benpeoples opened #3747 "lwip icmp ping checksum issue - unsure of exact cause. (IDFGH-1478)"
## Environment

- Development Kit:      none
- Kit version (for WroverKit/PicoKit/DevKitC): n/a
- Module or chip used:  ESP32-WROOM-32
- IDF version (run ``git describe --tags`` to find it):
    v4.0-dev-1136-g28f1cdf5e
- Build System:         GNU Make 3.81
- Compiler version (run ``xtensa-esp32-elf-gcc --version`` to find it):
    // xtensa-esp32-elf-gcc (crosstool-NG esp32-2019r1) 8.2.0
- Operat

[2019-07-05 20:31] igrr commented on #3744
That looks correct! Do you observe any issues running `idf.py build` in the Shell where you have executed `export.bat`?

Note that `export.bat` and IDF Tools Installer v2 do not set any persistent environment variables, aside from `IDF_TOOLS_PATH`. This is intentional and allows for having multiple IDF versions installed side by side, each having correct tools versions by means of export.bat.

IDF

[2019-07-05 20:36] ArTyGill commented on #3744
Well, I figured out how to make it work with VS Code?

[2019-07-05 20:43] ArTyGill commented on #3744
@igrr
I will try to add the export.bat launch in the VS Code terminal call.

[2019-07-05 20:45] igrr commented on #3744
For VS Code, currently the easiest option is to start it from cmd.exe where paths have already been set up. Or, you can create a 2-line batch file: the first line executes export.bat, the 2nd starts VS Code. Then start VS code through this batch file.

We are also planning to release an extension for VS Code which will be aware of IDF_TOOLS_PATH installation method. Please follow esp32.com for ann

[2019-07-05 20:46] ArTyGill commented on #3745
The problem is solved after the launch of the terminal, you need to export.bat and then run idf.py.

[2019-07-05 20:46] #3745 closed

[2019-07-05 20:50] igrr commented on #3744
For those who find this issue through search, here are the sections of the getting started guide which explain export.bat and the "ESP-IDF command prompt":

https://docs.espressif.com/projects/esp-idf/en/latest/get-started-cmake/index.html#step-4-set-up-the-environment-variables

https://docs.espressif.com/projects/esp-idf/en/latest/get-started-cmake/windows-setup.html#using-the-command-prompt

[2019-07-05 21:00] ArTyGill commented on #3744
Thank you!

[2019-07-05 21:00] #3744 closed

[2019-07-05 22:38] negativekelvin commented on #3747
https://github.com/espressif/esp-idf/issues/3715

[2019-07-05 22:58] ArTyGill commented on #3732
I will try to run.

[2019-07-05 22:58] #3732 closed

[2019-07-05 23:08] renzbagaporo commented on #3741
@PerMalmberg As a clarification, `idf_build_component` is recommended for people not using the standard project (which looks like @avanbremen is), and creating a custom project like yourself. Under the hood, `EXTRA_COMPONENT_DIRS` are implemented using `idf_build_component` (some oversimplification in this statement). Should clarify this in the docs.

@avanbremen The target, in this case `esp32` i

[2019-07-06 05:26] 13824125580 opened #3748 "did the esp32 freertos smp implementation use the IPI(inter processor interrupt) mechanism? (IDFGH-1479)"
IPI usually used for inter-process communication for scheduler or ipc implementation in smp.
so did the freeRTOS smp implementation on ESP32 use the IPI mechanism?
thanks for your reply!

[2019-07-06 06:31] negativekelvin commented on #3748
https://docs.espressif.com/projects/esp-idf/en/latest/api-reference/system/ipc.html

[2019-07-06 08:46] Ritesh236 commented on #2184
Hello ESP32 SDK Developers,

Would you please help to bruklesh regarding issue which he is facing while using wifi with PARAM?

[2019-07-06 09:50] talss89 commented on #2184
Hi @burkulesomesh43 & @Ritesh236,

My guess is that this isn't a bug in ESP-IDF, and is probably related to your application code.

I am not a contributor, but this might help:

- `CONFIG_WIFI_LWIP_ALLOCATION_FROM_SPIRAM_FIRST` is not compulsory, but it is sensible if you have PSRAM installed. LWIP will then use `heap_caps_alloc(sz, MALLOC_CAP_SPIRAM)` where it can, reducing internal memory usage.

[2019-07-06 09:58] Ritesh236 commented on #2184
Thanks @talss89 for your valuable feedback.

So,  I have already checked few configurations earlier but still we will check it again and get back to you if any query regarding that.

And also,  We will create issue over ESP32 community with details for same to get any other help regarding same.

Thanks again for your valuable feedback

Regards,
Ritesh Prajapati

[2019-07-06 10:56] burkulesomesh43 commented on #2184
@talss89 Thank you for your response.
I will check it from my  side and let you know.

Regards,
Somesh Burkule

[2019-07-06 11:43] PerMalmberg commented on #3741
May I suggest sticking with a single public-facing API for adding components? Comparing `set()` vs `idf_build_component`, the latter definitely feels more modern and in-line with where CMake generally is heading, i.e. using public facing functions instead of variables (compare to the new-ish `target_*` functions)

[2019-07-06 11:48] benpeoples commented on #3747
Yep, that's the issue, thanks!

[2019-07-06 11:53] deltabeard opened #3749 "Clarification on whether 8MB PSRAM requires additional SPI Host (IDFGH-1480)"
It is unclear from the comment below whether a separate SPI host is required for 8MB PSRAM as well as the 4MB version. Documentation in the `menuconfig` interface does not clarify either.

https://github.com/espressif/esp-idf/blob/beaefd3359973dcf8bba4e1d4462aa7f5d67be6a/components/esp32/spiram_psram.c#L145

Please may you add whether a separate SPI host is required for 8MB PSRAM too, or if this i

[2019-07-06 12:00] deltabeard commented on #2399
@OtherCrashOverride
The official [ESP32-WROVER documentation](https://www.espressif.com/sites/default/files/documentation/esp32-wrover_datasheet_en.pdf) says that it has 8MB PSRAM integrated, so it seems bizarre that ESP-IDF wouldn't support 8MB PSRAM.

`SPIRAM_TYPE` has the option `SPIRAM_TYPE_ESPPSRAM64` ("ESP-PSRAM64 or LY68L6400"), so esp-idf seems to support 8MB PSRAM now (I haven't tested it

[2019-07-06 12:12] PerMalmberg commented on #3677
@renzbagaporo If you get a moment to spare, I'd really appreciate some feedback on the above idea as not being able to run menuconfig without manually editing the command line each time is a real pain.

[2019-07-06 12:17] PerMalmberg commented on #3640
@renzbagaporo So what do you think? Could `__project_info` be made into a public API and moved from `project.cmake` so that it can be included without side effects?

[2019-07-06 15:56] avanbremen commented on #3741
@renzbagaporo Thanks for clarifying. I got rid of the initial `undefined reference` errors by moving certain common headers into their own component. It was a better design choice anyway. However one error remains and I have not yet been able to get rid of it.

It is a pretty straightforward dependency of application-level component1 relying on component2. component1 has component2 as `REQUIRES` i

[2019-07-06 18:41] hcarlott commented on #3740
I'm seeing the same thing.
Same environment / Windows 7
Seems related to idf.py.exe sending version  (--version) to Stdout.

[2019-07-06 21:25] hex007 opened #3751 "[Doc] Incorrect opcode for ULP : REG_WR (IDFGH-1481)"
https://www.espressif.com/sites/default/files/documentation/esp32_technical_reference_manual_en.pdf#180

The op code for `REG_WR` in the technical reference should be `4'd1` and not `4'd2`

![Screenshot from 2019-07-06 14-24-13](https://user-images.githubusercontent.com/1689246/60761261-cd353480-9ff9-11e9-8881-99c4bbf1ec04.png)

![Screenshot from 2019-07-06 14-21-10](https://user-images.githubuser

[2019-07-06 22:18] negativekelvin commented on #3749
No, but some wrover do have the 4mb psram, depending on production date

https://github.com/espressif/esp-idf/blob/beaefd3359973dcf8bba4e1d4462aa7f5d67be6a/components/esp32/spiram_psram.c#L723-L756

[2019-07-07 02:03] zchaojian opened #3752 "In esp32, Ethernet example (IDFGH-1482)"
I use the ESP32 kit develop board, make and load the "ethernet" example. I only display some number information to locate the bug, but I don't discover any issue.
Brothers and sisters, will you help me to solve the problem?

I don't link the nINT/RETCLK, other pins I connected.
Oh, the main board is ESP-WROOM-32D  ESP32-DevKitC , and the PHY board is LAN8720.

So who answer and explain my prolbem?

[2019-07-07 05:46] sdrshnptl commented on #17
That's the excellent solution!!!
Thanks mate!

[2019-07-07 06:54] hvishu commented on #3651
Any updates for me on this?

[2019-07-07 07:15] negativekelvin commented on #2303
@suda-morris since there is spi-ethernet support now can we reopen this request for w5100/w5500 to be supported?  Especially since esp32-s2 has no emac.

https://github.com/johnnytolengo/w5500lwip

[2019-07-07 07:42] negativekelvin commented on #3752
https://github.com/espressif/esp-idf/issues/2059

[2019-07-07 08:49] zchaojian commented on #3752
In lan8720 hardware board, I don't link the nINT/REFCLK, because the board already have 50 M crystal oscillator. I see some file know, don't use the nINT/REFCLK pin. And I connected the pin to ESP32 GPIO0, but the result is the same .

[2019-07-07 10:20] deltabeard commented on #3749
So it's just an issue with ESP32 modules that use the 4MB (not 4mb?) PSRAM?

[2019-07-07 12:20] giPeteR commented on #3714
**ADC1 pattern table!** => **SOLVED**
**ADC1 + WiFi** => **NOT SOLVED**

I finally got the ADC1 pattern tables to work, but not with WiFi connected.
I use DevKitC with ESP32-WROVER-B, 240MHz.
Please see provided code which I tried to add a lot of comments in.
You can choose whether to turn WiFi on/off, or disconnect before starting I2S ADC1 DMA.
It doesn't matter if you initialise I2S before or af

[2019-07-07 15:10] suda-morris commented on #3752
@zchaojian
This is the case that ESP32 should get RMII clock from external source (PHY or oscillator), so make sure connect the nINT/REFCLK to GPIO0, and in the menuconfig, select the right clock mode.
From your log, I guess there isn't a valid RMII clock (50MHz) input to ESP32 via GPIO0, can you take an oscilloscope to captue the signal on GPIO0?

[2019-07-07 15:15] suda-morris commented on #3747
Hi @benpeoples Our master should have fixed the issue, does the same problem still exist in your case? If not, could you please close this issue?

[2019-07-08 01:00] Alvin1Zhang commented on #3748
@13824125580 Thanks for reporting the issue. @negativekelvin Thanks for the notes. Feel free to reopen the ticket if you still have questions @13824125580 . Thanks.

[2019-07-08 01:00] #3748 closed

[2019-07-08 02:42] suda-morris commented on #2303
Hi @negativekelvin Thanks for your interest. Yes, the reason we add SPI-Ethernet module is esp32-s2 won't have emac internally. But there're two kinds of SPI-Ethernet module, one is MAC+PHY+SPI, and another is MAC+PHY+TCP/IP+SPI. For now we only support the former one. Since the latter one have conflict with the software lwip stack, so we might add another abstract socket layer to including they t

[2019-07-08 03:42] KonstantinKondrashov commented on #3746
Hi @KaeLL, thanks for your report, it was fixed recently by [commit 09ee721](https://github.com/espressif/esp-idf/commit/09ee7219322c127aaa102a4809d8f29e9bf67cad)

[2019-07-08 03:46] Alvin1Zhang commented on #3746
@KaeLL Thanks for reporting the issue. Feel free to reopen the ticket if the issue still exists. Thanks.

[2019-07-08 03:46] #3746 closed

[2019-07-08 03:49] renzbagaporo commented on #3640
Hi @PerMalmberg, I think we can actually do one better by actually moving metatool support (like idf.py) into its own component. What do you think of this?

[2019-07-08 03:53] negativekelvin commented on #2303
@suda-morris It doesn't really have conflict with lwip if you use it in "macraw" mode, as shown in the linked poc repo, raw frames can be passed to lwip.  dm9051 is not as cheap and widely available as w5100s or w5500.

[2019-07-08 04:10] renzbagaporo commented on #3741
You mentioned that `component1` has `component2` in its `REQUIRES`, therefore, I think the dependency between them should already be established. Under the hood, `REQUIRES` and `PRIV_REQUIRES` are implemented using `target_link_libraries` anyway, so there must be something more at play here.

Are you able to give more information as to the relationship/structure between `component1` and `component

[2019-07-08 04:23] suda-morris commented on #2303
Thanks @negativekelvin OK, I will take time to do some research on it. But as far as I know, W5500 is much different from DM9051 or ENC28J60 regarding to the register description. For example, W5500 doesn't provide the standard PHY registers which makes it hard to add W5500 to current Ethernet driver model.

Also, the "MACRAW" mode will waste the most important feature of W5500. :|

[2019-07-08 04:51] negativekelvin commented on #2303
@suda-morris Yes I know, sad to make it work as a dumb chip and have a bunch of stub functions that do nothing.  But it is cheap and popular so people will use it.

[2019-07-08 05:09] projectgus commented on #2303
I agree the Wiznet chips are widely available, especially in hobbyist/Maker products because of the Arduino board support.

However, regarding cheap, this may depend on source but I'm not sure it's the case:

* https://lcsc.com/product-detail/Ethernet-ICs_DAVICOM_DM9051NP_DAVICOM-DM9051NP_C113756.html
* https://lcsc.com/product-detail/Ethernet-ICs_WIZNET_W5100_W5100_C18866.html
* https://lcsc.com/

[2019-07-08 05:39] negativekelvin commented on #2303
@projectgus hmm, yes price is not so bad for dm9051, almost the same as w5100s for 1k @digikey
https://www.digikey.com/product-detail/en/wiznet/W5100S-L/1278-1030-ND/8789606 but since w5100 is more capable, dm9051 should be cheaper

I do think a wiznet driver would be a popular feature, but certainly up to you whether you want to support it.  Maybe it could be an example in esp-iot-solution.

Will

[2019-07-08 06:33] suda-morris commented on #2303
That's a good point @negativekelvin we might have such a driver (e.g. AX88772) in the future to make esp32s2 have another choice running Ethernet.

[2019-07-08 06:50] PerMalmberg commented on #3640
@renzbagaporo If you see additional benefits doing that, do it.

[2019-07-08 07:25] blueMoodBHD commented on #3680
Hi @yunling-cn， I have fixed a bug about a2dp source connect fail with some speakers,  Refer to commit: a831fe596be6e176ab25f8dcf489dd5aa804b98f. Could you please update and test again?

[2019-07-08 08:05] liuzfesp commented on #3726
HI @tomseago, could you help to check whether it can fix your issue or NOT: add two lines after https://github.com/espressif/esp-idf/blob/138c941fad431d3ef2ccbe3eaabf08b96cdc4d0b/components/wpa_supplicant/src/rsn_supp/wpa.c#L1785 and before https://github.com/espressif/esp-idf/blob/138c941fad431d3ef2ccbe3eaabf08b96cdc4d0b/components/wpa_supplicant/src/rsn_supp/wpa.c#L1786:

`extern void esp_wifi_s

[2019-07-08 08:06] liuzfesp commented on #3725
Hi @enricop @xiruilin,  could you help to check whether it can fix your issue or NOT: add two lines after https://github.com/espressif/esp-idf/blob/138c941fad431d3ef2ccbe3eaabf08b96cdc4d0b/components/wpa_supplicant/src/rsn_supp/wpa.c#L1785 and before https://github.com/espressif/esp-idf/blob/138c941fad431d3ef2ccbe3eaabf08b96cdc4d0b/components/wpa_supplicant/src/rsn_supp/wpa.c#L1786:

`extern void

[2019-07-08 11:34] enricop commented on #3726
Hi,
adding those two lines in wpa.c does not fix the issue with our first AP.

[2019-07-08 11:42] enricop commented on #3725
Hi, adding those two lines in wpa.c does not fix the issue with our first AP.

[2019-07-08 13:36] igrr commented on #3737
@jamieparkinson Just to clarify one thing, the documentation asks to set an *environment variable* IDF_TOOLS_PATH here: https://docs.espressif.com/projects/esp-idf/en/latest/get-started-cmake/index.html#customizing-the-tools-installation-path.

Did you set it as `export IDF_TOOLS_PATH=/path` (i.e. an environment variable) or just `IDF_TOOLS_PATH=/path` (i.e. a shell variable) before running `expor

[2019-07-08 13:39] mishafarms commented on #3714
That is great.

I wish someone would look at the original issue.

Michael

[2019-07-08 13:40] igrr commented on #3339
This has been fixed in 8f6606141a673887385dcdfa7012d60aaa66d148 by updating Fatfs to r0.13c patch 4.

[2019-07-08 13:40] #3339 closed

[2019-07-08 14:06] jamieparkinson commented on #3737
Ah, you're right - thank you! Perhaps this distinction could be made explicit in the docs to avoid this mistake (I'm happy to PR that if you'd like)

[2019-07-08 14:06] #3737 closed

[2019-07-08 14:10] igrr commented on #3737
Thanks for the confirmation! I am preparing some fixes for these tools and will update the getting started guide to explicitly mention `export`. Not to discourage you, future PRs are of course welcome :)

[2019-07-08 14:27] benpeoples commented on #3747
Current master fixes the issue, thank you =)

[2019-07-08 14:27] #3747 closed

[2019-07-08 17:20] casmeiron opened #3754 "esp_mqtt halts the system when Wifi network shuts down (IDFGH-1485)"
## Environment

- Development Kit:      ESP-32 Reltec
- IDF version
  v4.0-dev-1191-g138c941fa
- Build System:         MAKE
- Compiler version
xtensa-esp32-elf-gcc (crosstool-NG esp32-2019r1) 8.2.0
- Operating System:    Windows
- Power Supply:         USB

## Problem Description

Im developing a application for esp32 using ESP-IDF for about 1 year. Last week I've noticed a problem that started ha

[2019-07-08 21:04] ducalex opened #3755 "Random crashes while connecting to wifi (IDFGH-1486)"
## Environment

- Development Kit:      Lolin32
- Kit version
- Module or chip used:  ESP32-WROOM-32D
- IDF version:     v3.3-beta3-130-ge443467f3
- Build System:         Make
- Compiler version:   crosstool-ng-1.22.0-80-g6c4433a5
- Operating System:     Windows
- Power Supply:         USB

## Problem Description

I'm encountering random crashes that are seemingly related to wifi or lwip. The trac

[2019-07-08 23:05] ducalex commented on #3755
It seems that if I disable automatic light sleep or call `esp_wifi_set_ps(WIFI_PS_NONE)`/`WiFi.setSleep(false)` or both it fixes the problem (but isn't a solution).

[2019-07-09 03:21] sheldon123z commented on #2480
Hi,
I have similar problem while setup the python packages as the manual instructed. Here is what I got from the msys terminal:

shzheng@NB0013671 MINGW32 ~
$ python -m pip install --user -r $IDF_PATH/requirements.txt
DEPRECATION: Python 2.7 will reach the end of its life on January 1st, 2020. Please upgrade your Python as Python                     2.7 won't be maintained after that date. A futur

[2019-07-09 04:21] xiruilin commented on #3725
Hi, @liuzfesp，thanks for you work.
I add two lines, but the issue still exists, whether it's Xiao AP 3C or Android hotspot.

[2019-07-09 05:35] liuzfesp commented on #3725
@xiruilin could you take a picture about your Xiaomi AP 3C? I think I need to buy the same AP as yours and then replicate this issue...

[2019-07-09 06:33] burkulesomesh43 commented on #2991
Hello everyone,
I am also getting this issue. I am using esp idf v3.2.

[2019-07-09 06:40] dobairoland commented on #2480
Hi @sheldon123z.

The `cryptography` package cannot  be installed by `pip` on MSYS2. You need to install it with `pacman`:
[code]
If you have an old MSYS2 environment then you need to update the packages:
[code]
The easiest way of solving this issue is to download the newest version of ESP MSYS2 enviroment which contains everything ready-to-use:
https://docs.espressif.com/projects/esp-idf/en/lates

[2019-07-09 07:03] xiruilin commented on #3725
@liuzfesp now it's upgraded to 4C. [Xiaomi AP 4C](https://detail.tmall.com/item.htm?spm=a1z10.1-b-s.w15914064-15567552165.154.67b05f3bWZegRe&id=574686451093&scene=taobao_shop&skuId=3761176249258)

[2019-07-09 08:09] MartyMacGyver commented on #285
FWIW, if you came here like I did trying to see why GPIO32 and GPIO33 won't work right specifically on the **ESP-WROVER-KIT (with LCD)** despite this, it's because in that particular implementation [those pins are being used for an external crystal](https://dl.espressif.com/dl/schematics/ESP-WROVER-KIT_V4_1.pdf).

[2019-07-09 10:44] igrr commented on #3740
Thank you for the reports. We have reproduced the issue and the fix is coming soon.

[2019-07-09 11:59] koobest commented on #3733
Hi, @tutuwin
Have you solved your problem? I tried your test code, but did not reproduce your issue. The interrupt works fine.

thanks !!

[2019-07-09 12:56] igrr commented on #3740
In the meantime, you can download the fixed version from https://dl.espressif.com/dl/idf-exe-v1.0-fix.zip, extract it, and replace C:\Users\<username>\.espressif\tools\idf-exe\1.0\idf.py.exe. After this, export.bat and the "ESP-IDF Command Prompt" shortcut should work.

[2019-07-09 13:05] liuzfesp commented on #3725
HI @xiruilin today, I tried more 7 different Android hotspot and also tried Xiaomi 3C AP, but still failed to reproduce this issue.

Could you give me your demo code that can generate this issue?

[2019-07-09 13:08] zchaojian commented on #3752
I took an oscilloscope to capture the signal of GPIO0 which is a sine wave.

This issue already is resolved. The reason is ethernet example program which doesn't set a static IP of the PHY. So it doesn't appear those information about IP address. Because I used the network interchanger, and I started to use router the ESP32 is normal. I can ping IP address.

Another discover is set menuconfigerati

[2019-07-09 13:08] zchaojian commented on #3752
@

[2019-07-09 13:09] zchaojian commented on #3752
@suda-morris

[2019-07-09 14:12] suda-morris commented on #3752
@zchaojian Yes, the network must be unstable, because the RMII clock used for ESP32 and LAN8720 are not the same one. For ESP32, you've configured using the internal APLL to generate the RMII clock, but for LAN8720, you're using an oscillator. Although both clocks are 50MHz, but probably there will be difference between their phase.

[2019-07-09 15:06] zchaojian commented on #3752
Thank you very much!@sudo-morris

[2019-07-09 15:06] #3752 closed

[2019-07-09 15:41] jwcannon opened #3756 "sntp_getserver blank ip with DNS (IDFGH-1489)"
## Environment

- Development Kit: **none**
- Module or chip used: **ESP32-WROVER-B**
- IDF version **v4.0-dev-621-g81ca1c013**
- Build System: **Make**
- Compiler version: **xtensa-esp32-elf-gcc.exe (crosstool-NG crosstool-ng-1.22.0-80-g6c4433a5) 5.2.0**
- Operating System: **Windows**
- Power Supply: external **3.3V**

## Problem Description

When using SNTP with a DNS ("pool.ntp.org"), sntp_get

[2019-07-09 16:30] ammaree commented on #2926
@igrr
It seemed as if the issue went away but it very soon came back. Since our firmware was in a freeze period we did not need to do field updates hence we ignored the issue temporarily.

Since we are soon coming out of the freeze period we have investigated the issue and have the following to report back.
The shutdown procedure for all tasks have been changed to ensure:
a) all timers are stopped

[2019-07-09 18:04] negativekelvin commented on #3756
Add
`sntp_servers[sntp_current_server].addr = ipaddr;`
before
https://github.com/espressif/esp-lwip/blob/18548d1e256f7651fb4da48dbd770556e0eca8ce/src/apps/sntp/sntp.c#L476

[2019-07-09 19:43] jwcannon commented on #3756
Thanks @negativekelvin that fixes the problem, but I was hoping to avoid modifying lwIP. This is a straightforward and easy solution though. One small correction for anyone who wants to modify lwIP is that ipaddr is a pointer so it would need to be:
`sntp_servers[sntp_current_server].addr = *ipaddr;`
Maybe a future update to lwIP will fix this issue, but for now I'm looking into other ideas I have

[2019-07-10 04:15] negativekelvin commented on #3756
In fact it was fixed in upstream
https://github.com/lwip-tcpip/lwip/commit/e46b9ad4acb5f271d76799226d4c967ffb5b42a0

[2019-07-10 07:07] liuzfesp commented on #3755
HI @ducalex could you let me know your IDF commit id?

[2019-07-10 07:17] liuzfesp commented on #2926
@ammaree, could you let me know your IDF commit ID?

[2019-07-10 07:21] liuzfesp commented on #2271
@@sarpdaltaban, we already have TCP examples in $IDF_PATH/examples/protocols/sockets/tcp_server, please check it please.

[2019-07-10 07:24] ammaree commented on #2926
Latest as of yesterday morning: 138c941fad431d3ef2ccbe3eaabf08b96cdc4d0b

[2019-07-10 07:29] liuzfesp commented on #3586
HI @GitOfLance, could you let me know your IDF commit ID?

[2019-07-10 07:32] Alvin1Zhang commented on #2271
@sarpdaltaban Thanks for reporting the issue, feel free to reopen the ticket if the issue still happens, thanks.

[2019-07-10 07:32] #2271 closed

[2019-07-10 07:35] Alvin1Zhang commented on #3673
Hi, @Herwey Thanks for reporting the issue, would you please help check whether your issue has bene resolved by the post, [ESP32 How to turn off automatic log of system output](https://www.esp32.com/viewtopic.php?t=4249)? Thanks.

[2019-07-10 07:42] avanbremen commented on #3741
@renzbagaporo Because of the strong dependency of component1 on component2 I decided to group them together and redesign them as a new single component. This approach resulted in a better overall design and it solved the linker errors.

Thank you both for your constructive help. Appreciate it.

[2019-07-10 07:42] #3741 closed

[2019-07-10 07:48] Alvin1Zhang commented on #3694
Thanks for reporting the issue. Would you please help provide more details as suggested in the [issue template](https://github.com/espressif/esp-idf/blob/master/docs/issue_template.md)? Thanks.

[2019-07-10 08:10] liuzfesp commented on #2926
HI @ammaree could you provide the backtrace of last time your see the crash?

[2019-07-10 08:18] ammaree commented on #2926
There is no backtrace since it does not crash.
The output pasted above is taken at the point just when esp_stop_wifi() is called.
After that no output is seen (even if left for 10 minutes) and a hard reset is required to recover.

[2019-07-10 08:41] renzbagaporo commented on #3741
Glad to hear that @avanbremen. Just FYI this design change also exposed some unsavory dependency graph with components delivered in ESP-IDF, which we've had to workaround for now in order for things to build. I think this definitely forces developers to think about their source code structure.

[2019-07-10 09:30] ammaree commented on #2926
@liuzfesp

I removed some sections of code and was able to get a step further.
`36.017: #0 SNTP vSntpTask [delete]
36.026: #0 Sensors vTaskSensors [delete]
36.028: #1 mqttRX vTaskMqttRx [delete]
36.221: #0 HTTP vTaskHttp [delete]
36.234: #0 TNET vTaskTelnet [delete]
36.515: #0 Events vTaskEvents [delete]
36.518: #1 mqttTX vTaskMqttTx [delete]
36.617: #0 Actuator vTaskActuator [delete]
36.619: #0 m

[2019-07-10 09:52] ammaree commented on #2926
The previous crash report was as a result of a console initiated reboot.
The following crash report, very similar, came as a result of a restart after a successful OTA.

`16:47.411: #1 SNTP vSntpTask [delete]
16:47.469: #0 Sensors vTaskSensors [delete]
16:47.519: #0 mqttRX vTaskMqttRx [delete]
16:47.710: #0 TNET vTaskTelnet [delete]
16:47.760: #0 Events vTaskEvents [delete]
16:47.763: #1 mqttTX vT

[2019-07-10 11:27] Alvin1Zhang commented on #3653
@filzek Thanks for reporting the issue, would you please help share if your issue has been resolved? Thanks.

[2019-07-10 11:42] ajita02 commented on #2551
I have made few changes in i2c driver w.r.t. timeout interrupt. The user has to pass additional parameter of slave_response_time in i2c_config_t while calling i2c_param_config API. The slave_response_time has to be in milliseconds. @tuangu can you please try the attached patch against current esp-idf master and let me know the results. Thanks.
[0001-feature-of-addtional-clock-stretching-period-for

[2019-07-10 12:11] enricop opened #3758 "[Local Control Feature] Client side implementation and examples (IDFGH-1491)"
Hi all,
we have seen that "Local Control" feature has been added recently with this [commit](https://github.com/espressif/esp-idf/commit/b75f8b1b20c2b3c470b0b611125891e60c1d0de9)

[Here](https://docs.espressif.com/projects/esp-idf/en/latest/api-reference/protocols/esp_local_ctrl.html) is the first documentation

We would like a more detailed example for client side implementation.
What does it mea

[2019-07-10 12:27] enricop commented on #3758
I've seen that a very basic client is [here](https://github.com/espressif/esp-idf/blob/master/examples/protocols/esp_local_ctrl/scripts/esp_local_ctrl.py). It would be usefull to have a clear specification document.

[2019-07-10 13:16] anurag-kar commented on #3758
@enricop Glad to know that you are interested in the local control feature!

We are currently pushing in that direction, so you can expect a detailed client side implementation guide soon.

For now you can refer to the [protobuf](https://github.com/espressif/esp-idf/blob/b75f8b1b20c2b3c470b0b611125891e60c1d0de9/components/esp_local_ctrl/proto/esp_local_ctrl.proto) file itself, which has all the co

[2019-07-10 17:01] crgregersen commented on #3694
Its not rocket science, do any call to fnctl() on a socket .. it will return error.
On old sdk it worked.
It is not a High Priority problem for us, we just use the old sdk.

Mvh,
Carsten Rhod Gregersen

[2019-07-10 17:42] xiaodingding opened #3760 "esp32 Bluetootn Client Not Recv data (IDFGH-1493)"
1.esp-idf is master branch.

2.toolchain:esp32_win32_msys2_environment_and_toolchain-20190611.zip

3.我目前测试的主要是在Arduino环境下，将蓝牙数据收发都跑通了，但是在idf环境下，数据能正常发送，但是不能接收数据。

4.arduino代码：
static BLEUUID serviceUUID("0003cdd0-0000-1000-8000-00805f9b0131");

static BLEUUID  charNotifyUUID("0003cdd1-0000-1000-8000-00805f9b0131");

static BLEUUID  charWriteUUID("0003cdd2-0000-1000-8000-00805f9b0131");

static BLE

[2019-07-10 20:04] bonmotwang commented on #1329
I am having the same issue in using SPI to update a LCD module. I need 38400 bytes of DMA buffer in calling spi_device_transmit. It is only around 4000 bytes could be sent at once.

[2019-07-10 20:55] ssilverman commented on #3698
@igrr here's the version info, per PlatformIO's response:

[code]

[2019-07-10 21:19] igrr commented on #3698
Thanks @ssilverman, this clarifies the version of the toolchain. I am still confused about IDF version since we don't have a 1.9.0 tag in this repository. Any chance the version of IDF you are using can be matched again one of the releases? (https://github.com/espressif/esp-idf/releases)

My speculation at the moment is that PlatformIo is using one of the released versions (so v3.2.x or v3.1.x), t

[2019-07-11 01:00] Alvin1Zhang commented on #3670
@giordano-cm Hi, would you please help share whether your issue still exists? Thanks.

[2019-07-11 02:45] Esp-Doc commented on #3751
Hi, thank you for pointing this out! The Documentation team has fixed the typo. Updated version will soon be released.

[2019-07-11 02:59] liuzfesp commented on #3755
HI @ducalex do you run "git submodule update" after you upgrade your IDF to ge443467f3 ?

[2019-07-11 03:49] tony-ward commented on #3714
All, I want to jump in here, I have exactly the same.  All is running, then as soon as STA connects it stops, keeping the existing value in all entries...

[2019-07-11 05:34] hex007 commented on #3751
@Esp-Doc if possible also include what the syntax `4'd1` means. It is not quite apparent to first timers

[2019-07-11 06:30] ssilverman commented on #3698
[code]

[2019-07-11 06:49] eminarcissus opened #3761 "Xtensa-esp32-elf-gcc weird behavior on linker process (IDFGH-1495)"
Hi,

I'm now trying to build a native plugin for ESP32 Micropython. The codebase is this part https://github.com/micropython/micropython/pull/1627/files.

The plugin is quite straight forward, it defines a 16 bytes header and at the 0x10 starts with init function and all labels are other things are placed after the init function.

Currently the problem is after I did the compiling ,linker process

[2019-07-11 06:58] xiruilin commented on #3725
Hi, @liuzfesp
This issue can be solved by erasing flash.

`
make erase_flash
`

Demo code [[esp-idf examples]](https://github.com/espressif/esp-idf/tree/master/examples/wifi/getting_started/station)

1. use commit 72a5762 build it, it's run good, log below:
`
I (676) wifi: mode : sta (24:0a:c4:08:69:00)
I (686) wifi station: wifi_init_sta finished.
I (686) wifi station: connect to ap SSID:****** p

[2019-07-11 07:31] projectgus commented on #3761
Hi @eminarcissus ,

For future reference: as this doesn't relate to an issue with ESP-IDF, a better place to ask this question would be the esp32.com forums.

What gcc options do you use? Suggest that passing `-mtext-section-literals` may help with this as it will place the literals into the .text section.

Cribbing from the esptool flasher stub may help, as it's a similar purpose (although that c

[2019-07-11 07:42] eminarcissus commented on #3761
Thanks very much,

I was quite frustrating where to post this issue as well. Will do so next time :)

I did tried -mtext-section-literals before, but it did come with some quite interesting layout after linking.

build-xtensa/modx.elf:     file format elf32-little

SYMBOL TABLE:
00000000 l    d  .all	00000000 .all
00000000 l    d  .comment	00000000 .comment
00000000 l    d  .xtensa.info	00000000 .

[2019-07-11 08:06] valeros commented on #3698
@ssilverman Are you sure you are using IDF framework? According to your logs, it looks like `Arduino` is selected as the framework in your project.

[2019-07-11 08:14] Yuvaraj4041 commented on #3740
Hi @igrr

i downloaded and installed esp-idf-tools-setup-2.0.exe.
i am facing same problem axbusch reported.
Then i checked .espressif folder, there is no folder named tools. So i dont know where to replace idf.py exe file. Can you help me.

[2019-07-11 08:17] enricop commented on #3725
Hi, we noticed indeed that the issue is somehow related to NVS. I confirm that erasing default "nvs" partition could change if the esp32 connects or not to an AP.

[2019-07-11 08:32] ssilverman commented on #3698
Maybe I'm incorrectly assuming that this is an esp-idf issue. I thought this because that `mutex` include is part of the core. I am indeed using Arduino, and perhaps the Arduino core (arduino-esp32) is a better place to report this... Thanks for that suggestion. :)

[2019-07-11 08:53] igrr commented on #3698
It might indeed be an Arduino-esp32 issue related to the include paths. For example, when building with IDF, the following include paths for the newlib component are added:
[code]

However in the command line @ssilverman has attached, there only one newlib include directory:
[code]

Looking at the [tools/sdk/include/newlib directory](https://github.com/espressif/arduino-esp32/tree/master/tools/sdk

[2019-07-11 09:03] enricop commented on #3758
that would help, along with an example for working with BLE on esp32 side. thanks

thank you, i suppose this .proto file is generic and can be use in every case

I see there are no imports regarding protocomm in that script. For our project we need to use protocomm security level 1 with proof of possession over BLE.

Interesting. I'll look to that "[custom_config](https://github.com/espressif/esp-

[2019-07-11 09:51] filimonic opened #3762 "wifi_ap_config_t\wifi_sta_config_t : ssid_len support not equal (IDFGH-1496)"
wifi_ap_config_t says:
`uint8_t ssid[32]; /**< SSID of ESP32 soft-AP. If ssid_len field is 0, this must be a Null terminated string. Otherwise, length is set according to ssid_len. */`

wifi_sta_config_t says:
`uint8_t ssid[32];      /**< SSID of target AP. Null terminated string. */`

There is something wrong about different ways to declare SSID:
- STA mode does not support `ssid_len`
- STA mode

[2019-07-11 10:03] ginkgm commented on #1329
Hi @bonmotwang ,
Please set the parameter here, and also prepare enough size of *Internal* buffer for RAM

https://espressif-docs.readthedocs-hosted.com/projects/esp-idf/en/latest/api-reference/peripherals/spi_master.html#_CPPv4N16spi_bus_config_t15max_transfer_szE

https://espressif-docs.readthedocs-hosted.com/projects/esp-idf/en/latest/api-reference/system/mem_alloc.html?highlight=heap_caps#_CPP

[2019-07-11 10:37] anurag-kar commented on #3758
Not yet. But that is our next target. We may improve upon the security scheme to provide something more robust.

Yes. `esp_prov` is the tool for testing all the provisioning examples, and can serve a sreference implementation. The BLE client is implemented using Bluez and DBus, and thus only works on linux.

We also provide [android](https://github.com/espressif/esp-idf-provisioning-android) / [iO

[2019-07-11 11:44] giordano-cm commented on #3670
Sure. Sorry for the late answer.

Definitely, that was the problem. Once i took off the USB extension cable, the problem stopped. I was trying in both USB ports: 2.0 and 3.0. Both were not responding well, but USB 2.0 port was responding better. I've read that USB 2.0 supports longer distance than USB 3.0. But i'm not really sure. Anyway, i took off the extension cable and both ports started worki

[2019-07-11 11:44] #3670 closed

[2019-07-11 12:03] igrr commented on #3761
That looks correct, in Xtensa the literal values should precede the l32r instruction which uses them.
If your binary format requires a fixed entry point at the start of the program, you can arrange the program like this:

[code]

The unconditional jump instruction has the range of 128kB, so it should probably be enough to jump over the literals.

[2019-07-11 12:33] sagb2015 commented on #3647
@steelcuts - Closing this issue. Feel free to re-open in case of doubts or unexpected behavior.

[2019-07-11 12:43] Arthedian opened #3763 "SIM800L and roaming (IDFGH-1497)"
## Environment

- Development Kit:    none
- Module or chip used:  ESP32-WROOM-32
- IDF version (run ``git describe --tags`` to find it):
    v3.3-beta3-34-g8c57aa024
- Build System:         CMake
- Compiler version crosstool-ng-1.22.0-80-g6c4433a)
- Operating System: Fedora
- Power Supply: external 5V

## Problem Description

I am using part of the example code for SIM800L and it is working perfe

[2019-07-11 12:54] eminarcissus commented on #3761
Wow, didn't thought about that, that should work, will try it out :)
Thx very much

[2019-07-11 13:11] korstiaanS opened #3764 "Advice wanted about IRAM before rollout (IDFGH-1498)"
Hi all,

I have a perfect running application (tracking device, using GSM/GPRS/WIFI/BLE) but before I want to rollout to our vehicles I want to make sure that it won't fail.

If I run make size, I see:

Total sizes:
 DRAM .data size:   15508 bytes
 DRAM .bss  size:   55984 bytes
Used static DRAM:   71492 bytes (  53088 available, 57.4% used)
Used static IRAM:  125080 bytes (   5992 available, 95.4

[2019-07-11 13:22] suda-morris commented on #3763
I'm sorry, I also have no idea because we haven't test that case yet. Even I don't know if SIM800L supports roaming. Maybe I think you should ask support from simcom.

[2019-07-11 13:26] jannikbecher commented on #3462
is there any progress on this?

[2019-07-11 13:36] Arthedian commented on #3763
SIM800L is able to connect to roaming, but it returns different value for AT+CREG? command.

[2019-07-11 14:29] liuzfesp commented on #3725
Thanks @xiruilin @enricop,  the root cause has been found, we need some time to do review/regression test. We will deliver the fix next week.

[2019-07-11 16:01] sapuz1508 opened #3765 "Cache memory disabled but cached memory accessed (IDFGH-1499)"
Hi, everyone.
I'm trying to use an esp32 to get some stuff done, at a certain point i need to update the esp OTA.
In order to do this i have a webserver, which holds the update (.bin file), and a database from which the esp reads the filename and the md5 of the update.
The code i use to update is httpFOTA by nhatuan84.
This code just works fine until i insert this in the code below.

main.ino:
[co

[2019-07-11 16:12] KaeLL opened #3766 "Warning error on current version of master branch (IDFGH-1500)"
I get the felling dev's don't build esp-idf prior to pushing changes, do they? LoL

esp-idf/components/bt/common/osi/config.c:446:49: error: '%d' directive output may be truncated writing between 1 and 10 bytes into a region of size 7 [-Werror=format-truncation=]
             snprintf(keyname, keyname_bufsz, "%s%d", CONFIG_KEY, i);

[2019-07-11 16:39] Ostpopcorn opened #3767 "ESP-IDF-TOOL installer crash (IDFGH-1501)"
Hi,
I just this afternoon tried to update the IDF i thought that i messed somethings up and therefor tried to reinstall everything. To my satisfaction the version 2.0 of the ESP-IDF-TOOLS had been released so i tried to install it on my machine.
After running for a few minutes it crashed, se log below.
I'm trying it with the development-brach of the IDF and python 3.7 (both downloaded today 11/7).

[2019-07-11 17:45] raldone01 opened #3768 "Unclear documentation: Is malloc task/threadsafe? (IDFGH-1502)"
I carefully read through https://docs.espressif.com/projects/esp-idf/en/latest/api-reference/system/mem_alloc.html but I couldn't find anything regarding task/thread safety.

Do I have to guard malloc and free calls from concurrent access?
I would suggest to update the documentation and add that info.

[2019-07-11 17:53] stickbreaker commented on #2551
@ajita02 I tried using your changes with arduino-esp32, the i2c peripheral never recovered from the clock stretching.  I use a SHT25 temp/humidity sensor for testing.
this capture shows the temperature sampling command, the Sensor starts stretching SCL in the READ. At about the 200.3ms time mark.
![SHT25 Read SCL Stretch](https://user-images.githubusercontent.com/2858309/61071568-ac405b00-a3ce-11e

[2019-07-11 18:00] PerMalmberg commented on #3768
No, you do not. It's guaranteed by the language (C & C++), assuming you're using a modern version of it, (C11 ?). I have a hard time seeing you running into issues if you use a tool chain provided by Espressif though.

Note however that calling malloc and friends from an interrupt is not safe as the interrupt may have interrupted a call to malloc/free etc.

[2019-07-11 18:03] raldone01 commented on #3768
Thank you I didn't know that was the case as the memory functions are written by expressif.

[2019-07-11 18:03] stickbreaker commented on #2551
@ajita02 Additional Info, this is a dump of the i2c command list after the timeout occurs:
[code]

Chuck.

[2019-07-11 18:06] negativekelvin commented on #3768
https://github.com/espressif/esp-idf/blob/81ca1c01395f604972fbf141cfbe49764a746023/components/heap/multi_heap_platform.h#L22

[2019-07-11 18:08] raldone01 commented on #3768
Thank you. So is malloc safe in ISRs?

[2019-07-11 18:10] PerMalmberg commented on #3768
Ah, seems an ISR is allowed to call malloc too, that's nice.

[2019-07-11 18:13] raldone01 commented on #3768
So the documentation is unclear?

[2019-07-11 20:38] nifomorph opened #3770 "Disabling "Support ESP32 internal EMAC controller" breaks build (IDFGH-1504)"
## Environment

- Development Kit:         none
- Module or chip used:  ESP32
- IDF version:                  v4.0-dev-1195-g38b7744
- Build System:              Make
- Compiler version:       xtensa-esp32-elf-gcc (crosstool-NG esp32-2019r1) 8.2.0
- Operating System:     macOS
- Power Supply:            USB

## Problem Description
Disabling "Support ESP32 internal EMAC controller" breaks build.

#

[2019-07-11 21:21] ducalex commented on #3755
@liuzfesp Yes it was a clean install doing the following:
[code]

[2019-07-12 00:53] projectgus commented on #3768
@raldone01 malloc(), free() and thread safe.

It is technically possible to malloc() or free() from an ISR. It is not recommended to call malloc() or free() from an ISR as they can take al ong time to run, especially if you have PSRAM with a lot of small allocations in it. Better to structure your code in a way that you pre-allocate any buffer that is needed by the ISR.

[2019-07-12 02:20] suda-morris commented on #3770
Thank you @nifomorph we will fix it ASAP.

[2019-07-12 02:39] Weijian-Espressif commented on #3760
@xiaodingding Please test our gatt_client and gatt_server example, they will automatically connect, send and receive data. Please try, thanks.

[2019-07-12 02:49] Weijian-Espressif commented on #3766
@KaeLL, Sorry for that. we have fixed the bug, but have not update to the github.
![企业微信截图_9ff1bd2a-d518-4f6e-80d1-716ca84603a5](https://user-images.githubusercontent.com/16891442/61098767-b461ce80-a492-11e9-9bdc-c23d2373f3bc.png)

[2019-07-12 02:50] Weijian-Espressif commented on #3766
![企业微信截图_9ff1bd2a-d518-4f6e-80d1-716ca84603a5](https://user-images.githubusercontent.com/16891442/61098806-ce031600-a492-11e9-91e5-991b06f34dc9.png)

[2019-07-12 04:56] projectgus commented on #3764
Hi @korstiaanS ,

Thanks for the well explained question.

You won't run out of IRAM while running. Nothing in ESP-IDF itself allocates IRAM dynamically, although it's [possible to do this in your app](https://docs.espressif.com/projects/esp-idf/en/latest/api-reference/system/mem_alloc.html#bit-accessible-memory).

There is a risk that a future ESP-IDF update will increase IRAM usage, as this has

[2019-07-12 04:56] #3764 closed

[2019-07-12 06:20] GitOfLance commented on #3586
Hi, @liuzfesp
![dd380147-52a1-4cc2-bb71-5fee4d21219c](https://user-images.githubusercontent.com/48943389/61106581-28f73600-a4b0-11e9-881c-71a3978284cc.png)

[2019-07-12 06:45] Yuvaraj4041 opened #3771 "Cmake build System Error : Syntax error in cmake code (IDFGH-1506)"
I installed **esp-idf-tools-setup-2.0.exe.** Then i am trying to do menuconfig by idf.py menuconfig. But it was not working.

With idf-tools-setup **python 3.7, git 2.21.0, ESP-IDF-V4.0** are installed.
I am using Windows 7 64-bit operating System.

First i got the same issue reported by [axbusch](https://github.com/espressif/esp-idf/issues/3740#issue-464403900)
After solving that, i got a new iss

[2019-07-12 07:19] renzbagaporo commented on #3771
HI @Yuvaraj4041, you mentioned using v4.0. Are you on the latest master?

[2019-07-12 07:23] Yuvaraj4041 commented on #3771
Hi @renzbagaporo, Thanks.

Yes . While installing esp-idf-tools-setup-2.0.exe, it asked to download ESP-IDF. I choosed master branch.

[2019-07-12 07:41] igrr commented on #3765
@sapuz1508 Could you please add the information requested in the issue template, such as IDF version, build system used, etc. Also, could you please use IDF Monitor to decode the addresses in the log output? Finally, would you mind attaching your program's ELF file?

[2019-07-12 07:47] igrr commented on #3767
@Ostpopcorn Could you please try to open a new cmd.exe window, and run there:

[code]

Does this cause the same kind of error? If yes, can you please check if virtualenv is able to create environments at all? (run `C:\Program Files\Python37\python.exe -m virtualenv --no-site-packages <any-other-location>`)

[2019-07-12 07:53] Bogdancev commented on #2085
I also have this problem. Fortunately, I can repeat last 4 bytes as I control the master.

[2019-07-12 07:54] renzbagaporo commented on #3771
This looks like a regression with a problem that was solved previously. In the meantime, can you try adding the following line:

[code]

after

[code]

for both `components/soc/CMakeLists.txt` and `components/efuse/CMakeLists.txt`

[2019-07-12 08:03] Yuvaraj4041 commented on #3771
@renzbagaporo

It Works....! Thank you.

[2019-07-12 08:54] renzbagaporo commented on #3771
Ok. This issue should automatically get closed once the fix gets merged @Yuvaraj4041

[2019-07-12 09:15] mulinluo opened #3773 "esp32外接lan8720报错 (IDFGH-1508)"
我使用esp32外接lan8720模块做ethernet。使用esp-idf-release-v3.2的Ethernet示例代码进行编译。clock信号使用的是lan8720模块上的50MHz晶振，nINT/REFCLKO引脚与gpio0连接，模式选择为Ethernet PHY Clock Mode (GPIO0 Input) 。编译后报错E (1301) emac: Reset EMAC Timeout。
具体log如下：
I (0) cpu_start: App cpu up.
I (232) heap_init: Initializing. RAM available for dynamic allocation:
I (239) heap_init: At 3FFAE6E0 len 00001920 (6 KiB): DRAM
I (245) heap_init: At 3FFB4

[2019-07-12 09:25] Ostpopcorn commented on #3767
Hi,
I just tested in a blank directory on my desktop and it loops the same way. Watching the process in task manager reveals that it allocates more and more ram to itself. It also dose something recursive because it starts 3 processes per second.

Trying now to reinstall python37 and seeing if that dose something.
Ok, after reinstalling the TOOLS one more time I noticed that when it says `Running

[2019-07-12 10:13] suda-morris commented on #3773
Hi @mulinluo Have you set the PHY address according to your board?

[2019-07-12 10:43] igrr commented on #3767
It seems that the cause of this is https://github.com/pypa/virtualenv/issues/1380. I will check the workarounds mentioned and get back to you.

[2019-07-12 10:50] igrr commented on #3767
@Ostpopcorn can you please try to downgrade Python to 3.7.3? It seems that for 3.7.4 we need to wait for the next virtualenv release to fix this issue.

[2019-07-12 11:12] Ostpopcorn commented on #3767
Hi,
That was the trick! Installer worked fine now and i was able to build a project!
Thanks @igrr

[2019-07-12 11:12] #3767 closed

[2019-07-12 11:17] mulinluo commented on #3773
我设置的PHY address为1

[2019-07-12 12:38] nopnop2002 opened #3774 "mqtt over web socket (IDFGH-1509)"
My environment:

	ESP-IDF version:v4.0-dev-1186-gf16f4297c

I tried esp-idf/examples/protocols/mqtt/ws.
I modified your code:

	static esp_err_t mqtt_event_handler_cb(esp_mqtt_event_handle_t event)
	{
	    esp_mqtt_client_handle_t client = event->client;
	    int msg_id;
	    // your_context_t *context = event->context;
	    switch (event->event_id) {
	        case MQTT_EVENT_CONNECTED:

[2019-07-12 13:23] tony-ward commented on #1977
anyone?

[2019-07-12 14:21] steenou opened #3775 "A2DP audio glitches due to zero packets in output (IDFGH-1510)"
## Environment
- Module or chip used: ESP32-WROVER
- IDF version: v3.2-dev
- Build System: Make
- Compiler version: 1.22.0-80-g6c4433a
- Operating System: Linux
- Power Supply: external 3.3V

## Problem Description
[This issue that was closed](https://github.com/espressif/esp-idf/issues/3407) but still occurs. The original issue was thought to have been fixed with I2S PLL, but unfortunately, it is

[2019-07-12 14:26] steenou commented on #3775
@redchenjs @pad52 @jason-mao @igrr the glitching as previously reported is still happening

[2019-07-12 14:35] redchenjs commented on #3775
Yeah, the previous issue should be reopened, and the commit is just an improvement not a fix.

[2019-07-12 15:46] marcogmaia commented on #2401
I have the same problem, but with an old android. With new android phones it stays connected.

[2019-07-12 16:46] pete-maley commented on #3660
Has there been any progress on this issue?

[2019-07-12 17:59] OmkarPrabhu08 commented on #17
I am working on HFP code which includes some libraries from Bluedroid folder in components section. Now I have changed component specific configs from make menuconfig as suggested by few of the discussions on ESP ADF/IDF github issues but still the problem hasn't solved completely. Although linker started linking few of the Bluedroid components it's not able to link all. So what configs should I u

[2019-07-13 00:59] sapuz1508 commented on #3765
@igrr
I use the Arduino IDE to run the code.
1.0.2 version
ESP-WROOM-32
External 5V power supply

That one is the only coredump I get, and the decoded didn’t tell me nothing more.
I’d like not to send the elf file.. I hope that’s not a problem :/

If I missed something tell me, I’m quite a newbie into development with this devices and also in such low level programming.

Thx~

[2019-07-13 06:23] negativekelvin commented on #3765
Since you are using Arduino and third party libraries, this is more appropriate to post on esp32.com forum.  This is probably not a bug in esp-idf. But I would suggest do not use weigand task and see if the problem happens, if not probably something with an interrupt in weigand driver.  Also in general don't just delete tasks like that.

[2019-07-13 08:33] RonAmihai opened #3777 "Windows installer v2.0 (CMake Preview) - option to uncheck downloading of packages (IDFGH-1512)"
In the previous version of the Windows installer (v1.2) - there was an option to uncheck downloading / installing of packages.
This was handy for offline setup of ESP-IDF environment (of course it would require to install the Python required packages, CMake and other stuff manually - which is possible without internet connection).

Since v2.0 there is no option to uncheck download of packages like

[2019-07-13 09:40] igrr commented on #3777
@RonAmihai okay, will add an option to skip installing Python packages, or bundle them with the installer so that it can run offline.

[2019-07-13 09:46] sapuz1508 commented on #3765
@negativekelvin what if I must use that task? I know it’s probably there the problem, in fact I tried deleting or suspending it before calling the function that causes the crash.
And what you mean with “don’t just delete tasks like that”?

[2019-07-13 10:04] #3761 closed

[2019-07-13 12:00] ammaree commented on #2926
@liuzfesp

Some progress with some consistency. The issue seems linked to FreeRTOS timers, possibly LWIP timers. At the time that the crash occurs ALL my applications tasks, queues and timers have been deleted. See the crash log below.

 2:30.355: #0 SNTP vSntpTask [delete]
 2:30.360: #0 Sensors vTaskSensors [delete]
 2:30.362: #1 mqttRX vTaskMqttRx [delete]
 2:30.371: #1 TNET vTaskTelnet [delete]

[2019-07-13 16:57] ammaree commented on #2491
Any chance of of an update on this request?

[2019-07-13 17:01] ammaree commented on #2973
Thanks, got this one sorted out.
Closing now.

[2019-07-13 17:01] #2973 closed

[2019-07-13 17:01] negativekelvin commented on #3765
You should send a signal to a task to clean up its resources first and then delete itself.

[2019-07-14 07:26] liuzfesp commented on #3762
Thanks @filimonic, we will consider to improve it. @zhangyanjiaoesp

[2019-07-14 09:02] liuzfesp commented on #3587
For the error log:

Hopefully the fix for this error message will be merged into master. However, the error log is NOT related to the task watchdog, I guess the task watchdog is caused by other reason. Currently I just can't replicate the task watchdog issue described above. Is the task watchdog easy  reproduced on your side, or it's very difficult to be reproduced?

[2019-07-14 09:15] liuzfesp commented on #3587
@piltom, could you help to do following test:

- Enable task watchdog panic via menuconfig: make menuconfig => Component Config => Common ESP-related => Enable "Invoke panic handler on Task Watchdog timeout"
- Build the image and reproduce the task watchdog issue
- Get backtrace via "xtensa-esp32-elf-addr2line -piaf -e build/*.elf backtrace_log" to get the backtrace that causes taskwatchdog.

[2019-07-14 09:20] liuzfesp commented on #3586
Hi @GitOfLance we have found the root cause of this issue, hopefully the fix will be merged into IDF master in 1 week.

[2019-07-14 10:00] liuzfesp commented on #3583
Hi @starlino how many consecutive "Request timed out." is printed when the problem happens? Is the ping recoverable when ESP32 connects to the hotspot again, or when ESP32 STA stops to connect the AP? If yes, it's not a bug, it's expected behavior. The AP will be temporarily impacted when the ESP32 STA is connecting or scanning.

When ESP32 STA is connecting/scanning status,  the ESP32 may change

[2019-07-14 15:45] mishafarms commented on #1977
Is anyone from Espressif looking at this? I think this is a real bug that should be addressed?

Michael

[2019-07-14 18:24] david-cermak commented on #3754
Thanks for reporting this issue and putting all the related details with debug logs.
I cannot reproduce the issue though, must be missing something. Could you please post your sdkconfig?
Is this reproducible also with some reduced project, eg. with simple IDF example?

Looks like a deadlock from the backtrace; it wait to release a lock in logging library in `ESP_LOGI()`,
cannot think of any reason

[2019-07-14 18:57] david-cermak commented on #3660
The fix is currently under review in the internal repository, sorry for the delay

[2019-07-14 22:13] Stasikiii opened #3779 "Bootloader can't be disabled in 3.2.2"
Hi.

I try to disable bootloader log in **bootloader config > bootloader log verbosity > No output**.
In **sdkconfig** i can see section

But after flashing i still see detailed log

Help! :)

[2019-07-15 02:33] suda-morris commented on #3773
I would like to suggest you to connect an oscilloscope to GPIO0 to check if there exists a valid RMII clock. @mulinluo
And since this "issue" is regarding to an usage question not a bug report or feature request, you'd better to put it on esp32.com forum to get more experience for other users who have run LAN8720 successfully in their product.

[2019-07-15 02:59] projectgus commented on #3768
Will reopen as I've made a clarification in the docs about this, but it hasn't pushed to GItHub yet. This issue will be closed once it has.

[2019-07-15 03:23] mywang-espressif commented on #947
@copercini , `External 32kHz oscillator at 32K_XP pin` is a option that generates the clock waveform by an  external circuit, and in this case the external clock signal must be connected to 32K_XP pin. This option is not verified to be used as Bluetooth sleep clock, and menuconfig does not support this option to be used as bluetooth low power clock. To enable this option to be used as Bluetooth sl

[2019-07-15 05:23] negativekelvin commented on #3714
Running @giPeteR example connected to STA I am getting changing ADC raw values.  This is on fairly recent master branch.

[2019-07-15 06:47] koobest commented on #1977
Hi,
I think this is the same issue as https://github.com/espressif/esp-idf/issues/1333, we fixed it on ESP-IDF(update rtc library on the master), but I'm not sure if this fix has been applied to the ardinno project. Another solution to this issue is to `initialize the ADC after WIFI initialization and connection`.

thanks!!

[2019-07-15 07:00] koobest commented on #3714
Hi,
I think this is the same issue as #1333, we fixed it on ESP-IDF(update rtc library on the master), but I'm not sure if this fix has been applied to the arduino project. Another solution to this issue is to initialize the ADC after WIFI initialization and connection.

thanks!!

[2019-07-15 07:10] david-cermak commented on #3774
Hi @nopnop2002

Thanks for reporting this, it's a bug in mqtt library (not only ws layer), it was fixed as https://github.com/espressif/esp-mqtt/commit/d9faeb47a341a73ce5a5112ac74cddb798123bab (not yet referenced from master).
Not sure about the other question, but it could be related (depending on the broker reaction to the fisrt issue).
Could you please test to update mqtt submodule to reference

[2019-07-15 07:18] koobest commented on #3722
Hi,
Yes, your use is correct. Is there another task that uses too much memory? According to your description, we can't find the root cause. Can you provide a test code that can reproduce this issue?

thanks!!

[2019-07-15 08:04] koobest commented on #2221
@AmbimatElectronics Have  you solved your issue?
@wingunder Thanks, your code works fine.

[2019-07-15 08:44] Stasikiii commented on #3779
UPD
Ok, to disabled it, i change option **Component config > Esp32 specific >Uart for console output > none**
But i'm not sure, maby log not showed but anyway take time before app runing.

[2019-07-15 09:37] Yuvaraj4041 commented on #3777
@RonAmihai In your PC go to advance internet options, then in settings Enable Use SSL 2.0, Use TLS 1.1, Use TLS 1.2. By default this are all not selected.

After enabling Save it, now your installer will get access to download packages from internet.

[2019-07-15 10:04] Alvin1Zhang commented on #1977
@Splediferous @mishafarms Thanks for reporting and tracking the issue, checked that the issue is same as [issue 3714](https://github.com/espressif/esp-idf/issues/3714), will close this issue for now, and let us track in [issue 3714](https://github.com/espressif/esp-idf/issues/3714). Thanks.

[2019-07-15 10:04] #1977 closed

[2019-07-15 10:05] Alvin1Zhang commented on #3108
@sijokwork Thanks for reporting the issue, will close this issue due to few updates. Feel free to reopen if you still have the issue, thanks.

[2019-07-15 10:05] #3108 closed

[2019-07-15 10:06] Alvin1Zhang commented on #3413
@bobkasterop Thanks for reporting the issue, will close this issue due to few updates. Feel free to reopen if you still have the issue, thanks.

[2019-07-15 10:06] #3413 closed

[2019-07-15 10:08] Alvin1Zhang commented on #3567
@fungo16 Thanks for reporting the issue, will close this issue due to few updates. Feel free to reopen if you still have the issue, thanks.

[2019-07-15 10:08] #3567 closed

[2019-07-15 10:29] tony-ward commented on #3714
Guys this is not the same, and I am not running on Arduino.  I have tried to initialise the ADC after WIFI and before WIFI and I get the same results.

[2019-07-15 11:42] #3135 closed

[2019-07-15 11:42] #3331 closed

[2019-07-15 11:42] #3631 closed

[2019-07-15 11:42] #3726 closed

[2019-07-15 11:42] #3728 closed

[2019-07-15 11:43] #3515 closed

[2019-07-15 11:43] #3734 closed

[2019-07-15 11:43] #3740 closed

[2019-07-15 11:43] #3593 closed

[2019-07-15 11:43] #3768 closed

[2019-07-15 11:43] #3771 closed

[2019-07-15 12:17] no1seman opened #3780 "Multiple compile time redefinition warnings (LwIP <=> nghttp) (IDFGH-1515)"
## Environment

- Development Kit:  ESP32-Wrover-Kit
- Kit version (for WroverKit/PicoKit/DevKitC): v4.1
- Module or chip used: ESP32-WROVER-B
- IDF version: v4.0-dev-1275-gfdab15dc7
- Build System: CMake
- Compiler version: xtensa-esp32-elf-gcc (crosstool-NG esp32-2019r1) 8.2.0
- Operating System: Linux
- Power Supply:  USB|external 5V&Battery

## Problem Description
There are some redifinition w

[2019-07-15 12:35] ammaree opened #3781 "drastic changes in firmware size (IDFGH-1516)"
After upgrading from the previous master (as of 6 July) to current master (as of 13 July) the size of my firmware has increased from 970,512 to 981,952 (about 11KB) without ANY CHANGE in the application.

Is there anywhere in the system documentation where such changes are listed, alternatively is there an automated method whereby the modules and/or functions responsible can be identified?

A chan

[2019-07-15 12:35] nopnop2002 commented on #3728
I tried esp-idf/examples/protocols/sntp using eth2ap.
Is this correct?

![sntp](https://user-images.githubusercontent.com/6020549/61216462-5fe77900-a748-11e9-8c6d-9ca59974fbd7.jpg)

[2019-07-15 12:44] mishafarms commented on #3714
I also am NOT using the Arduino. I am on the master branch of esp-idf. It doesn't seem to matter the
order that you initialize.

I think that this is still an issue.
Michael

[2019-07-15 13:14] nopnop2002 commented on #3774
I updated to ESP-IDF version:v4.0-dev-1275-gfdab15dc7.
There is no Unsubscribe response.
There is many Forwarding message like this:

	 (41624) web_socket: Forwarding 26 bytes
	I (41634) : 10 18 00 04 4d 51 54 54 04 02 00 78 00 0c 45 53
	I (41634) : 50 33 32 5f 34 37 35 32 36 43

	I (41664) web_socket: Responding 4 bytes
	I (41664) : 20 02 00 00

	I (42034) web_socket: Forwarding 18 bytes
	I (4204

[2019-07-15 13:32] casmeiron commented on #3754
Hi,

Thanks for the feedback. I've commented out that line and the error appears in somewhere else, so you're right. I found some issues in my own code and prevented that from happening (for now). So I think I will close this issue. Thanks again!

[2019-07-15 13:32] #3754 closed

[2019-07-15 15:40] ammaree opened #3782 "Crash with latest IDF version (IDFGH-1517)"
## Environment
- Development Kit:      [custom]
- Module or chip used:  [ESP32-WROOM-32]
- IDF version (run ``git describe --tags`` to find it): v4.0-dev-1275-gfdab15dc7
- Build System:         [Make]
- Compiler version (run ``xtensa-esp32-elf-gcc --version`` to find it): 1.22.0-80-g6c4433a5) 5.2.0
- Operating System:     [Windows]
- Power Supply:         [external 3.3V]

## Problem Description
Ve

[2019-07-15 15:50] no1seman commented on #3415
@Weijian-Espressif,

still facing the **ASSERT_PARAM(131072 0), in rwble.c at line 235** error on latest IDF version: v4.0-dev-1275-gfdab15dc7. If there any chances to fix the problem or recomendations for workaround? Need any involvement?

[2019-07-15 16:59] kvbulusu commented on #3722
Thanks @koobest . I havent see task mem consumption as a problem till now, but will keep that mind. Since this is bit random, I will try to refactor code and see . I'll close the issue and will reopen if needed.

[2019-07-15 16:59] #3722 closed

[2019-07-15 17:33] negativekelvin commented on #3714
@mishafarms can you reproduce with the example given by giPeteR above?  What settings necessary to reproduce?

[2019-07-15 18:02] starlino commented on #3583
@liuzfesp , so basically this happens because ESP32  STA  & ESP32 AP must be on same channel ?? Furthermore  this channel number is dictated by external AP ??  Would it be even hardware-possible to have AP and STA channels separate ?

[2019-07-15 19:26] marcogmaia commented on #2305
I have the same problem, why you closed the issue? Have you solved?

[2019-07-15 19:36] marcogmaia commented on #2305
Oh, from rtfm [GNU TZ-variable](https://www.gnu.org/software/libc/manual/html_node/TZ-Variable.html) it says

So it's alright, our bad.

[2019-07-15 22:16] mishafarms commented on #3714
@negativekelvin I just ran giPeteR's code and it works. I get all the channels data.
But when I enable the Wifi it fails. It does not even print out all the
channels anymore.

If you put this code in the app_main function.

	while(1)
	{
		vTaskDelay(10000 / portTICK_PERIOD_MS);
		skip_connect = 0;
		esp_wifi_connect();
	}

You get the correct data for about 5 samples and then
when it reconnects to

[2019-07-15 22:52] projectgus commented on #3781
Hi @ammaree ,

Agree that 10KB is a large amount of binary size shift. A have two questions so we can help narrow this down:

* Do you know the git commit SHAs for IDF that you were using before/after updating?

* Is it possible for you to please give the output of `idf.py size-components` (or `make size-components`, as applicable) for your project before & after? This will help us see which compo

[2019-07-16 01:36] negativekelvin commented on #3714
@mishafarms thanks, I am able to reproduce.  However adding one thing seems to resolve it:
`esp_wifi_set_ps(WIFI_PS_NONE);`
So wifi powersave is the problem

[2019-07-16 02:06] WCCWCC commented on #3743
1. I need to know how you actually operate.It is best to provide some log information.

2. My understanding is that you only open the PA-ADV channel for communication. I will reply to you after I verify.

[2019-07-16 02:10] boarchuz opened #3784 "WPA2: Incorrect initialisation behind slow WiFi connection times? (IDFGH-1520)"
Slow WPA2 connection times have long been an issue for many ESP32 users. I think I may have a small clue as to where to look for the problem, and a bandaid to fix it for now.
Today I was able to reduce connection time on my home WPA2 network from the usual ~1100ms down to ~350ms (240MHz, CONFIG_LWIP_DHCP_DOES_ARP_CHECK=0). Those times are using Arduino's millis(), the debug output below might have

[2019-07-16 02:17] suda-morris commented on #3728
Theoretically it can work. From your log I can see your station has got an IP address via the wifi provided by another esp32 board, right? But for the tcpip_adapter error info, I don't know the reason. You might need to monitor the log from both the two esp32 board, to see what happened on eth2ap example when you got this tcpip_adapter error.

[2019-07-16 06:13] 0neblock opened #3785 "ASSERT crash related to NVS when performing BLE Functions (IDFGH-1521)"
## Brief

ASSERT in NVS library related to saving BLE Bonds
`assertion "end <= ENTRY_COUNT" failed: file "components/nvs_flash/src/nvs_page.cpp", line 437, function: esp_err_t nvs::Page::copyItems(nvs::Page&)`

#### More Information is available, please see comment.

## Environment

Key | Value
--- | ---
 Development Kit |  Custom Board
 Module or chip used | ESP32-WROOM-32U
 IDF version | dca5ed2

[2019-07-16 06:38] 0neblock commented on #3785
I Have Just had this same crash, but during the Initialisation stage of the BLE Library, So I no longer believe it is related to the bonding functions.

The Crash happened during execution of `init` in the following sample code:

[code]

## Debug Log
[code]

[2019-07-16 06:43] igrr commented on #3785
Can you please dump the contents of NVS partition and attach it to this issue? `parttool.py` can be used to read a partition.

https://github.com/espressif/esp-idf/blob/fdab15dc76a3464ed10ce03e9b9cf1a5cd2aa0d1/examples/storage/parttool/parttool_example.sh#L54

[2019-07-16 07:20] david-cermak commented on #3774
Indeed there is an issue in web socket transport layer, which is revealed only after second retransmission if broker does not respond. (the problem is that masked ws transmission modifies in-buffer data).

You can work this around using un-masked ws_write in https://github.com/espressif/esp-idf/blob/master/components/tcp_transport/transport_ws.c#L220
[code]

Thanks for reporting this issue. Please

[2019-07-16 07:44] Alvin1Zhang commented on #3485
@isharaux Thanks for reporting the issue, will close the issue for now due to not enough details and little feedback. Feel free to reopen if your issue still happens. Thanks.

[2019-07-16 07:44] #3485 closed

[2019-07-16 08:01] liuzfesp commented on #3386
Hi @tek145, sorry for late response, could you describe your problem in more detailed.

[2019-07-16 08:48] nopnop2002 commented on #3774
Please use this broker for your test.
This broker does not accept unsubscribe request.

https://github.com/nopnop2002/esp-idf-mqtt-broker

[2019-07-16 09:17] david-cermak commented on #3774
Wow, you're developing an ESP32 mqtt broker! 👍

It won't retry forever, there's a limit (about a minute) after which the message is cleared out from the queue.

[2019-07-16 09:26] liuzfesp commented on #3279
You can enable it via menuconfig: make menuconfig => component config => LWIP => Enable LWIP statistics.

[2019-07-16 09:50] nopnop2002 commented on #3728
Hello.
This is the log from both the two esp32 board.

eth2ap side:

	I (0) cpu_start: App cpu up.
	I (386) heap_init: Initializing. RAM available for dynamic allocation:
	I (393) heap_init: At 3FFAE6E0 len 00001920 (6 KiB): DRAM
	I (399) heap_init: At 3FFB88C0 len 00027740 (157 KiB): DRAM
	I (406) heap_init: At 3FFE0440 len 00003AE0 (14 KiB): D/IRAM
	I (412) heap_init: At 3FFE4350 len 0001BCB0 (1

[2019-07-16 09:59] Alvin1Zhang commented on #3279
@zhivko Thanks for reporting the issue, feel free to reopen the issue if it still happens. Thanks.

[2019-07-16 09:59] #3279 closed

[2019-07-16 10:03] isDerek opened #3786 "how can i run the demo of ble_mesh_fast_provision (IDFGH-1522)"
when i run the demo ( i do not modify anything), the client log tell me :
[code]
loop the log, and try link PB-ADV again and again.

[2019-07-16 10:18] suda-morris commented on #3728
Does sntp work like this when you connect to a real router not the eth2ap?

[2019-07-16 11:03] burkulesomesh43 commented on #2184
Hi talss89,
I am using asprintf in my code to allocate memory.
How can we allocate it for MALLOC_CAP_SPIRAM?

[2019-07-16 12:17] xiewenxiang commented on #3760
@xiaodingding  看log是写ccc的值不对，写过来的应该是 0x1，你log中写过来的是  0x0 和 0x0101

[2019-07-16 12:22] PerMalmberg commented on #2892
Can we please have an update on this? I still can't use TLS on the ESP as per my previous post (tried with today's IDF, v4.0-dev-1275-gfdab15dc7, xtensa-esp32-elf-gcc (crosstool-NG esp32-2019r1) 8.2.0

[2019-07-16 13:17] freedaun opened #3787 "rename XX macro in http_parser.h (IDFGH-1523)"
##  Environment

IDF: v4.0-dev-1275-gfdab15dc7, Windows 10

## Problem Description

I got a conflict with http_parser.h, which uses the same macro name:

    #define XX()

### Code to reproduce this issue

#define XX(x)      something

## Proposed solution

Never use non-descript unqualified macro-names in libs, as these identifier belong to the user and end up breaking their code. So either quali

[2019-07-16 13:46] mishafarms commented on #3714
@negativekelvin You have found a workaround. Thank you. I think I can live without
powersave.

Michael

[2019-07-16 14:02] nopnop2002 commented on #3728
I connected to a real router not the eth2ap.

This is not due to eth2ap.

	I (0) cpu_start: App cpu up.
	I (403) heap_init: Initializing. RAM available for dynamic allocation:
	I (410) heap_init: At 3FFAE6E0 len 00001920 (6 KiB): DRAM
	I (416) heap_init: At 3FFB9210 len 00026DF0 (155 KiB): DRAM
	I (422) heap_init: At 3FFE0440 len 00003AE0 (14 KiB): D/IRAM
	I (428) heap_init: At 3FFE4350 len 0001BC

[2019-07-16 14:18] ammaree commented on #3781
Hi @projectgus

Git commit SHA after updating is the latest fdab15dc76a3464ed10ce03e9b9cf1a5cd2aa0d1
Git commit SHA before is difficult to say, I think around 783ddd1e059525b4aca1ba2347a24552f57382c1

Getting the size components on the before application might be a bit difficult unless I:
a) revert to that version of the IDF; and
b) revert the the changes made to our application

I have attached t

[2019-07-16 14:22] igrr commented on #3728
Regarding the  `esp_wifi_internal_reg_rxcb` error, it should was reported already and the fix should be in master soon (https://github.com/espressif/esp-idf/issues/3587#issuecomment-511185777)

[2019-07-16 14:28] igrr commented on #3782
Probably unrelated to the issue, but please note that IDF commit fdab15dc7 requires different toolchain version than the one you have mentioned (1.22.0-80-g6c4433a5 5.2.0). There should be a compilation warning asking to update the compiler. Consult https://docs.espressif.com/projects/esp-idf/en/latest/get-started/index.html#id1 if you are using CMake or https://docs.espressif.com/projects/esp-idf

[2019-07-16 14:35] nopnop2002 commented on #3728
OK.
I'm waiting for master fix.

[2019-07-16 14:41] negativekelvin commented on #3781
?

[2019-07-16 14:44] igrr commented on #3781
To revert to an earlier version, you can do `git checkout <commit-id>` (783ddd1 for IDF as you have mentioned).

[2019-07-16 14:46] ammaree commented on #3781
@negativekelvin

When problem was discovered and originally logged, no changed had been made to our application.

24 hours later some changes had been made hence not a completely simple process to revert to the state yesterday.

[2019-07-16 14:48] KaeLL opened #3788 "I reflashed a Secure Boot/Encrypted Flash enabled board. What now? (IDFGH-1524)"
I'm getting a `flash read err` error. Is the board permanently bricked?

[2019-07-16 14:51] negativekelvin commented on #3781
Ok but if idf is responsible for the 10k it shouldn't be dependent on your app so as long as it builds on the older idf you should be able to compare

[2019-07-16 14:53] ammaree commented on #3781
Correct, will rebuild both and hopefully see same/similar difference

[2019-07-16 15:03] negativekelvin commented on #3788
If you used the default production mode for secure boot and flash encryption then yes.  If you generated your own keys and still have them then no.

[2019-07-16 15:41] #3372 closed

[2019-07-16 15:51] KaeLL commented on #3788
Ah. Okay.

[2019-07-16 15:51] #3788 closed

[2019-07-16 16:32] igrr commented on #3787
@freedaun I would suggest submitting this upstream (https://github.com/nodejs/http-parser). We can then update our copy of http_parser, and also move it into a submodule for easier maintenance in the future.

[2019-07-16 17:17] ammaree commented on #3781
Have done, new before and after sizes attached.
Primary movers are 3 modules with change >1KB
libmbedtls +2406 bytes
liblwip +14820 bytes
libphy -3702 bytes
[size-components before.txt](https://github.com/espressif/esp-idf/files/3398294/size-components.before.txt)
[size-components after update.txt](https://github.com/espressif/esp-idf/files/3398296/size-components.after.update.txt)

[2019-07-16 17:21] ammaree commented on #3782
Have had the compile warning for a while (last couple of weeks) but ignored it since operation remained consistent (including same problems) so practiced maxim "Don't mess with it if it ain't broken..."

Will update the compiler now and provide update.

[2019-07-16 17:42] freedaun commented on #3787
Well, I got the reference from your github, the http_server. But now I see there is an official supported "esp_http_server.h", so I'd better use that. But I'll follow your suggestion anyway.

I really need to implement websockets. I found https://github.com/Molorius/esp32-websocket and am working backwards from that, substituting the http_server part. Maybe the Arduino stuff would be better but th

[2019-07-16 18:23] ammaree commented on #3782
@igrr

Have update the toolchain, fixed some EXTRA_CPPFLAGS to remove warnings and recompiled without the warnings.

Problem, as predicted by yourself, the crash details remain exactly the same.

Any suggestions?

[2019-07-16 18:59] igrr commented on #3782
This is likely related to the update of LwIP stack from 2.0.3 to 2.1.2. I would suggest trying to isolate the issue you are seeing, so that we could compile your code and reproduce the issue.

[2019-07-16 19:11] negativekelvin commented on #3756
Fixed with lwip upgrade https://github.com/espressif/esp-idf/commit/fa02598b5c978402c1013b22ca81919beded97f3

[2019-07-16 20:34] freedaun commented on #3787
See: https://github.com/nodejs/http-parser/issues/487

[2019-07-16 21:12] Nufflee commented on #814
Any updates on this @igrr? It's been two years already

[2019-07-17 00:01] projectgus commented on #3781
Thanks for the info @ammaree .

We've updated both mbedTLS and LWIP versions in between the two commits you're using.

* For mbedTLS, we also changed the way default config is generated so there may be some features which weren't enabled before but now are. Will check.
* For LWIP is more pronounced, unsure what the root cause is. We'll look into this also.

[2019-07-17 03:00] koobest commented on #3643
@nopnop2002
Yes, You can create a PR.

thanks !!

[2019-07-17 04:54] nopnop2002 commented on #3643
I close this issues.
Thanks for your support.

[2019-07-17 04:54] #3643 closed

[2019-07-17 06:11] WCCWCC commented on #3786
Hi isDerek,
    1. We have detailed documentation for this demo (in the engineering path) and we have tested it many times.

    2.  You also check the selection:  Componet config--》Bluetooth--》Bluetooth controller--》BLE full scan feature supported.
    3.   You also check the selection:    Component config--"Bluetooth --" BLuetooth controller--"Scan Duplicate Type (Scan Duplicate By Device Addres

[2019-07-17 06:40] Alvin1Zhang commented on #3786
@isDerek Thanks for reporting the issue. For such question, we recommend you submit a post on our forum at [forum](https://esp32.com), will close this issue now. Thanks.

[2019-07-17 06:40] #3786 closed

[2019-07-17 07:10] tatsutaigu opened #3790 "Add proxy support to toolchain installer (IDFGH-1527)"
Hi,

I try latest toolchain installer.
I got trouble.
I use proxy to connect to internet.
So, My PC cannot connect to github.

Please add proxy setting to toolchain installer.

msys32 can set proxy and connect to github via proxy.

[https://docs.espressif.com/projects/esp-idf/en/latest/get-started/windows-setup.html](https://docs.espressif.com/projects/esp-idf/en/latest/get-started/windows-setup.h

[2019-07-17 07:12] Alvin1Zhang commented on #3688
@tatsutaigu Thanks for reporting the issue, has your issue been resolved? Thanks.

[2019-07-17 07:31] Alvin1Zhang commented on #3666
@farizadp Thanks for reporting the issue, do you get a chance to capture the packets? Thanks.

[2019-07-17 07:34] Alvin1Zhang commented on #3653
@filzek Thanks for reporting the issue, would you please help share if your issue has been resolved? Thanks.

[2019-07-17 07:35] igrr commented on #3790
Hi @tatsutaigu, the installer uses the proxy settings configured in Windows. Please make sure that your proxy is configured (in Windows 10: Settings -> Network & Internet -> Proxy).
You can also check if these are valid by inspecting the following registry key: `HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Internet Settings`.

[2019-07-17 07:41] koobest commented on #3714
When using WIFI, if the power saving mode is not used, the SAR power domain will be turned off when entering the power saving mode to reduce power consumption. This is the root cause of this problem. The current solution is to set WIFI to WIFI_PS_NONE mode.

[2019-07-17 08:42] Alvin1Zhang commented on #3507
@xiaodingding Thanks for reporting the issue. Feel free to reopen the issue. Thanks.

[2019-07-17 08:42] #3507 closed

[2019-07-17 11:03] sapuz1508 commented on #3765
Got it.
Btw, i tried not creating that task at all in order to get OTA Update completed.
But it didnt work. So.. i cant understand what that error is. can y'all help me?

[2019-07-17 11:22] koobest commented on #3645
Hi, @Makuna
    When a channel is transmitting, it will generate  tx_thr_event interrupt, the `writeChannel` will be interrupted frequently, causing the delay you see. This delay depends on the CPU frequency and flash read and write frequency. There is a solution:

![image](https://user-images.githubusercontent.com/22807748/61371765-22a9f500-a8c8-11e9-98ae-7e79c09c19ef.png)
![image](https://user-i

[2019-07-17 11:53] chegewara commented on #3765
`Debug exception reason: Stack canary watchpoint triggered () `
Too small task's stack.

[code]
@me-no-dev said once on gitter that is probably because there is not enough memory to generate exception, so you are most likely completely out of heap.

[2019-07-17 12:11] Arthedian commented on #3763
@suda-morris could you please test it?

[2019-07-17 13:29] sagb2015 commented on #3784
Hi @boarchuz,
The delay is most likely due to time required for scanning first time when AP is not available and not because of NVS. You can confirm the same by disabling NVS usage by WIFI (component config -> Wi-Fi -> Wi-Fi NVS flash). If the NVS usage is disabled, the delay will be seen every time, because scan will be triggered for every connect. NVS is used to store channel and bssid informati

[2019-07-17 14:28] sapuz1508 commented on #3765
How should i calculate the stack? @chegewara

[2019-07-17 14:32] crespum commented on #2191
I'm still experiencing this issue with IDF 3.2. Has it really been fixed?

[2019-07-17 14:51] negativekelvin commented on #3714
I think you mean

So will there be a way for the user app to take a lock to prevent this while still using powersave?

[2019-07-17 14:58] igrr commented on #3714
Yes, we will implement this.

[2019-07-17 14:59] Herwey commented on #3673
I find a nice method. The Log was printed from PIN 1 and 3(UART), so when I changed the 1 and 3 for IIC, so that the uart not worked any more, no log.       :D

[2019-07-17 15:00] #3673 closed

[2019-07-17 15:20] chegewara commented on #3765
https://docs.espressif.com/projects/esp-idf/en/latest/api-reference/system/freertos.html#_CPPv427uxTaskGetStackHighWaterMark12TaskHandle_t

https://docs.espressif.com/projects/esp-idf/en/latest/api-reference/system/heap_debug.html

[2019-07-17 15:28] sapuz1508 commented on #3765
@chegewara

[code]

im plenty of free memory, so i cant understand

[2019-07-17 15:35] chegewara commented on #3765
I said probably lack of heap, but this is problem with stack size for sure:
`Debug exception reason: Stack canary watchpoint triggered`

I am using this code to control stack size from time to time:
[code]

[2019-07-17 16:21] negativekelvin commented on #3765
The stack canary isn't triggered until well into the looping exception.  The root cause is still Cache disabled but cached memory region accessed

[2019-07-17 16:26] negativekelvin commented on #3784
@sagb2015 does this make sense because in both logs it is already on channel 11 at timestamp 722
`I (722) wifi: n:11 0, o:1 0, ap:255 255, sta:11 0, prof:1`

[2019-07-17 16:42] boarchuz commented on #3784
Thanks for the reply @sagb2015
I've tested with NVS disabled, and it takes longer to connect as expected. I don't think that's the issue here. I'm still convinced that this should be investigated.

With NVS enabled, that longer connection time should only occur once (or when AP channel changes, for example). This unusual delay with WPA2 connection that I'm trying to describe occurs **every** time,

[2019-07-17 16:50] negativekelvin commented on #3784
One theory is the user has a mesh wifi system with multiple bssid on same ssid and channel.  When client sends probe request, first response has bssid not matching expected value so client panics and does full scan?  But I don't know why esp_wifi_set_config fixes this.

@boarchuz can you read and print the full wifi_config before and after connecting with and without fix?

[2019-07-17 17:10] boarchuz commented on #3784
Actually, I was meaning to mention that. The wifi_config is a mess. BSSID is FF:FF:FF:FF:FF:FF, channel is 128 or 63 or something. I thought that was a clear problem, but then I tried applying the fix: same thing. I then tried WEP: same thing. So it appears to have no direct impact on connection time.
I concluded that the WiFi driver isn't dependent on these fields, they're only for passing new co

[2019-07-17 18:14] sapuz1508 commented on #3765
@chegewara sorry but i cant still make uxTaskGetSysyemState() working even though i've already put configUSE_TRACE_FACILITY to 1 in config file..

@negativekelvin ya, and im trying to understand why this happens only when i call that function in this code..
it doesnt give me an appropriate stacktrace, so i cant understand where the problem is..

[2019-07-17 19:48] tomasmcguinness opened #3793 "Running export.sh results in errors (IDFGH-1529)"
When I try to execute the export.sh script on macOS, I get the following error messages:

readlink: illegal option -- f
usage: readlink [-n] [file ...]
usage: dirname path
Adding ESP-IDF tools to PATH...
-bash: /tools/idf_tools.py: No such file or directory

I'm using macOS Mojave 10.14.5.

I'm on the most up-to-date master branch.

[2019-07-17 20:37] Makuna commented on #3645
Is the code for rmt_write_sample exposed?  (note, I am coming from the Esp32 Arduino, so I don't see it)

Could I make a request based on this then.

Could you modify the API method rmt_write_sample, so the last param changes from
[code]
to something like
[code]

[2019-07-17 21:59] igrr commented on #3793
@tomasmcguinness the fix for this issue is in review at the moment and will be merged soon. For now you can work around the issue by exporting IDF_PATH manually, before running the script.

[2019-07-17 22:00] negativekelvin commented on #3784
Able to reproduce here also
[code]
[code]

[2019-07-18 00:32] tatsutaigu commented on #3790
Hi @igrr,

git.exe must need HTTP_PROXY & HTTPS_PROXY.

So, I typed below commands on cmd.exe before installing toolchain.
`setx HTTP_PROXY “http://yourhost:yourport”`
`setx HTTPS_PROXY “http://yourhost:yourport”`

[2019-07-18 00:32] #3790 closed

[2019-07-18 02:07] koobest commented on #3714
@negativekelvin
Yes, ss you said, I made the logic wrong : b
 Correct it:
_When using WIFI, if the power saving mode is used, the SAR power domain will be turned off when entering the power saving mode to reduce power consumption._

[2019-07-18 03:28] sagb2015 commented on #3784
@boarchuz - We are definitely investigating this. I missed the point that you are getting the delay **every** time with NVS enabled in WPA2 case. Also, can you confirm that the interval you mentioned in the two cases from SYSTEM_EVENT_STA_START to SYSTEM_EVENT_STA_CONNECTED are 1100ms in the first case and 300 ms in the second and not the other way around as you mentioned? This definitely has noth

[2019-07-18 04:40] #1704 closed

[2019-07-18 04:47] boarchuz commented on #3784
That's right, sorry I mixed them up above.

[2019-07-18 04:58] negativekelvin commented on #3784
The delay is definitely due to `nvs_set_blob sta.apinfo`.  When you patch nvs_api to ignore writes to that key the delay goes away.

[code]
[code]

[2019-07-18 05:17] tony-ward commented on #3714
Thank you guys, we will implement this workaround asap!

[2019-07-18 05:31] projectgus commented on #1704
(This issue is fixed in esptool v2.7, but we haven't updated the esptool submodule in the ESP-IDF master branch yet. This should happen in the next week or so.)

[2019-07-18 05:37] sagb2015 commented on #3784
@negativekelvin When you say your are able to reproduce the issue. Do you see the delay, **every** time without flash erase?

[2019-07-18 05:49] negativekelvin opened #3794 "NVS key misc::log erased and written every time wifi is init? (IDFGH-1530)"
This key seems to be forcibly erased and rewritten each time wifi is init, even if the value hasn't changed.  I don't know what it is for, but it seems undesirable.

[code]

[code]

[2019-07-18 05:52] negativekelvin commented on #3784
@sagb2015 yes, i see it every time if esp_wifi_set_config is not called.  Also I don't think it is related to nvs_set_blob sta.apinfo because I patched nvs_api to ignore that key and it did not eliminate the delay.

[2019-07-18 06:19] koobest commented on #2808
Hi, Thank you for feedback on this issue. we will fix this bug soon.
@wingunder thanks for your PR, but we can use `esp_ipc_call` to fix this bug.

thanks !!

[2019-07-18 06:41] 0neblock commented on #3785
Hi @igrr Thanks for the reply.

I haven't received a crash for a couple of days, I have a feeling it might be related to these lines:

[code]

I had `#define CLEAR_BONDS = 1`, which caused `nvs_flash_erase();` to be after `nvs_flash_init();`
Could this have been the cause of the ASSERT?

[2019-07-18 06:46] igrr commented on #3785
Yes, calling erase after init would most definitely be an issue.

[2019-07-18 06:55] negativekelvin commented on #3784
I updated to latest master and erased flash.  I am now seeing the same delay both with and without calling esp_wifi_set_config.  So I am not sure anymore.

[2019-07-18 07:45] costaud commented on #3735
There is an passage in ECO documentation about this.

"3.8 Due to the flash start-up time, a spurious watchdog reset occurs when ESP32 is powered up or wakes up from Deepsleep. "

"If the ESP32 reads from the flash chip before it is ready, invalid data can cause booting to
fail until a Watchdog Timer reset occurs. This can occur on power-on and on wake from
Deep-sleep, if the ESP32 VDD_SDIO is use

[2019-07-18 07:49] sagb2015 commented on #3794
It is used to store the log level of different WiFi submodules (check esp_wifi_set_debug_log). Can you provide the commit ID where the dump is shown? I am not able to see the dump on latest commit.

[2019-07-18 08:08] negativekelvin commented on #3794
It was happening on ad3b820 but I don't see it anymore after erasing flash so I am going to close this

[2019-07-18 08:08] tomasmcguinness commented on #3793
Thanks for the quick rely, @igrr. I ended up installing greadlink and updating the script.

[2019-07-18 09:05] piltom commented on #3587
It gets triggered all the time. tiT got stuck in an infinite loop, probably due to the wifi error. Unfortunately it's been a month since i posted the issue and i don't have the code anymore.

[2019-07-18 12:37] boarchuz commented on #3784
Yeah it's definitely an auth thing. I can see CPU0 is stuck doing "pbkdf2_sha1()" every time without the fix, whereas it only runs once on first connection with the fix. Even the comments mention that it is "very slow" - it's the direct cause of that additional ~800ms.
I see the WPA cryptography component has changed a lot in the last month or so with some significant commits, so I gave up on trac

[2019-07-18 14:13] sagb2015 commented on #3784
After debugging, it was found that @adb820 commit mentioned by @negativekelvin, esp_wifi_set_config  makes wifi library code to check if ap_info stored in NVS already has a valid PMK generated from previous connection. This is not the case, if you directly connect. As a result, PMK is always generated if you do wifi_init/start/connect sequence.  PMK generation takes a lot of time. The correspondin

[2019-07-18 14:15] sagb2015 commented on #3784
Just to add, this also explains why issue is WPA2 specific.

[2019-07-18 15:31] negativekelvin commented on #3784
@sagb2015 mbedls version is faster
[code]

[2019-07-18 17:42] chegewara opened #3795 "1 stupid question (IDFGH-1531)"
This is from documentation:
https://docs.espressif.com/projects/esp-idf/en/v3.1.3/get-started-cmake/windows-setup.html
[code]

I dont understand why its going to deprecate GNU make system, but i accept that, i will have to learn cmake, thats fine. But i dont in documentation for v3.1.x is missing link to msys2 and instruction how to use it since it will be deprecated in v5?
The problem is that Aws

[2019-07-18 18:18] #3795 closed

[2019-07-18 19:29] rnascunha opened #3796 "Wifi connection problem to specific router (IDFGH-1532)"
Hi,

I just updated the ESP-IDF (v4.0-dev-1287-gd7e659df2) and my ESP32 stop connecting my router. My router is a ARRIS TG1692A. With older versions of ESP-IDF (v4.0-dev-546-gad3b820e7) it was working perfectly.

The following scenarios was tested:
Router ARRIS / WPA2-PSK / Updated ESP-IDF - Not working;
Router ARRIS / Open  / Updated ESP-IDF - Working;
Router ARRIS / WPA2-PSK / Old ESP-IDF - Work

[2019-07-18 20:10] negativekelvin commented on #3796
https://github.com/espressif/esp-idf/issues/3725

[2019-07-18 21:31] rnascunha commented on #3796
@negativekelvin , thanks!

Using ```idf.py erase_flash``` resolves the problem. I will close this issue and keep track of the permant solution at #3725 .

[2019-07-18 22:42] Reiner1210 opened #3797 "New toolchain required (IDFGH-1533)"
Hello,

the new IDF requires a new toolchain but the links in you docu are still the old one
I only found this
https://www.esp32.com/viewtopic.php?t=7400

[2019-07-18 23:01] negativekelvin commented on #3794
Ok I can reproduce this.  If the log blob is not expected format then it will erase and rewrite every time.  For example if the log is set to the 24 byte blob shown above, it will occur.  The key will be erased but instead of writing a new blob with correct format (length = 4?) it will still write a 24 byte blob.  Then on the next boot the same will happen.

[2019-07-19 01:13] negativekelvin commented on #3797
https://docs.espressif.com/projects/esp-idf/en/latest/get-started/index.html#get-started-set-up-tools

[2019-07-19 03:25] sagb2015 commented on #3796
The fix for the same is merged internally and should be available soon. As mentioned on #3725, you can use [this](https://github.com/espressif/esp-idf/issues/3726#issuecomment-508789844) workaround until then.

[2019-07-19 04:31] koobest commented on #2963
Hi, @hchaudhary1
I tried  your example with the pattern, and tested for a few minutes, but can not reproduce your issue.

[code]
The strange thing is that every time WiFi is reconnected, The UART task can receive 5 to 6 packets. But in the your log, I only saw 2 packets. So can you try the latest master branch ?

thanks !!

[2019-07-19 06:22] koobest commented on #3478
Hi, have you solved this issue?

[2019-07-19 06:53] koobest commented on #3509
Hi, @keesus
Have you solved this issue?

You mean when you send this sequence with ESP32, it is works to some devices, but not for other devices?

Is this problem caused by the incorrect carrier frequency? Or the accepted data is wrong, so the data sent is wrong?

thanks !!

[2019-07-19 06:56] Alvin1Zhang commented on #3760
@xiaodingding Hi. Would you help share if any updates for the issue? Thanks.

[2019-07-19 07:08] Alvin1Zhang commented on #3743
@jkockx Thanks for reporting the issue, would you help share any logs for the 1st question by @WCCWCC ? Thanks.

[2019-07-19 07:08] jitin17 commented on #3285
We have accepted https://github.com/espressif/esp-idf/pull/3528, so closing this issue.

[2019-07-19 07:18] Esp-Doc commented on #3751
Will do. Thanks!

[2019-07-19 07:33] Alvin1Zhang commented on #3733
@tutuwin Thanks for reporting the issue, sorry that we tried but didn't reproduce your issue. Would you help share if any updates from your side? Has your issue been resolved? Thanks.

[2019-07-19 07:38] Alvin1Zhang commented on #3710
@bpietsch Sorry for getting back to you so late. Thanks for reporting the issue. Would you please help provide more details as suggested in the [issue template](https://github.com/espressif/esp-idf/blob/master/docs/issue_template.md)? Thanks.

[2019-07-19 08:02] Alvin1Zhang commented on #3680
@yunling-cn Hi, thanks for reporting the issue, would you please share if any updates for the issue? Has your issue been resolved? Thanks.

[2019-07-19 08:48] Alvin1Zhang commented on #3518
@dsyleixa Thanks for reporting the issue, would you help share if any updates for the issue? Thanks.

[2019-07-19 08:59] Alvin1Zhang commented on #3494
@lettierimarco Thanks for your feedback, would you please help share if any updates for your issue? Thanks.

[2019-07-19 09:05] Alvin1Zhang commented on #3465
@dinets Hi, thanks for reporting the issue. Would you help share if any updates for the issue? by "without MSYS2" do you mean CMake? Thanks.

[2019-07-19 09:18] Alvin1Zhang commented on #3327
@GitOfLance Thanks for reporting the issue, would you help share if any updates for the issue? Thanks.

[2019-07-19 09:32] Alvin1Zhang commented on #3171
@wgcod Thanks for reporting the issue, feel free to reopen the issue if it still exists. Thanks.

[2019-07-19 09:39] Alvin1Zhang commented on #3047
@leenowell Thanks for reporting the issue. @dongdong004 Thanks for the fix. Feel free to reopen the issue if it still exists. Thanks.

[2019-07-19 09:39] #3047 closed

[2019-07-19 10:25] krzychb commented on #3158
Resolved in 752c7c32d460a92903adb50a60b33db729bfc28a.

Thank for reporting @gmos!

[2019-07-19 10:25] #3158 closed

[2019-07-19 11:02] KonstantinKondrashov commented on #2767
Hi @X-Ryl669!
I am trying to solve this issue. I am very late, do you have a solution for this? If not could you give an example of how to reproduce it? It will be useful.
You did not fill the error template. Did you see the error on the ESP-IDF : v3.2-dev-1602-g4d021d7 form your repo?
The sdkconfig file will be useful as well.

In the comments above, you linked this issue to the SNTP operation an

[2019-07-19 12:07] neorevx opened #3798 "CAN bus controller reference / multi channels (IDFGH-1534)"
There is no information about the 'can bus controller' peripheral in the reference manual and it is already implemented in the IDF. The peripheral memory position (0x3FF6_B000 - 0x3FF6_BFFF) is marked as "Reserved" in document.

I would like more information about the peripheral. I would check if there is a possibility of using more than one channel. There are other "reserved" memory spaces in the

[2019-07-19 12:10] koobest commented on #3620
Since `uart_tx_wait_idle(uint8_t uart_no)` has parameters `uart_no`, can we use bitmaps to specify whether flow control needs to be turned off? @igrr

[code]

[2019-07-19 12:30] glennhuber commented on #1118
@mywang-espressif  Any idea when SCO send/receive audio over HCI will be fully functional?

[2019-07-19 13:10] sagb2015 commented on #3794
@negativekelvin  I am not able to reproduce this at the mentioned commit. Can you be more specific about the steps to reproduce (like maybe changing menuconfig log levels or so)?

[2019-07-19 13:14] sagb2015 commented on #3784
@negativekelvin Definitely. We have marked this as an action item to be done.

[2019-07-19 13:26] X-Ryl669 commented on #2767
Hi, yes it's a old issue now.
I seems to happen because the SNTP server calls settimeofday while the other code is in the time function holding a mutex (as far as I remember). In the same time, I had the issue (that's now fixed) that running timer survived the reboot and calling my functions while object were not initialized yet.
So it might be related to a stack or memory corruption (sadly, at th

[2019-07-19 15:18] Arthedian commented on #3763
Any update?

[2019-07-19 16:08] negativekelvin commented on #3794
It actually still happens on latest.  Just manually set misc::log to the blob shown one time.  Then whenever wifi stack is init it will erase and rewrite it but it will keep length of 24.  If you erase the key manually then it will write correct blob length 4 and it will not erase it every time.

[2019-07-19 17:01] ducalex opened #3800 "Detect factory reset after deep sleep (IDFGH-1536)"
## Environment

    Development Kit: Lolin32
    Kit version
    Module or chip used: ESP32-WROOM-32D
    IDF version: v3.3-beta1-849-g630ffde6b
    Build System: Make
    Compiler version: crosstool-ng-1.22.0-80-g6c4433a5
    Operating System: Windows
    Power Supply: USB

## Problem Description

If the factory reset gpio is asserted while booting from deep-sleep then the application is started

[2019-07-19 17:28] hchaudhary1 commented on #2963
Ok, will retest in a few weeks

[2019-07-19 18:43] dsyleixa commented on #3518
to make sure that we are talking about the same sets of examples:
which repo (ur)l is recommended by you for Arduino users who are looking for step-by-step tutorial examples?

[2019-07-19 18:54] DrTester0x42 opened #3801 "SPI_slave.c recvbuf malformed"
I am using a modified version of https://github.com/espressif/esp-idf/tree/master/examples/peripherals/spi_slave essentially the master just "listens" and the slave just sends data.

However, on my master side I receive the following data while `make monitor`:

[code]

The sender is sending a string:

Here is my two code sets:

https://gist.github.com/DrTester0x42/a0303af146a92e4d58f44dd33c77e66a

[2019-07-19 18:56] DrTester0x42 commented on #3801
Also I am using the ESP32 Huzzah https://learn.adafruit.com/adafruit-huzzah32-esp32-feather

[2019-07-19 22:54] negativekelvin commented on #3784
@sagb2015 can you also please check why 4-way handshake timeout loop happens when you call esp_wifi_get_config + esp_wifi_set_config without erasing flash?

[2019-07-20 02:02] GitOfLance commented on #3327
@Alvin1Zhang The problem is solved.According to the suggestion，use `nvs` to store key-value pairs and use the file system to store large amounts of data.There is nothing to add. You can close this issue now.
Thank you！

[2019-07-20 02:54] negativekelvin commented on #3800
Good suggestion.  How about something like

[code]

[2019-07-20 03:54] revtronix opened #3802 "SPI Flash: set write protect fails (IDFGH-1538)"
## Environment

- Development Kit:     none
- Module or chip used:  ESP32-PICO-D4
- IDF version: v4.0-dev-1290-g15fc4556a
- Build System:         Make
- Compiler version: 1.22.0-80-g6c4433a5
- Operating System:   Windows
- Power Supply:        external 3.3V

## Problem Description
OTA updates failing at esp_ota_write API call. Flash encryption is enabled. No issue with IDF v3.3.

### Expected Beha

[2019-07-20 08:21] koobest commented on #2845
Hi, For the interrupt status register, there are two concepts:
* Interrupt enable register: When set to 1, response to the interrupt trigger signal, When set to 0, do not response to the interrupt trigger signal.
* Interrupt Status Register: when interrupt is disabled, the interrupt status register will not be set even if the interrupt trigger signal arrives.
* Interrupt Raw Status Register: When

[2019-07-20 09:12] yappy opened #3803 "httpd_req_get_hdr_value_str() fails to find a field key after an empty value"
## Environment
- IDF version (run ``git describe --tags`` to find it):
    v3.2
- Build System:         Make
- Compiler version (run ``xtensa-esp32-elf-gcc --version`` to find it):
    1.22.0-80-g6c4433a
- Operating System:     Windows (WSL)
- Power Supply:         USB

## Problem Description
When there is an empty value entry in HTTP header, httpd_req_get_hdr_value_str() returns ESP_ERR_NOT_FOUND

[2019-07-20 13:47] abanejad commented on #1457
Had the same issue

[2019-07-20 13:53] abanejad commented on #1457
Had the same issue
had to search a bit a change my code till i I finally found out that calling `vTaskStartScheduler() ` is not needed since is running when esp-idf calls the main function. I Deleted it and it started working. If this  is true please correct the API references for freertos so we wont be misled.
Thank You

[2019-07-20 14:12] chegewara commented on #1457
@abanejad Could you paste link to API reference you its misleading?

[2019-07-20 14:47] abanejad commented on #1457
@chegewara yeah sure [Espressif's esp-idf's official documentation on Freertos](https://docs.espressif.com/projects/esp-idf/en/latest/api-reference/system/freertos.html)
As you can see there is an example and few other macros refering to the `vTaskStartScheduler()`
Based on this I was struggling a while because I didn't know the fact I just mentioned before and I found it out after searching it th

[2019-07-20 15:01] negativekelvin commented on #2845
@koobest

Is it?
GPIO_STATUS_REG - raw, but called status?
GPIO_ACPU_INT_REG - status?
GPIO_PCPU_INT_REG - status?

[2019-07-20 15:23] chegewara commented on #1457
@projectgus @krzychb

[2019-07-21 00:32] xiaodingding commented on #3760
I have solved this problem. Thank you。

[2019-07-21 00:32] xiaodingding commented on #3760
I have solved this problem. Thank you

[2019-07-21 00:32] #3760 closed

[2019-07-21 02:08] bradd-pktlzyer commented on #3453
The suggestions in bug #4631 referenced by @giroudon worked for me as well. The key for me was the removal of build dir, that fixed all my issues.

[2019-07-21 07:15] 0neblock commented on #3582
Hi, is this functionality planned in a future update to esp-idf ?

[2019-07-21 07:37] mahavirj commented on #3213
Closing due to lack of response.

[2019-07-21 07:37] #3213 closed

[2019-07-21 09:22] negativekelvin commented on #3802
https://github.com/espressif/esp-idf/blob/beaefd3359973dcf8bba4e1d4462aa7f5d67be6a/components/spi_flash/Kconfig#L80-L82

https://github.com/espressif/esp-idf/blob/28f1cdf5ed7149d146ad5019c265c8bc3bfa2ac9/components/nvs_flash/test_nvs_host/sdkconfig.h#L2-L3

Hmm

[2019-07-21 10:36] hansmbakker commented on #3172
There is a research paper concluding that the use of Esptouch creates a security risk since it does not use encryption by default:
https://loccs.sjtu.edu.cn/~romangol/publications/wisec18.pdf

It would be good if Espressif would implement fixes here.

[2019-07-21 13:33] huming2207 opened #3804 "Websockets client library example: where to handle user context in event callback? (IDFGH-1542)"
## Environment

- IDF version (run ``git describe --tags`` to find it): v4.0-dev-1287-gd7e659df2
- Build System: CMake
- Compiler version (run ``xtensa-esp32-elf-gcc --version`` to find it): gcc version 8.2.0 (crosstool-NG esp32-2019r1)
- Operating System: Linux

## Problem Description

Hi all,

I am a bit confused with the WebSockets client library sample project. In the event handler function is

[2019-07-21 13:55] huming2207 commented on #3804
Ah sorry, my bad...

There's a handler_arg and I just need to use that...

[2019-07-21 13:55] #3804 closed

[2019-07-21 17:12] jkockx commented on #3743
Thanks for your reply. I succeeded in provisioning over PB-ADV by changing some parameters in the menuconfig as described in https://www.esp32.com/viewtopic.php?t=11332

[2019-07-21 20:06] anurag-kar commented on #3803
@yappy Thanks for reporting the issue. This [patch](https://github.com/espressif/esp-idf/files/3415000/httpd_parser.patch.txt) should fix the issue. Let me know if it works for you. In the meanwhile we'll try to merge the bugfix as soon as possible.

[2019-07-21 23:22] ducalex commented on #3800
@negativekelvin That seems reasonable and the safest option.

Thank you for your code, I will use it for my current project and I hope that it eventually makes its way in esp-idf!

[2019-07-22 01:46] nevercast opened #3805 "Document rom/gpio.h function behaviour. (IDFGH-1543)"
Hello,

I'm writing a deepsleep wake stub and using the ROM GPIO functions from here [rom/gpio.h](https://github.com/espressif/esp-idf/blob/master/components/esp_rom/include/esp32/rom/gpio.h).

Please can you document the behaviour of these functions more clearly, for example:
1. Does `gpio_input_get` ensure that the input mux is enabled?
2. Does `gpio_output_set` set the GPIO function in IOMUX?
3

[2019-07-22 02:33] koobest commented on #2845
@negativekelvin
Yes,  `GPIO_ACPU_INT_REG` and `GPIO_PCPU_INT_REG` are the status register.

[2019-07-22 02:59] dlafont opened #3806 "Setup - ESP-IDF Tools 2.0 Installer for WIndows. IDF_TOOLS_PATH cant be changed once set from previous install. (IDFGH-1544)"
When using the new installer for ESP-IDF Tools 2.0 for Windows 10.  If you have set the ESP-IDF Tools installations folder incorrectly you can no longer change it to some other location in subsequent install attempts.

The first time you install it asks "Select Destination Locations" and "Where should the ESP-IDF Tools be installed?".  After the first install attempt, it no longer asks you and use

[2019-07-22 03:27] projectgus commented on #1457
Hi @abanejad ,

Thanks for pointing this out. That docs page is generated from the FreeRTOS docs directly, and you're right that this difference (scheduler already running when app_main() runs), is not indicated there. Will fix.

[2019-07-22 03:35] dlafont opened #3807 "ESP-IDF Tools 2.0 Installed for windows fails with "Installation has failed with exit code 7" (IDFGH-1545)"
The windows installed fails at a point when extracting ESP-IDF reference repository
with error "Installation has failed with exit code 7".

This appears to happen if you accidentally have space and dash " -" in your filename for your destination installation directory.

This is further complicated if you try to rerun and re-install using the installer because there is no way to change (it appears)

[2019-07-22 04:31] igrr commented on #3806
@dlafont To change the IDF_TOOLS_PATH, please go to "Add or remove programs" in Settings, and uninstall "ESP-IDF Tools 2.0". Then install again, the option to choose the installation path will become available.

[2019-07-22 06:41] FFtust commented on #3045
Hi,
I have randomly  got the log "ASSERT_PARAM(1024 0), in rwble.c at line 230" too, any idea about this problem?

**Environment**:
    Module: [ESP32-WROOM] -- SPIRAM(4M)
    IDF version:   a18f92b09b2e87a3c0424d

**Problem Description**:
     It only cames when Bluetooth(run as a device) is adverstising,   following with a system restart, no backtrace.  But after bluetooth is connected, nothing

[2019-07-22 07:45] YuriChen1028 opened #3808 "Why the menuconfig 'store ble mesh node configuration persistently' dose not work? (IDFGH-1546)"
I have enabled the function 'component config -> Ble mesh support -> store ble mesh node configuration persistently' in the menuconfig, but when i turn off the devkit board and turn on again,  the nrf Mesh app remind me provision again.

[2019-07-22 07:47] YuriChen1028 commented on #3808
the SDK version is : mesh-v0.6.1

[2019-07-22 11:02] #3756 closed

[2019-07-22 13:08] yappy commented on #3803
Thank you very much!
It works in my app.  It is not urgent for me because there is a workaround (set a non-empty value on the client side) for it.

[2019-07-22 15:07] sjhodgen commented on #3793
I changed the command to `stat`, per the man page on `readlink`, which is really the man page for `stat`.

[2019-07-22 18:22] coolcodehere opened #3809 "EFUSE: Cannot partially write to efuse (IDFGH-1547)"
I'm currently trying to figure out efuse and my understanding is that once a bit has been written to it can't be erased. For some reason though after only writing '0x01' to offset 0 of efuse, I can't write to any other byte in the block.

Command used to write to efuse:
`espefuse.py -p ~/dev/cu.valve3 burn_block_data --offset 0 BLK3 test.bin`

No other offset is writable now.

Python code used to

[2019-07-22 18:30] AshUK commented on #2262
+1 we really need this functionality to be able to use RPA with smartphones

[2019-07-22 18:38] KaeLL opened #3810 "What is "Double exception"? (IDFGH-1548)"
I've been getting this exception after isolating a corner case to trigger it. I tried looking online for information about it, and couldn't find anything but the xtensa ISA pdf file, in which it's said to be a vector of CPU exceptions rather than the exception itself.
What I want to know is: what is this class of exceptions? Why the ESP32 doesn't automatically reboots itself after this (class of)

[2019-07-22 19:46] dexterbg commented on #2892
Solved: after upgrading our esp-idf clone to v3.3-beta3, builds with toolchain -95 now work without any problems so far.

[2019-07-22 19:50] dexterbg commented on #2892
Sorry, I was too quick assuming no problems. My build just began crashing and won't stop. The -93 build before has been running fine for two days, so there still is an issue with -95.

[2019-07-22 20:17] negativekelvin commented on #3809
https://github.com/espressif/esptool/wiki/espefuse#force-write-always

[2019-07-22 23:03] stephenlstrange2 commented on #3793
run
reload(sys)
sys.setdefaultencoding('utf8')

[2019-07-23 01:28] igrr commented on #3810
@KaeLL Can you please share the output you get from the monitor when this issue happens? The interesting part is the beginning of the crash, the first couple of panic handler output cycles.

DoubleException happens when an exception happens while handling another exception. So there are two issues here: first is that the panic handler crashes (triggers the DoubleException) and second is that it ke

[2019-07-23 01:46] xuhongv opened #3811 "When i work in 3.1 branch，WARNING: Failed to find Xtensa toolchain, may need to alter PATH or set one in the configuration menu (IDFGH-1549)"
When i work in 3.1 branch in windows10 , then error message :

`WARNING: Failed to find Xtensa toolchain, may need to alter PATH or set one in the configuration menu
`

But i checkout in master branch in windows10 , is normal to build ...

[2019-07-23 01:49] xuhongv commented on #3811
![image](https://user-images.githubusercontent.com/25237870/61676596-2bb71e00-ad2f-11e9-9247-0f1618d2f6ab.png)

[2019-07-23 02:47] bestony opened #3812 "How do i connect another BLE Device by mac address (IDFGH-1550)"
## Environment

- Development Kit:  ESP32-DevKitC
- Kit version (for WroverKit/PicoKit/DevKitC):  v4
- Module or chip used:  ESP32-WROVER-B
- IDF version (run ``git describe --tags`` to find it):
    // v3.2-dev-1148-g96cd3b75c
- Build System:       platformio
- Compiler version (run ``xtensa-esp32-elf-gcc --version`` to find it):
    // 1.22.0-80-g6c4433a
- Operating System:     macOS
- Power Sup

[2019-07-23 04:23] jade111 commented on #2982
Hi igrr，

Can you start this simulation. Or are you planning to do this？

[2019-07-23 05:12] igrr commented on #2982
No, this is still in the backlog, sorry.

[2019-07-23 06:56] dhrishi commented on #3623
This has been fixed with commit 416e753b7c3e539c44e0fb743f22c75bff7a42b6

[2019-07-23 07:22] mahavirj commented on #3781
@ammaree Is it possible to share your `sdkconfig` file (from example build)?

[2019-07-23 07:54] MrHezhisheng commented on #3415
ASSERT_PARAM(1024 0), in rwble.c at line 230
ets Jun  8 2016 00:22:57

rst:0x8 (TG1WDT_SYS_RESET),boot:0x33 (SPI_FAST_FLASH_BOOT)
configsip: 0, SPIWP:0xee
clk_drv:0x00,q_drv:0x00,d_drv:0x00,cs0_drv:0x00,hd_drv:0x00,wp_drv:0x00
mode:DIO, clock div:2
load:0x3fff0018,len:4
load:0x3fff001c,len:720
ho 0 tail 12 room 4
load:0x40078000,len:6940
load:0x40080000,len:5812
entry 0x40080e08
eFuse Two Point: N

[2019-07-23 07:57] MrHezhisheng commented on #3415
I'm having trouble rebooting. Here's the print log:

Can you give me some advice?

[2019-07-23 08:04] ammaree commented on #3781
@mahavirj

If you want the exact SDK for the "before" or "after" build, might be  a bit difficult.
The attached sdkconfig file is for the application as it currently stands, but the only items changed relate to log levels, nothing to do with LwIP.

File extention was changed to allow attaching. Hope this helps

[sdkconfig.txt](https://github.com/espressif/esp-idf/files/3420876/sdkconfig.txt)

[2019-07-23 08:06] MrHezhisheng opened #3813 "Automatic restart problem. ASSERT_PARAM(1024 0), in rwble.c at line 230. (IDFGH-1552)"
I'm having trouble rebooting. Here's the print log:

ASSERT_PARAM(1024 0), in rwble.c at line 230
ets Jun 8 2016 00:22:57

rst:0x8 (TG1WDT_SYS_RESET),boot:0x33 (SPI_FAST_FLASH_BOOT)
configsip: 0, SPIWP:0xee
clk_drv:0x00,q_drv:0x00,d_drv:0x00,cs0_drv:0x00,hd_drv:0x00,wp_drv:0x00
mode:DIO, clock div:2
load:0x3fff0018,len:4
load:0x3fff001c,len:720
ho 0 tail 12 room 4
load:0x40078000,len:6940
load:0x4

[2019-07-23 09:57] ganeshlandge commented on #3016
@NgJonesGitHub I tried the same on esp32 with WIFI_MODE_APSTA. It works fine for me.
[https://github.com/ganeshlandge/apsta_mode](url)
Above is my logic. Let me know if there is an issue again.

[2019-07-23 10:59] B-chethan opened #3814 "esp eye for reading QR code (IDFGH-1553)"
----------------------------- Delete below -----------------------------

If your issue is a general question, starts similar to "How do I..", or is related to 3rd party development kits/libs, please discuss this on our community forum at esp32.com instead.

INSTRUCTIONS
============

Before submitting a new issue, please follow the checklist and try to find the answer.

- [ ] I have read the docu

[2019-07-23 11:28] sagarvegg opened #3815 ""example_ble_sec_gatts_demo" examples central device connect with pairing successfully for most of device but only one central device facing pairing and connection failed (IDFGH-1554)"

[2019-07-23 11:48] crespum commented on #2658
@blueMoodBHD @Alvin1Zhang  I can confirm this is still an issue after applying 791209d. If the phone initiates the connection it works fine, however if the ESP is the initiator (through `esp_a2d_sink_connect(...)`), the connection is lost at some point. The logs differ depending on the IDF version, but overall they point at the same files:
[code]

[2019-07-23 12:11] sagarvegg commented on #3815
**Environment**

- Development Kit: [ESP32-Wrover-Kit]

- Kit version (for WroverKit):[v4]

- Module or chip used: [ESP32-WROVER-B]

- IDF version (run git describe --tags to find it): v4.0-dev-478-gdf61612f8-dirty

- Build System: [Make]

- Compiler version (run xtensa-esp32-elf-gcc --version to find it): (crosstool-NG crosstool-ng-1.22.0-80-g6c4433a5) 5.2.0

- Operating System: [Windows]

- Powe

[2019-07-23 12:17] sagarvegg commented on #3815
I used "nRF Connect APP" for connect ble "example_ble_sec_gatts_demo" with all idf version but all have same issue only one device face problem to connect with pairing...
And all other device connect without any issue; so what should be problem for failing to connect

[2019-07-23 12:38] gengyuchao commented on #3815
How many devices did you try to connect? As far as I know, there are a maximum number of BLE connections.

[2019-07-23 12:39] AbnerFederer commented on #3550
What's your definition of the real time 2-way voice? According to the BT frame, the SCO packets will not be the real "real time 2-way" connection...if the consequence is the voice from phone to the ESP32 cannot be sent and instead play on the phone itself, then please give some more evidence please~

[2019-07-23 12:51] gengyuchao commented on #3812
Their have a connection API such as "esp_err_t esp_ble_gattc_open(esp_gatt_if_t gattc_if, esp_bd_addr_t remote_bda, esp_ble_addr_type_t remote_addr_type, bool is_direct);" in esp-idf ,but I'm not sure whether  this API in the platformio too. The "remote_bda" is the mac address.

[2019-07-23 13:16] Matko555 commented on #1703
/usr/bin/env: „python“: No such file or directory

my path is definitely correct (checked for like a 100 times now),
any idea what else can it be?

[2019-07-23 13:42] sagarvegg commented on #3815
@gengyuchao I know that maximum 9 number of device able to connect with esp32 multi server but that was no issue I connect one by one device connect and disconnect that means at a single instance of time only single device try to connect with pairing...

I try to connect several device one by one but only single device have face issue of ble paring failure...
[failure device: LG W30 mobile --> nRF

[2019-07-23 14:33] gengyuchao commented on #3815
Is the same device always in question? If so, it may be a problem with the device itself. And as far as I know, the maximum number of connections for ESP32 Bluetooth is 7.

[2019-07-23 15:59] Quiscale opened #3816 "[BLE Mesh] How to turn a node into a provisioner ? (IDFGH-1555)"
## Environment

- Development Kit : [ESP32-Wrover-Kit|ESP32-DevKitC|ESP32-LyraT]
- Kit version : [v3|v4]
- Module or chip used:  [ESP32-WROOM-32|ESP32-WROVER]
- IDF version : v4.0-dev-1191-g138c941fa
- Build System:         [Make]
- Compiler version: 8.2.0
- Operating System:     [Windows]
- Power Supply:         [USB|external 5V]

## Problem Description

I am currently trying to use the BLE Mesh

[2019-07-23 16:43] #3809 closed

[2019-07-23 17:39] negativekelvin commented on #3814
https://github.com/InfiniteYuan1/esp32-camera-qr-recoginize

[2019-07-23 17:51] KaeLL commented on #3810
[code]
[code]
[code]

Unhelpful, I know. But that's all that it prints. It should be noticed that the app was compiled with Info level log

Here's the complete log of all runs
[code]

[2019-07-23 17:56] KuDianWanJia opened #3817 "Windows自带的命令窗口（命令提示符）搭建ESP32开发环境无法通过idf.py menuconfig进入配置界面的问题？？？"
### 环境
开发工具包：https://dl.espressif.com/dl/esp-idf-tools-setup-2.0.exe
工具包版本：V2.0（https://dl.espressif.com/dl/esp-idf-tools-setup-2.0.exe）
使用的模块或芯片：ESP32
IDF版本：/v4.0-dev-1287-gd7e659df2
构建系统：[make\cmake]
编译器版本：xtensa-esp32-elf-gcc (crosstool-NG crosstool-ng-1.22.0-80-g6c4433a5) 5.2.0
操作系统：Windows
电源：USB
### 问题描述
我在通过Windows自带的命令窗口(命令提示符)搭建ESP 32开发环境时，在执行 `idf. py menuconfig` 时出现以下错误：
`Checking Pytho

[2019-07-23 19:01] raldone01 opened #3818 "Build system error in fnmatch.py (IDFGH-1557)"
## Environment

- IDF version v4.0-dev-1287-gd7e659df2
- Build System:        CMake
- Compiler version xtensa-esp32-elf-gcc (crosstool-NG esp32-2019r1) 8.2.0
- Operating System:     Windows

## Problem Description

If I build try to build the app target. All files are compiled properly but the linking fails with the following exception:

[code]

[2019-07-24 02:14] dlafont opened #3819 "Setup - ESP-IDF Tools 2.0 fails with exit code 1 at installation of mconf tools (IDFGH-1558)"
Installer fails with:
PermissionError: [WinError 5] Access is denied: 'C:\\Users\\dlafont\\Dropbox\\03-ESP-IDF\\tools\\mconf\\v4.6.0.0-idf-20190628' -> 'C:\\Users\\dlafont\\Dropbox\\03-ESP-IDF\\tools\\mconf\\v4.6.0.0-idf-20190628.tmp'

See attached log.

[Setup Log 2019-07-23 #001.txt](https://github.com/espressif/esp-idf/files/3424726/Setup.Log.2019-07-23.001.txt)

----------------------------- D

[2019-07-24 02:29] bestony commented on #3812
@gengyuchao i have this api, but in platform io, i use Ardunio Code as a BLE Server and Client, I didn't have the instance of `esp_gatt_if_t`

[2019-07-24 02:36] Alvin1Zhang commented on #3817
@KuDianWanJia Thanks for reporting the issue. Would you please help provide more details as suggested in the [issue template](https://github.com/espressif/esp-idf/blob/master/docs/issue_template.md)? Thanks.

[2019-07-24 03:12] nevercast opened #3820 "Unable to call `gpio_init` from Deepsleep Wake Stub. (IDFGH-1559)"
When I try to call `gpio_init()` from a Deepsleep Wake Stub (So that I may use the `gpio_*` functions in ROM), I get a linker error stating that `gpio_init()` in `rom/gpio.h` is undefined. I believe this is because it is commented out from the linker script (below).

https://github.com/espressif/esp-idf/blob/master/components/esp_rom/esp32/ld/esp32.rom.ld#L1458-L1462

Please provide a way forward.

[2019-07-24 03:22] projectgus commented on #3820
Hi @nevercast ,

Thanks for this bug report. Sorry I forgot about the commented linker script entries when I originally suggested this approach.

For now, as a workaround you can uncomment in the linker script and use this - provided the code is only used from the wake stub it will be OK.

If these functions are called from a running app (after wake stub is finished and the rest of the system has

[2019-07-24 03:51] chegewara commented on #3812
https://github.com/espressif/arduino-esp32/blob/master/libraries/BLE/src/BLEClient.h#L37
and here:
https://github.com/espressif/arduino-esp32/blob/master/libraries/BLE/src/BLEAddress.h#L23

If you want to get `esp_gatt_if_t` you can use one of those:
https://github.com/espressif/arduino-esp32/blob/master/libraries/BLE/src/BLEDevice.h#L27-L29

[2019-07-24 04:37] sagarvegg commented on #3815
same device means what you actually tell me that all device os or ble version same?
if yes than four device with 4.0 Bluetooth version and  two device with 4.2 Bluetooth version

and issue with only one device connection which have Bluetooth version 4.2

[2019-07-24 04:45] chegewara commented on #3815
I have issue with my samsung S9+ smartphone.
Some time ago i was testing esp32 with this smartphone, by running BLE server in nRF connect and i could connect to it, most the time.

Few weeks ago i updated android to v9.0 and since then i cant connect esp32 to samsung server(not even single time), but i still can connect from smartphone to esp32.
When i am trying to connect esp32 to smartphone i am

[2019-07-24 04:49] igrr commented on #3819
Thanks for the report. This may be the same issue which was described in https://github.com/espressif/esp-idf/issues/3545#issuecomment-508062313. If this is the case, running the installer again may help.
Will investigate more.

[2019-07-24 05:04] bestony commented on #3812
thanks @chegewara

[2019-07-24 05:07] sagarvegg commented on #3815
@chegewara I have oppo f11 pro device and which have already android version 9.0 and Bluetooth version 4.2; every time I connect to this device successfully without any issue than how you say that problem related to android version?

[2019-07-24 05:15] chegewara commented on #3815
Im not saying its related to android version, it is related to device or device driver. It was working on my samsung before, but after update something has been changed in it and is no longer connecting.

[2019-07-24 06:28] sagarvegg commented on #3815
Okay, @chegewara than how to again connect ble device for samsung S9+ smartphone? Issue solved or not for that device and if solved than how?

[2019-07-24 06:38] blueMoodBHD commented on #2658
Hi, I have test is with Huawei P10 and Iphone 7, it works well. What is the phone did you use? And is there other tips to reproduce it?

[2019-07-24 08:36] dobairoland commented on #3818
Hi @raldone01! Thank you for reporting this issue. I would like to ask you to give more information about it because I could not reproduce it based on the available information. I can fix this failure but it would be great to track down the root cause.

Can you please give us the full output of `idf.py -v build` after deleting the `build` directory? It will be a very long output so probably saving

[2019-07-24 08:38] #3812 closed

[2019-07-24 08:47] Reiner1210 commented on #3797
@negativekelvin And where will I find the xtensa compiler for Linux - nothing in your docu!

[2019-07-24 09:20] projectgus commented on #3797
Hi @Reiner1210,

If you're using the recent ESP-IDF master branch, the gcc 8 toolchain is needed and we've introduced the IDF Tools Installer which can manage user installation of the correct tools including the toolchain. It's mentioned here:
https://docs.espressif.com/projects/esp-idf/en/latest/get-started/index.html#id3

As you probably are familiar, if you're using an ESP-IDF v3.x branch or st

[2019-07-24 09:22] projectgus commented on #3797
Will add some description under the Linux and macOS heading so it's clearer what this does (downloads all of the required tools, including the compiler.)

[2019-07-24 09:31] PerMalmberg commented on #3624
It's been a month since this ticket was opened, would it be possible to get some feedback from Espressif, @igrr?

[2019-07-24 09:38] flyingraijin9 commented on #2991
hello,@kosukekurimoto , I tried your code and the issue seems to be that number of sockets used is greater  than the number of  maximum configured sockets.  The number of maximum configured sockets is 10 by default in IDF.You can check the same in your sdkconfig file. You can modify this value through "make menuconfig",To find the option go to Component config -> LWIP ->Max Number of Open Sockets.

[2019-07-24 09:39] WCCWCC commented on #3816
Hi Quiscale，
     Note:    bt_mesh_proxy_init, Device UUID is not initialized

     The cause of the error is that the device's uuid is not initialized.

     You need to initialize the uuid variable in `esp_ble_mesh_prov_t` .

     You can refer to the `ble_mesh_node` demo.

[2019-07-24 09:54] manish5897 opened #3821 "fatal error: wpa2/utils/base64.h: No such file or directory (IDFGH-1561)"
## Environment
- Module or chip used:  [ESP32-WROOM-32]
- IDF version : v4.0-dev-1287-gd7e659df2
- Build System:         [Make]
- Compiler version : 1.22.0-80-g6c4433a
- Operating System:     [Linux]
- Power Supply:         [USB]

## Problem Description
The library wpa2/utils/base64.h is not found in the esp-idf. May be the library is depreciate. It shows compilation error.

### Code to reproduce

[2019-07-24 09:56] DrSegatron opened #3822 "[1287] Memory corruption initializing WiFi, esp_wifi_init() (IDFGH-1562)"
## Environment

- Development Kit:      [none]
- Module or chip used:  [ESP32-WROOM-32]
- IDF version (run ``git describe --tags`` to find it):
    // v4.0-dev-1287-gd7e659df2
- Build System:         [CMake]
- Compiler version (run ``xtensa-esp32-elf-gcc --version`` to find it):
    // (crosstool-NG esp32-2019r1) 8.2.0
- Operating System:     [Windows]
- Power Supply:         [USB]

## Problem Des

[2019-07-24 09:57] #3245 closed

[2019-07-24 10:02] projectgus commented on #3821
Hi @manish5897 ,

This header is an internal header of the WPA Supplicant component and it was available in previous IDF versions, but we've made it private in IDF V4.0 as it may be changed or removed in the future.

The recommended base64 API to use is the mbedTLS one (include as `#include "mbedtls/base64.h"`:
https://github.com/espressif/mbedtls/blob/development/include/mbedtls/base64.h#L36

[2019-07-24 10:02] #3821 closed

[2019-07-24 10:23] manish5897 commented on #3821
## Problem Description
Add library mbedtls/base64.h, afterthat "base64_encode" is not found in this header.

### Code to reproduce this issue

[code]

## Debug Logs

[code]

[2019-07-24 10:53] projectgus commented on #3821
@manish5897 Sorry, I didn't explain fully. This is a different API that also implements base64 encoding. If you read the header file in the previous link then you'll see the function name and parameters - they are similar but not 100% the same.

[2019-07-24 10:55] allvto commented on #3819
Hello, I have the same issue with  os.rename - PermissionErrror

Cleaning the registry with CCLeaner as mentioned in https://github.com/espressif/esp-idf/issues/3545#issuecomment-508062313 did not solve the issue.

[Setup Log 2019-07-24 #016.txt](https://github.com/espressif/esp-idf/files/3426471/Setup.Log.2019-07-24.016.txt)

[2019-07-24 10:57] raldone01 commented on #3818
I thought I had deleted the build dir before. That did the trick...

[2019-07-24 10:57] #3818 closed

[2019-07-24 11:32] astrorafael opened #3823 "ESP32 RMT Tx (IDFGH-1563)"
## Environment

- Development Kit:      ESP32-DevKitC clone
- Kit version (for WroverKit/PicoKit/DevKitC):
- Module or chip used:  ESP32-WROOM-32
- IDF version (run ``git describe --tags`` to find it): v4.0-dev-1287-gd7e659df2
- Build System:         Make
- Compiler version (run ``xtensa-esp32-elf-gcc --version`` to find it): xtensa-esp32-elf-gcc (crosstool-NG esp32-2019r1) 8.2.0
- Operating Syste

[2019-07-24 11:41] chegewara commented on #3815
It is not solved for S9+, im no longer using it to test esp32 and instead using other esp32, which also from time to time has the same problems with connectivity (error 0x85).
Im not saying your problem is not an issue, just wanted to share the info im having similar issues with connectivity, even without pairing, which may or may not be related to peer device not only esp32.

[2019-07-24 11:58] astrorafael opened #3824 "RMT Tx Noticeable jitter (IDFGH-1564)"
-
## Environment

- Development Kit:      ESP32-DevKitC
- Kit version (for WroverKit/PicoKit/DevKitC):
- Module or chip used:  ESP32-WROOM-32
- IDF version (run ``git describe --tags`` to find it): v4.0-dev-1287-gd7e659df2
- Build System:         Make
- Compiler version (run ``xtensa-esp32-elf-gcc --version`` to find it):
  xtensa-esp32-elf-gcc (crosstool-NG esp32-2019r1) 8.2.0
- Operating System:

[2019-07-24 12:03] liuzfesp commented on #3822
Hi @DrSegatron, I just can't replicate your issue with $IDF_PATH/examples/wifi/getting_started/station and same sdkconfig (except the partition table configuration). Could you show me your demo code that can reproduce this issue?

[2019-07-24 12:15] enricop commented on #3624
Hi all, we have the same issue in our project, where we have memory constraints.
Before the recent upgrade to mbedtls 2.16.2 the allocation into SPI RAM was working. But now error occurs in tls handshake. (We are using W-Rover-B and GCC8)

[2019-07-24 12:20] liuzfesp commented on #3583
So basically this happens because ESP32 STA & ESP32 AP must be on same channel ??
Yes.

Furthermore this channel number is dictated by external AP ??
Yes.

Would it be even hardware-possible to have AP and STA channels separate ?
It's not possible.

[2019-07-24 12:37] ammaree commented on #2963
We have a similar but not exactly same problem losing characters transmitted through the UART. Background is as follows:
We have 3 separate tasks enabling access to our device using UART, HTTP and Telnet.
All 3 tasks use the same command interpreter with out going into an 8KB buffer.
If the command came in from UART then the buffered response is returned via UART, similarly with TNET & HTTP.

Exec

[2019-07-24 12:42] Quiscale commented on #3816
Hi WCCWCC,

Yes I found my error not a long time ago, I don't know why but to solve my problem I did as you said it :
That was my code :
[code]
And now It looks like :
[code]
And it works, so I need to register twice the uuid

[2019-07-24 12:42] #3816 closed

[2019-07-24 12:43] DrSegatron commented on #3822
You mean a complete source? It is part of a kinda large project, but I can try to whittle it down to something that I can publish, tomorrow.

[2019-07-24 12:46] manish5897 opened #3825 "fatal error: eth_phy/phy_lan8720.h: No such file or directory (IDFGH-1565)"
## Environment
- Module or chip used:  [ESP32-WROOM-32]
- IDF version : v4.0-dev-1287-gd7e659df2
- Build System:         [Make]
- Compiler version : 1.22.0-80-g6c4433a
- Operating System:     [Linux]
- Power Supply:         [USB]

## Problem Description
The library eth_phy/phy_lan8720.h is not found in the esp-idf. May be the library is depreciate. It shows compilation error.

### Code to reproduc

[2019-07-24 12:57] freedaun commented on #1906
I just ran the installer, this is about https://docs.espressif.com/projects/esp-idf/en/latest/get-started/index.html#id9:

- `cd %userprofile%\esp\hello_world` doesn't work, there is no folder `esp`
- Surprise: the idf was installed on my desktop (I didn't see the box below the version selection), strange place to install in. Why not in `%userprofile%\esp-idf`, or `%userprofile%\esp\idf`?
- note,

[2019-07-24 13:33] igrr commented on #1906
Thanks, will correct the guide to explain that the path needs to be adjusted to the one used in the installer.

Regarding the default location where IDF is cloned, the normal place where "data" should be placed on Windows is the Documents folder. I am not sure why the default is currently "Desktop", we will correct that. Regarding installing into the root directory, I think this is not a recommend

[2019-07-24 13:40] liuzfesp commented on #3822
No, I mean the source that can replicate the issue because I just can't replicate the issue with IDF examples.

[2019-07-24 13:40] freedaun commented on #1906
Languages like Go and Lazarus do use that system. Short pathnames are more important than one might think, if only to prevent lines in the output from breaking up.

Yes, I uninstalled (.espressif itself wasn't deleted) and then reinstalled. Apparently all is fine.

I do think so, it is an important decision for many. But I'm sure if the default location was fine, that would make less of a differen

[2019-07-24 13:43] suda-morris commented on #3825
@manish5897 Yes, Ethernet driver has refactored in v4.0. Now we have a new approach to install the Ethernet driver. https://github.com/espressif/esp-idf/blob/master/examples/ethernet/basic/main/ethernet_example_main.c#L83

[2019-07-24 13:45] liuzfesp commented on #3725
Hi @enricop , the issue is fixed by f3f08fa7

[2019-07-24 13:49] liuzfesp commented on #2473
@Jegeva Could you help share if any updates for this issue? Thanks.

[2019-07-24 14:13] igrr commented on #1906
Sorry, a bit confused here: was your issue related to the location where IDF is cloned (Desktop) or where the tools are installed (%userprofile%\.espressif)? The latter is already set on a separate installer page. And the uninstall process doesn't remove IDF copy, only the tools in .espressif.

[2019-07-24 15:12] freedaun commented on #1906
No confusion here. This comment was about the uninstall, and insignificant.

[2019-07-24 15:29] freedaun commented on #1906
I have come to think about this a little more. The issue is more important than it seems, and shortness of paths is not the main issue.

When the default install uses `C:\esp`, all communication of both users and the docs (in their examples) can assume absolute paths, simplifying them greatly, and scripts and instructions work without customization.

In addition it would be possible to make a port

[2019-07-24 16:01] manish5897 commented on #3825
Let me know, the stable idf version in which #include "eth_phy/phy_lan8720.h" library is working fine.

[2019-07-24 16:11] an-dr commented on #1906
A few words about the install place.

As I know, user-installed apps are tending to install to `%appdata%/Local` (which is equal to `%userprofile/AppData/Local%`). For example, VS Code for user-only offers this folder:

![image](https://user-images.githubusercontent.com/4987803/61809151-6c08c000-ae45-11e9-87df-34f291a11103.png)

System-wide traditionally are installing to:
`C:\Program Files\VENDOR

[2019-07-24 17:11] syswombat opened #3826 "Download crosstool-NG and build it: (IDFGH-1566)"
on https://docs.espressif.com/projects/esp-idf/en/stable/get-started/linux-setup-scratch.html
calling up ./bootstrap && ./configure --enable-local && make install

i got a error:

checking for absolute path to patch... /usr/bin/patch
checking for bash... /bin/bash
checking for GNU bash >= 3.1... no
configure: error: Required tool not found: GNU bash >= 3.1

[2019-07-24 17:12] syswombat commented on #3826
https://docs.espressif.com/projects/esp-idf/en/stable/get-started/linux-setup-scratch.html

the Link
Follow instructions for standard setup to add the toolchain to your PATH.
are giving a error!

[2019-07-24 17:29] freedaun commented on #1906
The common install locations are perfect for when the user has no interaction with them, they keep the install out of the way and, additionally, grouped per user. For development "out of the way" is largely a negative.

I now ran my first build and it serves as an example of the impact of paths. Note I didn't find any project-migration instructions (from MSYS32 to CMake), so it failed. I got messa

[2019-07-25 01:47] projectgus commented on #1906
@freedaun Thanks for explaining this concern. I agree this is a legitimate difficulty (path noise in error messages) and we'll try to find a way to improve it if possible.

One request, could you please open a new issue describing this issue (feel free to link back to this discussion)? This thread already has a number of other discussions about different aspects of CMake in it, and it makes it har

[2019-07-25 01:49] projectgus commented on #1906
To everyone seeing this in the future: Please open new issues for new problems in CMake (if no other issue describes the problem you see), rather than replying here.

(I've locked this not because we don't care about CMake issues but because we do care about them, and tracking a number of discussions in a long thread makes it hard for us to address them all.)

[2019-07-25 01:52] Alvin1Zhang commented on #3826
Thanks for reporting the issue. Would you please help provide more details as suggested in the [issue template](https://github.com/espressif/esp-idf/blob/master/docs/issue_template.md)? Thanks. @syswombat

[2019-07-25 01:55] igrr commented on #3819
@allvto can you please check if this other suggested workaround helps? https://stackoverflow.com/a/55938363

[2019-07-25 02:08] suda-morris commented on #3825
@manish5897 Thank you. If you are going to try the new `esp-eth` driver, feel free to let us know when you come into trouble. Or would you mind to close this issue since it's not a real bug in v4.0?

[2019-07-25 02:45] DrSegatron commented on #3822
Closing this issue as it seems to be corruption the other way around. In moving from Make to CMake, a compilation flag shared between the main component and another was only applied to the main component and not the other, making the component allocate a [1] space array, while being used as a [7] space array. So I was using the TX/RX buffer space location, which of course got overwritten.

Moral o

[2019-07-25 02:45] #3822 closed

[2019-07-25 03:14] simonliu009 commented on #3817
建议切换idf版本后先运行 `git submodule update --init --recursive`试试看

[2019-07-25 05:33] syswombat commented on #3826
•Hardware: Raspberry PI 4, 4GB RAM
•Operating System: [Linux Buster (Debain 10)]
•Power Supply: [USB|external 5V]

Basicly i wished to install the esp32 on the Arduino IDE (Board Manager) but there came a error

Tool xtensa-esp32-elf-gcc is not available for your operating system.
java.lang.RuntimeException: java.lang.Exception: Tool xtensa-esp32-elf-gcc is not available for your operating system.

[2019-07-25 06:20] negativekelvin commented on #3826
So install bash then

https://github.com/espressif/esp-idf/issues/589

[2019-07-25 07:34] #3619 closed

[2019-07-25 07:34] #3215 closed

[2019-07-25 07:34] #3770 closed

[2019-07-25 08:46] rajaganapathy007 opened #3827 "unwanted 'as' interference (IDFGH-1567)"
Hi everyone I'm Ganapathy, This is my first post in Github

The problem I'm facing right is difficult to fix and didnt find any answer in google either

Here what I did
- Ubuntu 18.06 in virtualbox minimal OS
- cloned esp-idf framework into system
   - $IDF_PATH = /home/rajaganapathy/esp/esp-idf
- downloaded xtensa-esp32-elf-gcc8_2_0-esp32-2019r1-linux-amd64.tar.gz and extracted
   - export PATH=/

[2019-07-25 08:46] liuzfesp commented on #3592
Hi @PerMalmberg,
Why would this fail when there are 4Mb available?
WiFi management buffer is allocated from internal memory, although the total memory is 4Mb (internal/external memory), the internal memory may not be enough.

What other type values can be logged and what do they mean?
1 - TX buffer
2 - Long management buffer
3 - Short management buffer
4 - reserved
5 - reserved
6 - RX buffer